@font-face
  font-family 'gp'
  src url('../fonts/GothaProLig.woff') format('woff'), url(../fonts/GothaProLig.otf) format('opentype')
  font-style normal
  font-weight 200

@font-face
  font-family 'gp'
  src url('../fonts/GothaProLigIta.woff') format('woff'), url(../fonts/GothaProLigIta.otf) format('opentype')
  font-style italic
  font-weight 200

@font-face
  font-family 'gp'
  src url('../fonts/GothaProReg.woff') format('woff'), url(../fonts/GothaProReg.otf) format('opentype')
  font-style normal
  font-weight 400

@font-face
  font-family 'gp'
  src url('../fonts/GothaProIta.woff') format('woff'), url(../fonts/GothaProIta.otf) format('opentype')
  font-style italic
  font-weight 400

@font-face
  font-family 'gp'
  src url('../fonts/GothaProMed.woff') format('woff'), url(../fonts/GothaProMed.otf) format('opentype')
  font-style normal
  font-weight 600

@font-face
  font-family 'gp'
  src url('../fonts/GothaProMedIta.woff') format('woff'), url(../fonts/GothaProMedIta.otf) format('opentype')
  font-style italic
  font-weight 600

@font-face
  font-family 'gp'
  src url('../fonts/GothaProBol.woff') format('woff'), url(../fonts/GothaProBol.otf) format('opentype')
  font-style normal
  font-weight 700

@font-face
  font-family 'gp'
  src url('../fonts/GothaProBolIta.woff') format('woff'), url(../fonts/GothaProBolIta.otf) format('opentype')
  font-style italic
  font-weight 700

@font-face
  font-family 'gp'
  src url('../fonts/GothaProBla.woff') format('woff'), url(../fonts/GothaProBla.otf) format('opentype')
  font-style normal
  font-weight 800

@font-face
  font-family 'gp'
  src url('../fonts/GothaProBlaIta.woff') format('woff'), url(../fonts/GothaProBlaIta.otf) format('opentype')
  font-style italic
  font-weight 800
