<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header--group %>

<div class="container">

  <div class="panel panel-success">
    <div class="panel-heading">
      Возврат пошлины
    </div>
    <div class="panel-body">

      <p>
        Возврат заблокированных средств выполнен.
      </p>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Сотрудник</label>
          <div class="col-sm-6">
            <p class="form-control-static">Ivanov Ivan</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Время</label>
          <div class="col-sm-6">
            <p class="form-control-static">13.06.2014 12:34</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Сумма</label>
          <div class="col-sm-6">
            <p class="form-control-static">43 €</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <% include includes/client-ui/parcel/group-bottom %>

</div>

<% include includes/layout/outro %>
