<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header %>

<div class="container">




  <div class="panel panel-warning" id="damaged-widget">
    <div class="panel-heading">
      Упаковка посылки повреждена
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/u366.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/u366.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/u366.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/u366.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/u366.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/u366.jpg">
          </a>
        </div>
      </div>

      <p>
        Угол упаковки помят. Предположительно следствие удара.
        Большая вероятность того, что содержимое посылки может быть повреждено.
      </p>

      <h4 style="display:none" data-state="open-2 open-3 open-claim">Посылка была вскрыта</h4>

      <div class="row" style="display:none" data-state="open-2 open-3 open-claim">
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/2.jpg" data-lightbox="parcel-damaged-photos-1" class="thumbnail">
            <img src="../images/samples/unboxing/2.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/3.jpg" data-lightbox="parcel-damaged-photos-1" class="thumbnail">
            <img src="../images/samples/unboxing/3.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/4.jpg" data-lightbox="parcel-damaged-photos-1" class="thumbnail">
            <img src="../images/samples/unboxing/4.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/5.jpg" data-lightbox="parcel-damaged-photos-1" class="thumbnail">
            <img src="../images/samples/unboxing/5.jpg">
          </a>
        </div>
      </div>

      <p data-state="open-2 open-3 open-claim">
        Выявлено наличие повреждений у наушников и керамической фигурки.
      </p>



      <hr>

      <div data-state="initial">
        <div class="radio">
          <label>
            <input type="radio" name="what-to-do-1" value="open-1">
            Вскрыть посылку и проверить целостность содержимого
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="what-to-do-1" value="claim">
            Предъявить претензии почтовой службе<br>
            <small>Посылка не вскрывается. Наши менеджеры свяжутся с вами для уточнения деталей.</small>
          </label>
        </div>
        <br>
        <div>
          <button class="btn btn-primary" disabled id="continue-btn-1">Продолжить</button> &nbsp;
          <a href="parcel" class="btn btn-default">Закрыть проблему</a>
        </div>
      </div>

      <!-- выбрал "Вскрыть посылку ..." и нажал продолжить -->
      <div data-state="open-1" style="display:none">
        <p>
          Ожидание вскрытия посылки ...<br>
          <button class="btn btn-default btn-xs" data-go-state="open-2">
            Нажмите для имитации действия сотрудника склада
          </button>
        </p>
        <button class="btn btn-primary" data-go-state="initial">Отменить</button>
      </div>

      <!-- сотрудник вскрыл посылку -->
      <div data-state="open-2" style="display:none">
        <div class="radio">
          <label>
            <input type="radio" name="what-to-do-2" value="open-3">
            Упаковать посылку и подготовить ее к выдаче<br>
            <small>О готовности посылки мы дополнительно сообщим.</small>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="what-to-do-2" value="open-claim">
            Предъявить претензии почтовой службе<br>
            <small>Наши менеджеры свяжутся с вами для уточнения деталей.</small>
          </label>
        </div>
        <br>
        <div>
          <button class="btn btn-primary" disabled id="continue-btn-2">Продолжить</button> &nbsp;
        </div>
      </div>

      <!-- выбрал "Упаковать посылку ..." и нажал продолжить -->
      <div data-state="open-3" style="display:none">
        <p>
          Подготовка посылки к выдаче ...
        </p>
      </div>

      <!-- выбрал "Предъявить претензии ..." (на любом шаге) и нажал продолжить -->
      <div data-state="claim open-claim" style="display:none">
        <p>
          Наши менеджеры свяжутся с вами для уточнения всей информации.
          По всем вопросам можете звонить 8-800-200-65-90.
        </p>
      </div>

    </div>
  </div>

  <script type="text/javascript">
    $('#damaged-widget').each(function(){
      wrap = this;

      $('[name=what-to-do-1]', wrap).change(function() {
        $('#continue-btn-1', wrap).prop('disabled', false);
      });

      $('[name=what-to-do-2]', wrap).change(function() {
        $('#continue-btn-2', wrap).prop('disabled', false);
      });

      function setState(name) {
        $('[data-state]', wrap).hide();
        $('[data-state~="' + name + '"]', wrap).show();
      }

      $('#continue-btn-1', wrap).click(function(){
        setState($('[name=what-to-do-1]:checked', wrap).val());
      });

      $('#continue-btn-2', wrap).click(function(){
        setState($('[name=what-to-do-2]:checked', wrap).val());
      });

      $('[data-go-state]', wrap).click(function(){
        setState($(this).data('go-state'));
      });

    });
  </script>


  <% include includes/client-ui/parcel/not-editable-info %>

</div>


<% include includes/client-ui/parcel/proxy-person-modal %>
<% include includes/client-ui/parcel/issue-modal %>
<% include includes/client-ui/parcel/return-modal %>
<% include includes/client-ui/parcel/move-modal %>
<% include includes/client-ui/parcel/extra-photos-modal %>


<% include includes/layout/outro %>
