<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header--group %>

<div class="container">



  <div class="panel panel-warning">
    <div class="panel-heading">
      Возврат пошлины
    </div>
    <div class="panel-body">

      <p>
        Сотрудники обработают вашу заявку и совершат все необходимые
        действия для осуществления возврата пошлины.
      </p>

      <h4>Загруженная квитанция</h4>

      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/doc-photos/u456.jpg" data-lightbox class="thumbnail">
            <img src="../images/samples/doc-photos/u456.jpg">
          </a>
        </div>
      </div>

      <p>
        Для дополнительной информации обращайтесь по телефону 8 800 200-58-30.
      </p>

    </div>
  </div>

  <% include includes/client-ui/parcel/group-bottom %>

</div>

<% include includes/layout/outro %>
