<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header %>

<div class="container">



  <div class="alert alert-danger" role="alert">
    Ваша посылка была потеряна и поэтому списана.
    Для вас будет произведена компенсация ее стоимости.
    С вами свяжутся наши менеджеры для уточнения деталей и выдачи компенсации.
    Телефон для справок 8-800-200-56-97.
    Приносим свои извинения за неудобства.
  </div>

  <div class="alert alert-success" role="alert">
    Компенсация выдана: <strong>43 €</strong>
    <div style="width:100px;margin-top:10px;margin-bottom:-20px;">
      <a href="../images/samples/doc-photos/u434.jpg" data-lightbox="parcel-photos" class="thumbnail">
        <img src="../images/samples/doc-photos/u434.jpg">
      </a>
    </div>
  </div>

  <% include includes/client-ui/parcel/not-editable-info %>

</div>


<% include includes/client-ui/parcel/proxy-person-modal %>
<% include includes/client-ui/parcel/issue-modal %>
<% include includes/client-ui/parcel/return-modal %>
<% include includes/client-ui/parcel/move-modal %>
<% include includes/client-ui/parcel/extra-photos-modal %>


<% include includes/layout/outro %>
