<% include includes/client-ui/intro %>


<div class="container">

  <h1>Оплата</h1>
  <br><br>

  <% var PAYMENT_FORM_LINK = 'payment--result.html' %>
  <% include includes/issuance/payment-form %>

  <br>
  <br>
  <br>


</div>

<script type="text/javascript">

</script>

<% include includes/layout/outro %>
