<% include includes/client-ui/intro %>


<div class="container">

  <h1>
    Оплата<br>
    <small>Отметьте позиции для оплаты.</small>
  </h1>

  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Трекинг</th>
        <th>Продавец</th>
        <th>Доверенность</th>
        <th>
          На складе с
          <i class="fa fa-question-circle icon-btn"
            data-container="body" data-toggle="popover" data-placement="top"
            data-trigger="hover click"
            data-content="Рядом знак вопроса, при клике на него будет открываться попап с инфой об условиях хранения и почему возникает за это долг. При этом в этой колонке дата и время могут быть красного цвета если произошла просрочка"
          ></i>
        </th>
        <th>Cтатус</th>
        <th>Задолженность</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1Z6R646E0319744877</td>
        <td>Google</td>
        <td>Alekseev Vladislav</td>
        <td>08.06.2014 13:05</td>
        <td>готовая к подбору</td>
        <td>
          <div class="checkbox" style="margin:0">
            <label>
              <input type="checkbox" data-price="11">
              <strong>11 €</strong> (0 пошлина, 11 за услуги)
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>1Z6R646E0319744871</td>
        <td>Apple</td>
        <td>&mdash;</td>
        <td>11.06.2014 11:35</td>
        <td>проблемная</td>
        <td>
          <div class="checkbox" style="margin:0">
            <label>
              <input type="checkbox" data-price="13">
              <strong>13 €</strong> (10 пошлина, 3 за услуги)
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>1Z6R646E0319744872</td>
        <td>Microsoft</td>
        <td>&mdash;</td>
        <td>10.06.2014 21:01</td>
        <td>требует действий</td>
        <td>
          <div class="checkbox" style="margin:0">
            <label>
              <input type="checkbox" data-price="5">
              <strong>5 €</strong> (5 пошлина, 0 за услуги)
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <th colspan="5"></th>
        <th>Итого:</th>
        <td class="text-center js-sum">0 €</td>
      </tr>
    </tbody>
  </table>
  </div>

  <hr>
  <form action="payment--payment.html" class="clearfix">
    <button class="btn btn-success btn-lg js-payment-btn" disabled>Перейти к оплате</button>
    <strong class="js-sum lead" style="margin-left:.5em;display:none;">0 €</strong>
  </form>

  <br>
  <br>
  <br>


</div>

<script type="text/javascript">
  (function(){

    var sum = 0;

    function update() {
      $('.js-sum').text(sum + ' €');
      $('.js-payment-btn').prop('disabled', sum === 0);
      $('.js-payment-btn + .js-sum').toggle(sum > 0);
    }

    $('[data-price]').change(function(){
      if ($(this).prop('checked')) {
        sum += $(this).data('price');
      } else {
        sum -= $(this).data('price');
      }
      update()
    });





  }())
</script>

<% include includes/layout/outro %>
