<% var CLIENT_UI__INTRO__SETTINGS = true %>
<% include includes/client-ui/intro %>


<div class="container">


  <br>
  <div class="form-horizontal">

    <div class="form-group">
      <label for="tmp-id-1" class="col-sm-2 control-label">Имя</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="tmp-id-1" value="Oleg">
        <span class="help-block">Как в загранпаспорте, латиницей</span>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-2" class="col-sm-2 control-label">Фамилия</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="tmp-id-2" value="Petrov">
        <span class="help-block">Как в загранпаспорте, латиницей</span>
      </div>
    </div>

    <div class="form-group">
      <label for="default-storage-input-1" class="col-sm-2 control-label">Склад по умолчанию</label>
      <div class="col-sm-6">
        <select class="form-control" id="default-storage-input-1">
          <option value="Лаппеенранта">Лаппеенранта</option>
          <option value="Иматра">Иматра</option>
          <option value="Третий">Третий</option>
        </select>
      </div>
    </div>


  </div>

  <hr>

  <h3>Способы оповещения</h3>

  <p>
    Выберите способы оповещения о новых посылках
    и других изменениях статусов ваших посылок.
  </p>

  <br>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-2 text-right">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" checked> Вкл.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2"> Выкл.
          </label>
        </div>
      </div>
      <div class="col-sm-9">
        <p class="form-control-static">Оповещать по мобильному (СМС)</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 text-right">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" checked> Вкл.
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2"> Выкл.
          </label>
        </div>
      </div>
      <div class="col-sm-9">
        <p class="form-control-static">Оповещать по электронной почте</p>
      </div>
    </div>
  </div>
  <br>

  <hr>

  <p>
    Для изменения электронной почты или номера мобильного
    телефона введите новые значения и нажмите кнопку изменить.
  </p>
  <br>

  <div class="form-horizontal">

    <div class="form-group js-with-confirm">
      <label for="tmp-id-10" class="col-sm-2 control-label">Электронная почта</label>
      <div class="col-sm-4 js-with-confirm__alternate">
        <input type="text" class="form-control js-with-confirm__main-field"
          id="tmp-id-10" value="oleg-petrov@exaple.com"
        >
      </div>
      <div class="col-sm-6 js-with-confirm__alternate">
        <button disabled
          class="btn btn-primary js-with-confirm__toggle js-with-confirm__main-btn"
        >Изменить</button>
      </div>
      <div class="col-sm-2 hidden js-with-confirm__alternate">
        <input type="text" class="form-control js-with-confirm__confirm-field" id="tmp-id-10">
      </div>
      <div class="col-sm-2 hidden js-with-confirm__alternate">
        <button disabled
          class="btn btn-primary js-with-confirm__toggle js-with-confirm__confirm-btn"
        >Подтвердить</button>
      </div>
      <div class="col-sm-6 hidden js-with-confirm__alternate">
        <button class="btn btn-default js-with-confirm__toggle js-with-confirm__cancel-btn">Отмена</button>
      </div>
      <div class="col-sm-10 col-sm-offset-2 hidden js-with-confirm__alternate">
        <span class="help-block">
          На <span class="js-with-confirm__val-txt"></span> было отправлено письмо для подтверждения.<br>
          Введите код или пройдите по ссылке из письма.<br>
          Код и ссылка активны в течение 10 минут.
        </span>
      </div>
    </div>

    <div class="form-group js-with-confirm">
      <label for="tmp-id-10" class="col-sm-2 control-label">Номер мобильного</label>
      <div class="col-sm-4 js-with-confirm__alternate">
        <input type="text" class="form-control js-with-confirm__main-field"
          id="tmp-id-10" value="+71234567890"
        >
      </div>
      <div class="col-sm-6 js-with-confirm__alternate">
        <button disabled
          class="btn btn-primary js-with-confirm__toggle js-with-confirm__main-btn"
        >Изменить</button>
      </div>
      <div class="col-sm-2 hidden js-with-confirm__alternate">
        <input type="text" class="form-control js-with-confirm__confirm-field" id="tmp-id-10">
      </div>
      <div class="col-sm-2 hidden js-with-confirm__alternate">
        <button disabled
          class="btn btn-primary js-with-confirm__toggle js-with-confirm__confirm-btn"
        >Подтвердить</button>
      </div>
      <div class="col-sm-6 hidden js-with-confirm__alternate">
        <button class="btn btn-default js-with-confirm__toggle js-with-confirm__cancel-btn">Отмена</button>
      </div>
      <div class="col-sm-10 col-sm-offset-2 hidden js-with-confirm__alternate">
        <span class="help-block">
          На <span class="js-with-confirm__val-txt"></span> было отправлено СМС с кодом.<br>
          Введите код для подтверждения нового номера.<br>
          Код активен в течение 10 минут.
        </span>
      </div>
    </div>

  </div>

  <br>
  <hr>

  <div class="form-horizontal">

    <div class="form-group">
      <label for="tmp-id-20" class="col-sm-2 control-label">Новый пароль</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="tmp-pass-1">
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-21" class="col-sm-2 control-label">Еще раз новый пароль</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="tmp-pass-2">
        <span class="help-block hidden">Введенные пароли не совпадают.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" id="change-pass-btn-1" disabled>Сменить пароль</button>
      </div>
    </div>


  </div>


  <br><br>

</div>

<script type="text/javascript">
  $('.js-with-confirm').each(function() {

    var pref = '.js-with-confirm__';
    var $alternateElements = $(pref + 'alternate', this);
    var $toggleBtns = $(pref + 'toggle', this);
    var $mainField = $(pref + 'main-field', this);
    var $confirmField = $(pref + 'confirm-field', this);
    var $mainBtn = $(pref + 'main-btn', this);
    var $confirmBtn = $(pref + 'confirm-btn', this);
    var $cancelBtn = $(pref + 'cancel-btn', this);
    var $valueText = $(pref + 'val-txt', this);

    var curVal = $mainField.val();

    $mainField.on('keyup change', function() {
      $mainBtn.prop('disabled', $mainField.val() === '' || $mainField.val() === curVal);
    });

    $confirmField.on('keyup change', function() {
      $confirmBtn.prop('disabled', $confirmField.val() === '');
    });

    $mainBtn.click(function() {
      $valueText.text($mainField.val());
    });

    $confirmBtn.click(function() {
      curVal = $mainField.val();
      $mainField.change();
      $confirmField.val('').change();
    });

    $cancelBtn.click(function() {
      $mainField.val(curVal).change();
      $confirmField.val('').change();
    });

    $toggleBtns.click(function() {
      $alternateElements.toggleClass('hidden');
    });

  });



  $('#tmp-pass-1, #tmp-pass-2').on('change keyup', function() {
    var notEmpty = $('#tmp-pass-1').val() && $('#tmp-pass-2').val();
    var same = $('#tmp-pass-1').val() === $('#tmp-pass-2').val();
    $('#change-pass-btn-1').prop('disabled', !notEmpty || !same);
  });

  $('#tmp-pass-2').on('keyup change', function() {
    var ok = ($('#tmp-pass-1').val() === $('#tmp-pass-2').val());
    $('#tmp-pass-2').parent().toggleClass('has-error', !ok);
    $('#tmp-pass-2').siblings('.help-block').toggleClass('hidden', ok);
  });
</script>















<% include includes/client-ui/move-parcels-modal %>

<script type="text/javascript">
  $('.js-move-parcel-checkbox').change(function() {
    $('.js-move-parcel-sum').text($('.js-move-parcel-checkbox:checked').length * 5);
  });
  $('#default-storage-input-1').change(function() {
    $('#move-parcel-modal').modal('show');
  });
</script>


















<% include includes/layout/outro %>
