<span class="parcel-info__label"><?php echo $this->__('К оплате') ?></span>
<span class="parcel-info__value"><?php echo $this->__('Инфомация об оплате будет доступна после окончательной обработки посылки.') ?></span>