<div class="parcels-list parcels-list--action-needed js-parcels-wathc-scroll">

    <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
        <div class="parcels-list__head">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2><?php echo $this->__('Оформление данных посылок требует вашего участия') ?></h2>

                        <p class="parcels-list__head__sub-title">
                            <?php echo $this->__('Это необходимо для оформления транзитных документов, чтобы мы, как ваш таможенный агент, могли забрать ваши посылки с финской таможни') ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?php
    $bottom1 = "info-required-bottom1.phtml";
    $bottom2 = "info-required-bottom2.phtml";
    require "dashboard-parcel.phtml";
    ?>
</div>