<div class="parcels-list parcels-list--ready js-parcels-wathc-scroll">
    <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
        <div class="parcels-list__head">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2><?php echo $this->__('Приятных вам покупок. Ваши посылки будут отображаться здесь.') ?></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>