<?php
/** @var $this Mage_Customer_Block_Account_Dashboard */
?>

<?php $refundableAmount = Mage::helper('pochta')->getRefundableAmount($parcel); ?>
<?php $nonRefundableAmount = Mage::helper('pochta')->getNonRefundableAmount($parcel); ?>
<?php $total = $nonRefundableAmount + $refundableAmount; ?>

<?php if ($parcel->getStatePayment() == Mage::registry('state_payment_paid')) : ?>
    <span class="parcel-info__label"><span class="icon icon-ok"></span></span>
    <span class="parcel-info__value">
        <?php if ($refundableAmount > 0) : ?>
            <strong>€ <?php echo $refundableAmount ?></strong><?php echo $this->__(' — мы вернем вам эту сумму, когда вы заберете посылку и пересечёте границу') ?>
        <?php endif; ?>
    </span>
<?php else : ?>
    <span class="parcel-info__label"><?php echo $this->__('К оплате') ?></span>
    <?php if ($total > 0) : ?>
        <?php if ($refundableAmount > 0) : ?>
            <span class="parcel-info__value">30% (€ <?php echo $refundableAmount ?>)
                <span class="icon icon-help popover__target js-popover-target">
                    <div class="popover popover--for-round-icon js-popover">
                        <div class="popover__content">
                            <?php echo $this->__('Таможенный депозит, который мы вернём вам, как только вы покинете территорию ЕС') ?>
                        </div>
                    </div>
                </span>
                <?php if ($nonRefundableAmount > 0) : ?>
                    + € <?php echo $nonRefundableAmount; ?>
                <?php endif; ?>
            </span>
        <?php else: ?>
            <span class="parcel-info__value">
                € <?php echo $nonRefundableAmount; ?>
            </span>
        <?php endif; ?>
    <?php else: ?>
        <span class="parcel-info__value"><?php echo $this->__('Бесплатно') ?></span>
    <?php endif; ?>
<?php endif; ?>