<?php
/** @var $this Mage_Customer_Block_Account_Dashboard */
?>

<?php if (Mage::helper('pochta')->getRefundableAmount($parcel) > 0) : ?>

<?php if ($parcel->getStatePayment() == Mage::registry('state_payment_deposit_returned')) : ?>
    <!--    <span class="parcel-info__value"><?php echo $this->__('Поздравляем !') ?></span> -->
<?php else : ?>
<!--    <a href="#TODO" class="btn btn-block btn-blue"><?php echo $this->__('Сообщить') ?></a> -->
<?php endif; ?>

<?php endif; ?>