<?php
/** @var $this Mage_Customer_Block_Account_Dashboard */
?>

<?php if (Mage::helper('pochta')->getRefundableAmount($parcel) > 0) : ?>

<?php if ($parcel->getStatePayment() == Mage::registry('state_payment_deposit_returned')) : ?>
    <span class="parcel-info__label"><span class="icon icon-ok"></span></span>
    <span class="parcel-info__value">
        <?php echo $this->__('Возвращённый депозит') ?><br/><strong>€ <?php echo Mage::helper('pochta')->getRefundableAmount($parcel) ?></strong>
    </span>
<?php else : ?>
    <span class="parcel-info__label"><?php echo $this->__('Возврат пошлины') ?></span>
    <span class="parcel-info__value"><strong>€ <?php echo Mage::helper('pochta')->getRefundableAmount($parcel) ?></strong>
        <span class="icon icon-help popover__target js-popover-target">
            <div class="popover popover--for-round-icon js-popover">
                <div class="popover__content">
                    <?php echo $this->__('Эту сумму мы вернем вам в течение суток после того, как вы заберете посылку и пересечете границу.') ?>
                </div>
            </div>
        </span>
        <br/>
        <span class="parcel-info__info-note">
            <?php echo $this->__('Сообщите нам, если деньги не вернулись') ?>
        </span>
    </span>
<?php endif; ?>

<?php endif; ?>