<% include includes/layout/intro %>


<% include includes/issuance/header %>


<div class="container">

  <h1>
    Мы готовим ваши посылки к выдаче.<br>
    <small>Пожалуйста, следите за очередью на табло.</small>
  </h1>

  <p>Ваше имя <strong>(Oleg P.)</strong> будет указано на табло.</p>

  <br>
  <br>

  <a href="search.html" class="btn btn-primary">Закрыть</a>

</div>



<% include includes/layout/outro %>
