<% include includes/layout/intro %>


<% include includes/issuance/header %>


<div class="container">

  <h1>
    2. Посылка: K3706851
  </h1>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th width="1%"></th>
        <th>Номер посылки</th>
        <th>Магазин</th>
        <th width="1%">Пошлина&nbsp;(€)</th>
        <th width="1%">Услуга&nbsp;(€)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" checked></td>
        <td>K0658163</td>
        <td>Amazon</td>
        <td>
          14<br>
          <span class="label label-success">Оплачено</span>
        </td>
        <td>
          65<br>
          <span class="label label-success">Оплачено</span>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Так же вы можете оплатить и забрать другие посылки</h3>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th width="1%"><input type="checkbox" data-toggle-all=".js-parcel-checkbox"></th>
        <th>Номер посылки</th>
        <th>Магазин</th>
        <th width="1%">Пошлина&nbsp;(€)</th>
        <th width="1%">Услуга&nbsp;(€)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>K0658163</td>
        <td>Amazon</td>
        <td>14</td>
        <td>65</td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>K0658163</td>
        <td>Amazon</td>
        <td>14</td>
        <td>65</td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>K0658163</td>
        <td>Amazon</td>
        <td>14</td>
        <td>65</td>
      </tr>
      <tr>
        <th colspan="3">Итог:</th>
        <td id="sum-a-tmp-1">0</td>
        <td id="sum-b-tmp-1">0</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <a href="number-prepaid.html" class="btn btn-primary" id="payment-btn-tmp-id-1">Продолжить</a>

</div>


<script type="text/javascript">
  (function(){

    var countChecked = 0;
    $('.js-parcel-checkbox').on('change', function() {
      if ($(this).prop('checked')) {
        countChecked++;
      } else {
        countChecked--;
      }
      update();
    });
    function update() {
      if (countChecked) {
        $('#payment-btn-tmp-id-1').attr('href', 'number.html');
      } else {
        $('#payment-btn-tmp-id-1').attr('href', 'number-prepaid.html');
      }
      $('#sum-a-tmp-1').text(14 * countChecked);
      $('#sum-b-tmp-1').text(65 * countChecked);
    }

  }())
</script>


<% include includes/layout/outro %>
