<% include includes/layout/intro %>


<% include includes/issuance/header %>

<style type="text/css">
  .all-center {
    margin: 200px auto 0;
    max-width: 800px;
  }
  @media (max-height: 600px) {
    .all-center {
      margin-top: 60px;
    }
  }
  @media (max-height: 330px) {
    .all-center {
      margin-top: 0;
    }
  }
</style>


<div class="container">

  <div class="all-center">

    <h2>Введите номер сьюта, трекинг, номер загранпаспорта или номер посылки</h2>

    <form action="search-error.html" id="form-tmp-id-1">
      <div class="form-group" id="search-form-group-1">
        <input type="text" class="form-control" id="input-tmp-id-1" placeholder="вводите «сьют», «посылка» или «ошибка» в режиме прототипа">
        <span class="help-block hidden">
          <strong>По данному номеру ничего нет</strong><br>
          Пожалуйста, проверьте правильность вводимого номера или обратитесь к менеджеру.
        </span>
      </div>
      <input type="submit" value="Искать" class="btn btn-primary">
    </form>

  </div>


</div>

<script type="text/javascript">
  $('#input-tmp-id-1').change(function() {
    var target = 'search-error';
    switch($('#input-tmp-id-1').val()) {
      case 'сьют': target = 'suite'; break;
      case 'посылка': target = 'parcel'; break;
    }
    $('#form-tmp-id-1').attr('action', '' + target + '.html')
  });

  $('#form-tmp-id-1').submit(function(){
    if ($('#form-tmp-id-1').attr('action') === 'search-error.html') {
      $('#search-form-group-1').addClass('has-error')
        .find('.help-block').removeClass('hidden');
      return false;
    }
  })
</script>

<% include includes/layout/outro %>
