<?php
/** @var $_productCollection Mage_Catalog_Model_Resource_Product_Collection */
$_productCollection = Mage::getModel('catalog/product')->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('type_id', 'bundle');
//    ->addAttributeToFilter('status', 1)
//    ->addAttributeToFilter('visibility', 4)
//    ->setOrder('price', 'ASC');
//var_dump($_productCollection);

?>

<div class="container">

<!-- Nav tabs -->
<div>
    <table>
        <tr>
            <td><?php echo $this->__('Физическое состояние') ?></td>
            <td><?php echo $this->__('Таможенное состояние') ?></td>
            <td><?php echo $this->__('Состояние оплаты') ?></td>
            <td><?php echo $this->__('Управляющее состояние') ?></td>
            <td><?php echo $this->__('Местонахождение') ?></td>
        </tr>
        <tr>
            <td>
                <select id="state_physical" name="state_physical" title="<?php echo $this->__('Физическое состояние') ?>" class="form-control validate-select required-entry" onchange="applyFilters()">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_physical')->getSource()->getAllOptions();?>
                    <?php foreach ($options as $option):?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td>
                <select id="state_custom" name="state_custom" title="<?php echo $this->__('Таможенное состояние') ?>" class="form-control validate-select required-entry" onchange="applyFilters()">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_custom')->getSource()->getAllOptions();?>
                    <?php foreach ($options as $option):?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td>
                <select id="state_payment" name="state_payment" title="<?php echo $this->__('Состояние оплаты') ?>" class="form-control validate-select required-entry" onchange="applyFilters()">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_payment')->getSource()->getAllOptions();?>
                    <?php foreach ($options as $option):?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td>
                <select id="state_control" name="state_control" title="<?php echo $this->__('Управляющее состояние') ?>" class="form-control validate-select required-entry" onchange="applyFilters()">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_control')->getSource()->getAllOptions();?>
                    <?php foreach ($options as $option):?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td>
                <select id="box_store" name="box_store" title="<?php echo $this->__('Местонахождение') ?>" class="form-control validate-select required-entry" onchange="applyFilters()">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('box_store')->getSource()->getAllOptions(); ?>
                    <?php foreach ($options as $option):?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                    <?php endforeach;?>
                </select>
            </td>
        </tr>
    </table>

</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="tab-main">
    <br>

    <form role="form" class="bottom-buffer">
        <div class="row">
            <div class="col-xs-12">
                <input type="search" class="form-control" placeholder="<?php echo $this->__("Поиск") ?>">
            </div>
        </div>
    </form>

    <table class="table table-condensed sorted-table" id="parcels">
        <thead>
        <tr>
            <th class="sorted-asc"><?php echo $this->__("Номер посылки") ?></th>
            <th><?php echo $this->__("Сьют") ?></th>
            <th><?php echo $this->__("Фамилия и имя") ?></th>
            <th><?php echo $this->__("Трекинг") ?></th>
            <th><?php echo $this->__("Склад") ?></th>
            <th><?php echo $this->__("Происхождение") ?></th>
            <th><?php echo $this->__("Статус оплаты") ?></th>
        </tr>
        </thead>
        <tbody>

        <?php foreach ($_productCollection as $product): ?>
        <tr id="<?php echo $product->getSku() ?>" class="parcel_item <?php echo 'state_physical_'.$product->getStatePhysical() ?> <?php echo 'state_custom_'.$product->getStateCustom() ?> <?php echo 'state_payment_'.$product->getStatePayment() ?> <?php echo 'state_control_'.$product->getStateControl() ?> <?php echo 'box_store_'.$product->getBoxStore() ?>" >
            <td>
                <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $product->getId()) ?>"><?php echo $product->getSku() ?></a>
            </td>
            <td>
                <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $product->getId()) ?>"><?php echo $product->getBoxSuiteNum() ?></a>
            </td>
            <td>
                <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $product->getId()) ?>"><?php echo $product->getConsigneeName() ?></a>
            </td>
            <td><?php echo $product->getBoxTrackingNum() ?></td>
            <td><?php echo $product->getAttributeText('box_store') ?></td>
            <td><?php echo $product->getAttributeText('box_origin') ?></td>
            <td><?php echo $product->getAttributeText('state_payment') ?></td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

</div>

</div>


</div>


<script type="text/javascript">
    function applyFilters() {
        $('tr.parcel_item').each(function () {
            $(this).show();
            if ($('#state_physical').val() != "" && !$(this).hasClass('state_physical_' + $('#state_physical').val())) $(this).hide();
            if ($('#state_custom').val() != "" && !$(this).hasClass('state_custom_' + $('#state_custom').val())) $(this).hide();
            if ($('#state_payment').val() != "" && !$(this).hasClass('state_payment_' + $('#state_payment').val())) $(this).hide();
            if ($('#state_control').val() != "" && !$(this).hasClass('state_control_' + $('#state_control').val())) $(this).hide();
            if ($('#box_store').val() != "" && !$(this).hasClass('box_store_' + $('#box_store').val())) $(this).hide();
        });
    }
</script>