<div class="container">

    <h2>Оплата прошла успешно.<br/>Ваши посылки ждут вас!</h2>

    <script type="text/javascript">
        setTimeout(function () {
            location.href = '/customer/account/';
        }, 500);
    </script>

</div>