<?php
$parcelId = $_POST["parcelId"];
$customer = Mage::getSingleton('customer/session')->getCustomer();
?>

<div class="settings-block settings-block--alt-bg">
    <div class="container">

        <h2><?php echo $this->__("Укажите информацию, используемую для выставления счетов (billing address)") ?></h2>

        <form action="/pochta/payments/billingInfoPost" method="POST" class="settings-pass-form">

            <?php if (Mage::app()->getRequest()->getParam('error')): ?>
                <p class="form-error">
                    <?php echo $this->__("Проверьте правильность информации или обратитесь к менеджеру") ?>
                </p>
            <?php endif; ?>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="firstname" name="firstname" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Имя, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $customer->getFirstname() ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="lastname" name="lastname" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Фамилия, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $customer->getLastname() ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="consignee_address_line" name="consignee_address_line" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Адрес, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $customer->getDefaultBillingAddress() ? $customer->getDefaultBillingAddress()->getStreet()[0] : '' ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="consignee_address_city" name="consignee_address_city" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Город, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $customer->getDefaultBillingAddress() ? $customer->getDefaultBillingAddress()->getCity() : '' ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <?php
                    $countryId = $customer->getDefaultBillingAddress() ? $customer->getDefaultBillingAddress()->getCountryId() : 'RU';
                    ?>
                    <div class="form-group">
                        <select name="consignee_address_country" class="text-input js-fix-ph">
                            <option <?php echo ($countryId == 'RU' ? 'selected' : '')  ?> value="RU"><?php echo $this->__("Россия") ?></option>
                            <option <?php echo ($countryId == 'UA' ? 'selected' : '')  ?> value="UA"><?php echo $this->__("Украина") ?></option>
                            <option <?php echo ($countryId == 'FI' ? 'selected' : '')  ?> value="FI"><?php echo $this->__("Финляндия") ?></option>
                            <option <?php echo ($countryId == 'NA' ? 'selected' : '')  ?> value="NA"><?php echo $this->__("Другая") ?></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="consignee_address_postcode" name="consignee_address_postcode" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Индекс, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $customer->getDefaultBillingAddress() ? $customer->getDefaultBillingAddress()->getPostcode() : '' ?>" />
                    </div>
                </div>
            </div>


            <input type="hidden" name="parcelId" value="<?php echo $parcelId ?>">

            <div class="form-submit">
                <div class="row">
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__("Далее") ?></button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>