<div class="payment-error-page">
    <div class="container">
        <img class="payment-error-page__icon" src="<?php echo $this->getSkinUrl('images/icons/error-time.svg') ?>">
        <h2><?php echo $this->__('Что-то пошло не так. Попробуйте<br/>еще раз.') ?></h2>
        <p>
            <?php echo $this->__('Ваши деньги не списались, возможен временный сбой.<br>Приносим свои извинения за неудобства.') ?>
        </p>
        <p><?php echo Mage::registry('errorDesc'); ?></p>
        <br/>
        <div class="row">
            <div class="col-2">
                <a href="<?php echo $this->getUrl('customer/account'); ?>" class="btn btn-block btn-orange">
                    <?php echo $this->__('Вернуться к посылкам'); ?>
                </a>
            </div>
<!--
            <div class="col-2">
                <a href="#TODO" class="btn btn-block btn-orange">
                    Попробовать еще раз
                </a>
            </div>
            <div class="col-2">
                <a href="#TODO" class="btn btn-block btn-black">
                    Оплачу потом
                </a>
            </div>
-->
        </div>
    </div>
</div>