<?php
/** @var $parcel Mage_Catalog_Model_Product */

$postBackUrl = $isReception ? $this->getUrl('pochta/parcelreception/createParcel') : $this->getUrl('pochta/storage/saveParcel');

?>

<form action="<?php echo $postBackUrl ?>" method="post" enctype="multipart/form-data">

<input type="hidden" name="product_id" id="product_id" value="<?php echo $parcel->getId() ?>" />

<!--
  <div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="hard-to-undentify-1"><?php echo $this->__("Тяжело опознаваемая посылка") ?></label>
    <div class="col-sm-10">
      <div class="checkbox-toggle">
        <label>
          <input type="checkbox" id="hard-to-undentify-1">
          <div class="checkbox-toggle__ui"></div>
        </label>
      </div>
    </div>
  </div>
</div>

<br/><br/>
-->

<?php if (!$isReception) : ?>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->__("Тип посылки") ?></label>

            <div class="col-sm-10">
                <div class="btn-group" data-toggle="buttons">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('box_origin')->getSource()->getAllOptions(false);?>
                    <?php foreach ($options as $option):?>
                        <label class="btn btn-primary<?php if ($parcel->getBoxOrigin() == $option['value']) echo ' active' ?>">
                            <input type="radio" name="box_origin" value="<?php echo $option['value'] ?>" <?php if ($parcel->getBoxOrigin() == $option['value']) echo ' checked' ?> /><?php echo $this->__($option['label']) ?>
                        </label>
                    <?php endforeach;?>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="box_store" class="col-sm-2 control-label"><?php echo $this->__("Местоположение") ?></label>
            <div class="col-sm-4">
                <select id="box_store" name="box_store" title="Местоположение" class="form-control validate-select required-entry">
                    <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('box_store')->getSource()->getAllOptions(false);?>
                    <?php foreach ($options as $option):?>
                        <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $parcel->getBoxStore()) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
    </div>
<?php endif; ?>

<div class="form-horizontal">

    <div class="form-group">
        <label for="box_tracking_num" class="col-sm-2 control-label"><?php echo $this->__("Tracking Number") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="box_tracking_num" name="box_tracking_num" value="<?php echo $parcel->getBoxTrackingNum() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="box_original_tracking" class="col-sm-2 control-label"><?php echo $this->__("Original Tracking") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="box_original_tracking" name="box_original_tracking" value="<?php echo $parcel->getBoxOriginalTracking() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="box_suite_num" class="col-sm-2 control-label"><?php echo $this->__("Suite") ?></label>
        <div class="col-sm-4">
            <select id="box_suite_num" name="box_suite_num" title="<?php echo $this->__("Suite") ?>" class="form-control validate-select required-entry"  onchange="onSuiteChange(true)">
                <?php
                $customers = Mage::getModel('customer/customer')->getCollection()->addAttributeToSelect('suite')->addAttributeToFilter('website_id', Mage::registry('website_frontoffice'))->setOrder('suite', 'asc');
                $suitePrefix = Mage::getModel('core/variable')
                    ->setStoreId(Mage::app()->getStore()->getId())
                    ->loadByCode('suite_prefix')
                    ->getValue('text');
                ?>
                <?php foreach ($customers as $customer):?>
                    <option value="<?php echo $customer->getSuite() ?>"<?php if ($customer->getSuite() == $parcel->getBoxSuiteNum()) echo ' selected="selected"' ?>><?php echo $suitePrefix . $customer->getSuite() ?></option>
                <?php endforeach;?>
            </select>
        </div>
        <div class="col-sm-1">
            <span id="parcelsCount" class="form-control">0</span>
        </div>
    </div>

    <div class="form-group">
        <label for="consignee_name" class="col-sm-2 control-label"><?php echo $this->__("To") ?></label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignee_name" name="consignee_name" value="<?php echo $parcel->getConsigneeName() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="box_shelf" class="col-sm-2 control-label"><?php echo $this->__("Полка") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="box_shelf" name="box_shelf" value="<?php echo $parcel->getBoxShelf() ?>" />
        </div>
    </div>
</div>

<br/><br/>

<div class="form-horizontal">
    <div class="form-group">
        <label for="consignor_name" class="col-sm-2 control-label"><?php echo $this->__("Откуда") ?></label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignor_name" name="consignor_name" value="<?php echo $parcel->getConsignorName() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="consignor_line" class="col-sm-2 control-label"><?php echo $this->__("Street") ?></label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignor_line" name="consignor_line" value="<?php echo $parcel->getConsignorAddressLine() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="consignor_city" class="col-sm-2 control-label"><?php echo $this->__("City") ?></label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignor_city" name="consignor_city" value="<?php echo $parcel->getConsignorAddressCity() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="consignor_country" class="col-sm-2 control-label"><?php echo $this->__("Country") ?></label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignor_country" name="consignor_country" value="<?php echo $parcel->getConsignorAddressCountry() ?>" />
        </div>
    </div>

    <div class="form-group">
        <label for="consignor_postcode" class="col-sm-2 control-label"><?php echo $this->__("Postal Code") ?></label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignor_postcode" name="consignor_postcode" value="<?php echo $parcel->getConsignorAddressPostcode() ?>" />
        </div>
    </div>
</div>

<br/><br/>

<div class="form-horizontal">
    <div class="form-group">
        <label for="box_length" class="col-sm-2 control-label"><?php echo $this->__("Длина") ?></label>

        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" id="box_length" name="box_length" value="<?php echo $parcel->getBoxLength() ?>" />
                <span class="input-group-addon"><?php echo $this->__("cm") ?></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="box_width" class="col-sm-2 control-label"><?php echo $this->__("Ширина") ?></label>

        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" id="box_width" name="box_width" value="<?php echo $parcel->getBoxWidth() ?>" />
                <span class="input-group-addon"><?php echo $this->__("cm") ?></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="box_height" class="col-sm-2 control-label"><?php echo $this->__("Высота") ?></label>

        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" id="box_height" name="box_height" value="<?php echo $parcel->getBoxHeight() ?>" />
                <span class="input-group-addon"><?php echo $this->__("cm") ?></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="weight" class="col-sm-2 control-label"><?php echo $this->__("Вес") ?></label>

        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" id="weight" name="weight" value="<?php echo $parcel->getWeight() ?>" />
                <span class="input-group-addon"><?php echo $this->__("кг") ?></span>
            </div>
        </div>
    </div>
</div>


<br/><br/>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label"><?php echo $this->__("Фотографии посылки") ?></label>

        <div class="col-sm-10">
            <?php
            $photos = '';
            $count = 0;
            if ($parcel->getMediaGalleryImages() != null) {
                foreach ($parcel->getMediaGalleryImages() as $image) {
                    if ($photos != '') $photos .= ',';
                    $photos .= $image->getUrl();
                    echo '<img src="' . $image->getUrl() . '" style="width: 200px"/> ';
                    $count++;
                }
            }
            ?>
            <!--            <div data-photos-widget="<?php echo $photos; ?>" data-count="<?php echo $count; ?>" id="parcel-photos"></div> -->
            <input type="file" name="parcel_image[]" value="" />
            <input type="file" name="parcel_image[]" value="" />
            <input type="file" name="parcel_image[]" value="" />
        </div>
    </div>
    <!--    <div class="form-group">-->
    <!--        <label class="col-sm-2 control-label">--><?php //echo $this->__("Фотографии документов") ?><!--</label>-->
    <!---->
    <!--        <div class="col-sm-10">-->
    <!--            <div-->
    <!--                data-photos-widget="--><?php //echo $this->getSkinUrl('images/samples/doc-photos/u434.jpg') ?><!--,--><?php //echo $this->getSkinUrl('images/samples/doc-photos/u448.jpg') ?><!--,--><?php //echo $this->getSkinUrl('images/samples/doc-photos/u456.jpg') ?><!--"-->
    <!--                data-count="1" id="doc-photos">-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

<br/><br/>

<div class="form-horizontal">
    <div class="form-group">
        <label for="client_visibility" class="col-sm-2 control-label"><?php echo $this->__("Client Visibility") ?></label>
        <div class="col-sm-4">
            <select id="client_visibility" name="client_visibility" title="<?php echo $this->__("Client Visibility") ?>" class="form-control validate-select required-entry">
                <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('client_visibility')->getSource()->getAllOptions(false);?>
                <?php foreach ($options as $option):?>
                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $parcel->getClientVisibility()) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="state_physical" class="col-sm-2 control-label"><?php echo $this->__("Физическое") ?></label>
        <div class="col-sm-4">
            <select id="state_physical" name="state_physical" title="Физическое состояние" class="form-control validate-select required-entry">
                <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_physical')->getSource()->getAllOptions(false);?>
                <?php foreach ($options as $option):?>
                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $parcel->getStatePhysical()) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state_custom" class="col-sm-2 control-label"><?php echo $this->__("Таможенное") ?></label>
        <div class="col-sm-4">
            <select id="state_custom" name="state_custom" title="Таможенное состояние" class="form-control validate-select required-entry">
                <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_custom')->getSource()->getAllOptions(false);?>
                <?php foreach ($options as $option):?>
                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $parcel->getStateCustom()) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state_payment" class="col-sm-2 control-label"><?php echo $this->__("Оплата") ?></label>
        <div class="col-sm-4">
            <select id="state_payment" name="state_payment" title="Состояние оплаты" class="form-control validate-select required-entry">
                <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_payment')->getSource()->getAllOptions(false);?>
                <?php foreach ($options as $option):?>
                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $parcel->getStatePayment()) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state_control" class="col-sm-2 control-label"><?php echo $this->__("Управляющий") ?></label>
        <div class="col-sm-4">
            <select id="state_control" name="state_control" title="Управляющее состояние" class="form-control validate-select required-entry">
                <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('state_control')->getSource()->getAllOptions(false);?>
                <?php foreach ($options as $option):?>
                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $parcel->getStateControl()) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>
</div>


<br/><br/>

<table class="table table-condensed table-form">
    <thead>
    <tr>
        <th width="40%"><?php echo $this->__("Декларируемые товары") ?></th>
        <th class="declaration-form__ammount"><?php echo $this->__("Кол-во") ?></th>
        <th class="declaration-form__commodity"><?php echo $this->__("ТНВД") ?></th>
        <th class="declaration-form__commodity"><?php echo $this->__("Вес") ?></th>
        <th class="declaration-form__cost"><?php echo $this->__("Стоимость за шт.") ?></th>
        <th class="declaration-form__cost"><?php echo $this->__("Стоимость всего") ?></th>
        <th class="declaration-form__cost"><?php echo $this->__("Валюта") ?></th>
        <th class="declaration-form__cost"><?php echo $this->__("In EUR") ?></th>
        <th class="declaration-form__controls"></th>
    </tr>
    </thead>
    <tbody>
    <?php $simpleCount = 0; ?>
    <?php if ($parcel_id != null) : ?>
        <?php /** @var $realProductType Mage_Bundle_Model_Product_Type */ ?>
        <?php
        $realProductType = $parcel->getTypeInstance(true);
        $option_id =
            $realProductType
                ->getOptionsCollection($parcel)
                ->addFieldToFilter('title', Mage::registry('parcel_items_bundle_option_name'))
                ->getFirstItem()
                ->getOptionId();
        ?>
        <?php $bundleItems = $realProductType->getSelectionsCollection(array($option_id), $parcel)->addAttributeToSelect('weight'); ?>
        <?php foreach ($bundleItems as $simpleProduct): ?>
            <?php if ($simpleProduct->getTypeId() != 'simple') continue; ?>
            <tr>
                <td>
                    <input type="hidden" name="sproduct_id[]" class="form-control" value="<?php echo $simpleProduct->getId() ?>" />
                    <input type="hidden" name="sproduct_selection[]" class="form-control" value="<?php echo $simpleProduct->getSelectionId() ?>" />
                    <input type="text" name="sproduct_name[]" class="form-control" value="<?php echo $simpleProduct->getName() ?>" />
                </td>
                <td><input type="text" id="sproduct_qty_<?php echo $simpleCount; ?>" name="sproduct_qty[]" class="form-control" value="<?php echo round($simpleProduct->getSelectionQty()) ?>" onblur="applyChanges(<?php echo $simpleCount; ?>)" /></td>
                <td><input type="text" name="sproduct_tariff[]" class="form-control" value="<?php echo $simpleProduct->getTariffClassification() ?>" /></td>
<!--                <td><input type="text" name="sproduct_packaging_type_code[]" class="form-control" value="<?php echo $simpleProduct->getPackagingTypeCode() ?>" /></td> -->
                <td><input type="text" name="sproduct_weight[]" class="form-control" value="<?php echo $simpleProduct->getWeight() ?>" /></td>
                <td><input type="text" id="sproduct_user_price_<?php echo $simpleCount; ?>" name="sproduct_user_price[]" class="form-control" value="<?php echo $simpleProduct->getUserPrice() ?>" onblur="applyChanges(<?php echo $simpleCount; ?>)" /></td>
                <td><input type="text" id="sproduct_total_price_<?php echo $simpleCount; ?>" name="sproduct_total_price[]" disabled class="form-control" value="<?php echo $simpleProduct->getUserPrice() * $simpleProduct->getSelectionQty()  ?>" /></td>
                <td>
                    <select id="sproduct_user_currency_<?php echo $simpleCount; ?>" name="sproduct_user_currency[]" title="<?php echo $this->__('Currency') ?>" class="form-control" onchange="applyChanges(<?php echo $simpleCount; ?>)">
                        <?php $allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); ?>
                        <?php $baseCurrency = $simpleProduct->getUserCurrency() != null ? $simpleProduct->getUserCurrency() : Mage::app()->getBaseCurrencyCode(); ?>
                        <?php foreach ($allowedCurrencies as $allowedCurrency):?>
                            <option value="<?php echo $allowedCurrency ?>"<?php if ($allowedCurrency == $baseCurrency) echo ' selected="selected"' ?>><?php echo $allowedCurrency ?></option>
                        <?php endforeach;?>
                    </select>
                </td>
                <td><input type="text" id="sproduct_price_<?php echo $simpleCount; ?>" name="sproduct_price[]" disabled class="form-control row_total_euro" value="<?php echo $simpleProduct->getPrice() * $simpleProduct->getSelectionQty() ?>" /></td>
                <td>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            <?php $simpleCount++; ?>
        <?php endforeach;?>
    <?php endif; ?>
    <?php
    for ($i = $simpleCount; $i < 5; $i++) : ?>
        <tr>
            <td>
                <input type="hidden" name="sproduct_id[]" class="form-control" value="" />
                <input type="hidden" name="sproduct_selection[]" class="form-control" value="" />
                <input type="text" name="sproduct_name[]" class="form-control" value="" />
            </td>
            <td><input type="text" id="sproduct_qty_<?php echo $i; ?>"name="sproduct_qty[]" class="form-control" value="" onblur="applyChanges(<?php echo $i; ?>)" /></td>
            <td><input type="text" name="sproduct_tariff[]" class="form-control" value="" /></td>
<!--            <td><input type="text" name="sproduct_packaging_type_code[]" class="form-control" value="" /></td> -->
            <td><input type="text" name="sproduct_weight[]" class="form-control" value="" /></td>
            <td><input type="text" id="sproduct_user_price_<?php echo $i; ?>" name="sproduct_user_price[]" class="form-control" value="" onblur="applyChanges(<?php echo $i; ?>)" /></td>
            <td><input type="text" id="sproduct_total_price_<?php echo $i; ?>" name="sproduct_total_price[]" disabled class="form-control" value="" /></td>
            <td>
                <select id="sproduct_user_currency_<?php echo $i; ?>" name="sproduct_user_currency[]" title="<?php echo $this->__('Currency') ?>" class="form-control" onchange="applyChanges(<?php echo $i; ?>)">
                    <?php $allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); ?>
                    <?php $baseCurrency = Mage::app()->getBaseCurrencyCode(); ?>
                    <?php foreach ($allowedCurrencies as $allowedCurrency):?>
                        <option value="<?php echo $allowedCurrency ?>"<?php if ($allowedCurrency == $baseCurrency) echo ' selected="selected"' ?>><?php echo $allowedCurrency ?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td><input type="text" id="sproduct_price_<?php echo $i; ?>" name="sproduct_price[]" disabled class="form-control row_total_euro" value="" /></td>
            <td>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
    <?php endfor; ?>
    <!--    <tr>-->
    <!--        <td>-->
    <!--            <button type="button" class="btn btn-primary">-->
    <!--                <i class="fa fa-plus"></i> --><?php //echo $this->__("Добавить") ?>
    <!--            </button>-->
    <!--        </td>-->
    <!--        <td></td>-->
    <!--        <th>--><?php //echo $this->__("Общая<br/>стоимость") ?><!--</th>-->
    <!--        <td class="declaration-form__total-cost-cell">-->
    <!--            <p class="form-control-static">97 €</p>-->
    <!--        </td>-->
    <!--        <td></td>-->
    <!--    </tr>-->
    </tbody>
</table>

<br/><br/>

<?php if ($parcel_id != null) : ?>
    <table class="table table-condensed table-form">
        <thead>
        <tr>
            <th width="40%"><?php echo $this->__("Название услуги") ?></th>
            <th class="declaration-form__cost"><?php echo $this->__("Fee") ?></th>
            <th class="declaration-form__cost"><?php echo $this->__("Возмещаемая?") ?></th>
            <th class="declaration-form__cost"><?php echo $this->__("Suggested") ?></th>
            <th class="declaration-form__controls"></th>
        </tr>
        </thead>
        <tbody>
        <?php $servicesCount = 0; ?>
        <?php $parcel->getLinkInstance()->useUpSellLinks(); ?>
        <?php foreach ($parcel->getUpSellProductCollection() as $serviceFee): ?>
            <?php $serviceFee->load($serviceFee->getId()) ?>
            <?php if ($serviceFee->getTypeId() != 'virtual') continue; ?>
            <tr>
                <?php
                $user_price_class = '';
                $price_class = '';
                switch ($serviceFee->getFeeType()) {
                    case Mage::registry('fee_type_base'):
                        $user_price_class = 'user_price_base';
                        $price_class = 'price_base';
                        break;
                    case Mage::registry('fee_type_deposit'):
                        $user_price_class = 'user_price_deposit';
                        $price_class = 'price_deposit';
                        break;
                    case Mage::registry('fee_type_additional'):
                        $user_price_class = 'user_price_add';
                        $price_class = 'price_add';
                        break;
                }
                ?>
                <td><input type="hidden" name="sfee_id[]" class="form-control" value="<?php echo $serviceFee->getId() ?>" /><input type="text" name="sfee_name[]" <?php echo $serviceFee->getFeeType() != Mage::registry('fee_type_additional') ? 'readonly' : ''; ?> class="form-control" value="<?php echo $serviceFee->getName() ?>" /></td>
                <td><input type="text" id="sfee_user_price_<?php echo $servicesCount; ?>" name="sfee_user_price[]" class="form-control <?php echo $user_price_class ?>" value="<?php echo $serviceFee->getUserPrice() ?>" /></td>
                <td><input type="checkbox" id="sfee_cancelable_<?php echo $servicesCount; ?>" name="sfee_cancelable[]" <?php echo $serviceFee->getFeeType() != Mage::registry('fee_type_additional') ? 'disabled' : ''; ?> class="form-control" <?php echo $serviceFee->getIsCancelable() ? 'checked' : '' ?> value="<?php echo $servicesCount ?>" /></td>
                <td><input type="text" id="sfee_price_<?php echo $servicesCount; ?>" name="sfee_price[]" disabled class="form-control <?php echo $price_class ?>" value="<?php echo $serviceFee->getPrice() ?>" /></td>
                <td>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            <?php $servicesCount++; ?>
        <?php endforeach;?>
        <?php
        for ($i = $servicesCount; $i < 5; $i++) : ?>
            <tr>
                <td><input type="hidden" name="sfee_id[]" class="form-control" value="" /><input type="text" name="sfee_name[]" class="form-control" value="" /></td>
                <td><input type="text" id="sfee_user_price_<?php echo $i; ?>" name="sfee_user_price[]" class="form-control" value="" /></td>
                <td><input type="checkbox" id="sfee_cancelable_<?php echo $i; ?>" name="sfee_cancelable[]" class="form-control" value="<?php echo $i ?>" /></td>
                <td><input type="text" id="sfee_price_<?php echo $i; ?>" name="sfee_price[]" class="form-control" value="" /></td>

                <td>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        <?php endfor; ?>
        <!--    <tr>-->
        <!--        <td>-->
        <!--            <button type="button" class="btn btn-primary">-->
        <!--                <i class="fa fa-plus"></i> --><?php //echo $this->__("Добавить") ?>
        <!--            </button>-->
        <!--        </td>-->
        <!--        <td></td>-->
        <!--        <th>--><?php //echo $this->__("Общая<br/>стоимость") ?><!--</th>-->
        <!--        <td class="declaration-form__total-cost-cell">-->
        <!--            <p class="form-control-static">97 €</p>-->
        <!--        </td>-->
        <!--        <td></td>-->
        <!--    </tr>-->
        </tbody>
    </table>

    <br/><br/>
<?php endif; ?>

<?php if (!$isReception) : ?>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="comment" class="col-sm-2 control-label"><?php echo $this->__("Комментарии") ?></label>
            <div class="col-sm-4">
                <textarea class="form-control" id="comment" name="comment"><?php echo $parcel->getComment() ?></textarea>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="form-big-group">
        <div class="media" id="printSticker">
            <div class="pull-left">
                <div class="sticker media-object">
                    <div class="sticker__header">
                        pochta.fi
                    </div>
                    <img class="sticker__img" src="<?php echo 'http://barcoderesourcing.com/barcode_generator/image.php?barcode=' . $parcel->getBoxShelf() . $parcel->getSku() .'&style=68&type=C128B&width=440&height=180&xres=3&font=5' ?>" />
                    <span class="code__letter">&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $parcel->getSku(); ?></span>
                    <div class="sticker__main clearfix">
                        <div class="sticker__main__country">
                            <?php echo $parcel->getBoxOrigin() == Mage::registry('box_origin_european') ? 'EU' : 'T'; ?>
                        </div>
                        <div class="sticker__main__code">
                            <span class="code__letter"><?php echo $parcel->getBoxShelf(); ?></span>
                            <span class="code__digits"></span>
                        </div>
                        <div class="sticker__main__name">
                            <?php
                            /** @var $customers Mage_Customer_Model_Resource_Customer_Collection */
                            $customers = Mage::getModel('customer/customer')->getCollection();
                            $customers
                                ->addAttributeToSelect('suite')
                                ->addFieldToFilter('suite', $parcel->getBoxSuiteNum());
                            $customer = $customers->getFirstItem();
                            $customer->load($customer->getId());
                            ?>
                            <span class="name__first"><?php echo $customer->getFirstname(); ?></span>
                            <br/>
                            <span class="name__second"><?php echo $customer->getLastname(); ?></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-body">
            </div>
        </div>
        <br/>
        <button type="button" class="btn btn-primary" onclick="printSticker();">
            <i class="fa fa-print"></i> <?php echo $this->__("Распечатать наклейку") ?>
        </button>
    </div>
    <br/><br/>
<?php endif; ?>

<hr/>
<div class="bottom-buffer">

    <button type="submit" class="btn btn-primary" id="submit-btn-1">
        <?php echo $isReception ? $this->__("Продолжить") : $this->__("Сохранить") ?>
    </button>

    <?php if (!$isReception): ?>
        <button type="button" class="btn btn-default">
            <?php echo $this->__("Отмена") ?>
        </button>
    <?php endif; ?>
</div>

</form>

<script type="text/javascript">
    function applyChanges(index) {
        var currencyCode = $("#sproduct_user_currency_" + index).val();
        var price = $("#sproduct_user_price_" + index).val();
        var quantity = $("#sproduct_qty_" + index).val();
        $.ajax({
            url: '/pochta/ajax/convertCurrency',
            data: {
                "currencyCode" : currencyCode,
                "price" : price
            },
            type: 'post',
            success:function(data){
                $("#sproduct_price_" + index).val($.isNumeric(data) ? data * quantity : data);
                $("#sproduct_total_price_" + index).val($.isNumeric(price) ? price * quantity : price);

                var total_euro = 0.0;
                $('.row_total_euro').each(function() { total_euro += $.isNumeric($(this).val()) ? parseFloat($(this).val()) : 0.0; });
                $('.price_deposit').val((Math.round(total_euro * 100)/100).toFixed(2));
            }
        });
    };

    function printSticker() {
        var printContents = $('#printSticker').html();
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

    function onSuiteChange(update_fee) {
        var suite = $("#box_suite_num").val();
        $.ajax({
            url: '/pochta/ajax/getParcelsCount',
            data: {
                "suite" : suite
            },
            type: 'post',
            success:function(data){
                $("#parcelsCount").text(data);
                if (update_fee) {
                    if (!$.isNumeric(data) || data == 0) {
                        $('.user_price_base').val((Math.round(0 * 100) / 100).toFixed(2));
                        $('.price_base').val((Math.round(0 * 100) / 100).toFixed(2));
                    } else {
                        var default_fee = <?php echo Mage::getModel('core/variable')->setStoreId(Mage::app()->getStore()->getId())->loadByCode('default_cost')->getValue('text') ?>;
                        $('.user_price_base').val((Math.round(default_fee * 100) / 100).toFixed(2));
                        $('.price_base').val((Math.round(default_fee * 100) / 100).toFixed(2));
                    }
                }
            }
        });
    }

    onSuiteChange(false);    // apply initial count
</script>
