<div class="suite-footer__placeholder"></div>
<div class="suite-footer">
  <div class="container">
    <ul class="suite-footer__parts">
      <li>
        <%- trans('Депозит') %>
        <strong>€ <span class="js-parcels-sel__deposite">0</span></strong>
      </li>
      <li>
        <%- trans('Услуги') %>
        <strong>€ <span class="js-parcels-sel__service">0</span></strong>
      </li>
    </ul>
    <button type="submit" class="btn btn-block btn-orange suite-pay-btn">
      <%- trans('Оплатить') %>
      € <span class="js-parcels-sel__total">0</span>
    </button>
    <button type="submit" class="btn btn-block btn-orange suite-next-btn">
      <%- trans('Продолжить') %>
    </button>
    <button type="button" disabled class="btn btn-block btn-orange btn-disabled suite-disabled-btn">
      <%- trans('Продолжить') %>
    </button>
    <p class="in-local-currency">
      <span class="js-parcels-sel__local-cur" data-ex-rate="57.109393">0</span>
      <%- trans('руб. по курсу ЦБРФ') %>
    </p>
  </div>
</div>
