<div class="parcel-header">
  <div class="container">
    <div class="parcel-header__parcel">
      <small><%- trans('Посылка') %></small>
      Айфон 6 Витьку
    </div>
    <div class="parcel-header__parcel-meta">
      <div class="row">
        <div class="col-4">
          <span class="parcel-header__parcel-meta__label">Откуда</span>
          <span class="parcel-header__parcel-meta__value">apple.com</span>
        </div>
        <div class="col-4">
          <span class="parcel-header__parcel-meta__label">Номер трекинга</span>
          <span class="parcel-header__parcel-meta__value">9A7B699N3319566761</span>
        </div>
      </div>
    </div>
  </div>
</div>
