<div class="panel-body">

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Тип посылки</label>
      <div class="col-sm-4">
        <p class="form-control-static">Европейская</p>
      </div>
    </div>
  </div>
  <br><br>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Длина</label>
      <div class="col-sm-4">
        <p class="form-control-static">320 мм</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Ширина</label>
      <div class="col-sm-4">
        <p class="form-control-static">100 мм</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Высота</label>
      <div class="col-sm-4">
        <p class="form-control-static">500 мм</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Вес</label>
      <div class="col-sm-4">
        <p class="form-control-static">3.6 кг</p>
      </div>
    </div>
  </div>
  <br><br>

  <div class="form-horizontal">
    <div class="form-group">
      <label for="input-type-1" class="col-sm-2 control-label">Тип</label>
      <div class="col-sm-4">
        <p class="form-control-static">Коммерческий образец</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-date-1" class="col-sm-2 control-label">Дата отправления</label>
      <div class="col-sm-4">
        <p class="form-control-static">12.06.2014</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-price-1" class="col-sm-2 control-label">Объявленная стоимость</label>
      <div class="col-sm-4">
        <p class="form-control-static">97 €</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-status-1" class="col-sm-2 control-label">Статус посылки</label>
      <div class="col-sm-4">
        <p class="form-control-static">Ценная</p>
      </div>
    </div>
  </div>
  <br><br>

  <div class="form-horizontal">
    <div class="form-group">
      <label for="input-tmp-id-1" class="col-sm-2 control-label">Отправитель</label>
      <div class="col-sm-4">
        <p class="form-control-static">Amazon</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-tmp-id-2" class="col-sm-2 control-label">Откуда</label>
      <div class="col-sm-4">
        <p class="form-control-static">23 Mission st, SF, USA</p>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="input-tmp-id-3" class="col-sm-2 control-label">Кому</label>
      <div class="col-sm-4">
        <p class="form-control-static">Petrov Oleg</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-tmp-id-4" class="col-sm-2 control-label">Куда</label>
      <div class="col-sm-4">
        <p class="form-control-static">456356, Kuoma, 543</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-tmp-id-5" class="col-sm-2 control-label">Телефон</label>
      <div class="col-sm-4">
        <p class="form-control-static">+7 927 047-65-59</p>
      </div>
    </div>
    <div class="form-group">
      <label for="input-tmp-id-6" class="col-sm-2 control-label">Электронная почта</label>
      <div class="col-sm-4">
        <p class="form-control-static">p.oleg@gmail.com</p>
      </div>
    </div>
  </div>

</div>
