<div class="form-group hidden js-extra-photos-template--initial">
  <label for="tmp-id-3" class="col-sm-3 control-label">Запрос на дополнительные фотографии</label>
  <div class="col-sm-9">
    <p class="form-control-static">В ближайшее время ваш запрос будет обработан</p>
    <button type="button" class="btn btn-default btn-xs">
      Нажмите для имитации действия сотрудника склада
    </button>
  </div>
</div>

<div class="form-group hidden js-extra-photos-template--success">
  <label for="tmp-id-3" class="col-sm-3 control-label">Запрос на дополнительные фотографии</label>
  <div class="col-sm-9">
    <p class="form-control-static">
      Запрос обработан (пошлина не будет возвращена <i class="fa fa-question-circle icon-btn"
            data-container="body" data-toggle="popover" data-placement="top"
            data-trigger="hover click"
            data-content="Описание почему пошлина не будет возвращена ..."
          ></i>)
    </p>
    <div class="row">
      <div class="col-sm-4">
        <a href="../images/samples/unboxing/1.jpg" data-lightbox="parcel-photos-unboxing" class="thumbnail">
          <img src="../images/samples/unboxing/1.jpg">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="../images/samples/unboxing/2.jpg" data-lightbox="parcel-photos-unboxing" class="thumbnail">
          <img src="../images/samples/unboxing/2.jpg">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="../images/samples/unboxing/3.jpg" data-lightbox="parcel-photos-unboxing" class="thumbnail">
          <img src="../images/samples/unboxing/3.jpg">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="../images/samples/unboxing/4.jpg" data-lightbox="parcel-photos-unboxing" class="thumbnail">
          <img src="../images/samples/unboxing/4.jpg">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="../images/samples/unboxing/5.jpg" data-lightbox="parcel-photos-unboxing" class="thumbnail">
          <img src="../images/samples/unboxing/5.jpg">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="../images/samples/unboxing/6.jpg" data-lightbox="parcel-photos-unboxing" class="thumbnail">
          <img src="../images/samples/unboxing/6.jpg">
        </a>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="extra-photos-modal--added" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Запрос на дополнительные фотографии уже добавлен</h4>
      </div>
      <div class="modal-body">
        <p>
          Вы уже добавили запрос на дополнительные фотографии.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>





<script type="text/javascript">

  (function(){

    var templates = {
      initial: $('.js-extra-photos-template--initial'),
      success: $('.js-extra-photos-template--success')
    };

    function getTemplate(name) {
      return templates[name].clone().removeClass('hidden');
    }

    $placeholder = $('#extra-photos-widgets-placeholder');

    function createWidget() {
      var $wrap = $('<div></div>').appendTo($placeholder);
      getTemplate('initial')
        .appendTo($wrap)
        .on('click', 'button', function() {
          $wrap.empty();
          getTemplate('success').appendTo($wrap);
          $('[data-toggle=popover]', $wrap).popover();
        });
    }

    $('#start-extra-photos-btn-1').click(function() {
      var selector = '.js-extra-photos-template--success, .js-extra-photos-template--initial';
      if ($placeholder.find(selector).length) {
        $('#extra-photos-modal--added').modal('show');
      } else {
        showPaymentModal({price: 23, noteTop: 'Для получения дополнительных фотографии посылка будет вскрываться.<br>Стоимость услуги <strong>23 €</strong>'}, createWidget);
      }
    });

  }());

</script>



