<!-- Modal -->
<div class="modal fade" id="proxy-person-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление доверенности</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="proxy-name-input-1" class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="proxy-name-input-1">
              <span class="help-block">Как в загранпаспорте, латиницей</span>
            </div>
          </div>
          <div class="form-group">
            <label for="proxy-second-name-input-1" class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="proxy-second-name-input-1">
              <span class="help-block">Как в загранпаспорте, латиницей</span>
            </div>
          </div>
          <div class="form-group">
            <label for="proxy-passport-input-1" class="col-sm-3 control-label">Номер загранпаспорта</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="proxy-passport-input-1">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add-proxy-btn-1" disabled>Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#proxy-person-modal-1 input').on('keyup change', function(){
    var a = $('#proxy-name-input-1').val();
    var b = $('#proxy-second-name-input-1').val();
    var c = $('#proxy-passport-input-1').val();
    $('#add-proxy-btn-1').prop('disabled', !(a && b && c));
  });

  $('#add-proxy-btn-1').click(function() {

    $('#proxy-person-modal-1').modal('hide');
    var text = '';
    text += $('#proxy-name-input-1').val();
    text += ' ' + $('#proxy-second-name-input-1').val();
    text += ', ' + $('#proxy-passport-input-1').val();
    $('#proxy-name-input-1, #proxy-second-name-input-1, #proxy-passport-input-1').val('').change();

    $item = $('<p class="form-control-static"></p>')
      .text(text + ' ')
      .append('<button class="btn btn-link" style="padding:0;margin-left:1em;">Удалить</button>')
      .prependTo('#proxy-persons-list');

    $item.find('button').click(function(){
      $item.remove();
    });

  });

</script>
