<div class="form-group hidden js-return-field-template--initial">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">В билжайшее время ваша заявка будет рассмотрена</p>
    <div class="well well-sm">
      <small>Нажмите для имитации действия сотрудника склада:</small><br>
      <button type="button" class="btn btn-default btn-xs js-no-receipt">Нет квитанции</button>
      <button type="button" class="btn btn-default btn-xs js-receipt">Есть квитанция</button>
      <button type="button" class="btn btn-default btn-xs js-not-receipt">Файл загружен, но это не квитанция</button>
    </div>
  </div>
</div>


<div class="form-group hidden js-return-field-template--price">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">Стоимость отправки 43 €</p>
    <button type="button" class="btn btn-primary">Согласиться</button>
    <button type="button" class="btn btn-default">Отменить</button>
  </div>
</div>


<div class="form-group hidden js-return-field-template--price-only-5">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">Квитанция принята. Стоимость подготовки посылки к отправке 5 €</p>
    <button type="button" class="btn btn-primary">Согласиться</button>
    <button type="button" class="btn btn-default">Отменить</button>
  </div>
</div>


<div class="form-group hidden js-return-field-template--not-receipt">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">
      Вы прикрепили другой документ.
      Пожалуйста, если есть прикрепит оплаченную квитанцию.<br>
      Возвратный номер: <strong>56748</strong>
    </p>
    <div style="margin-bottom: 10px">
      <button type="button" class="btn btn-primary js-attach-receipt">Прикрепить квитанцию</button>
    </div>
    <div style="margin-bottom: 10px">
      <button type="button" class="btn btn-default js-no-receipt">Квитанции нет</button>
      Будет выставлен счет для оплаты отправки
    </div>
    <button type="button" class="btn btn-default js-cancel">Отменить возврат</button>
  </div>
</div>



<div class="form-group hidden js-return-field-template--success">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">В ближашее время ваша посылка будет отправлена</p>
    <button type="button" class="btn btn-default btn-xs">
      Нажмите для имитации действия сотрудника склада
    </button>
  </div>
</div>


<div class="form-group hidden js-return-field-template--canceled">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">Возврат в магазин отменен</p>
  </div>
</div>


<div class="form-group hidden js-return-field-template--sent">
  <label for="tmp-id-3" class="col-sm-3 control-label">Возврат в магазин</label>
  <div class="col-sm-9">
    <p class="form-control-static">
      Посылка отправлена 25 августа 2014<br>
      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/doc-photos/u456.jpg" data-lightbox="123" class="thumbnail">
            <img src="../images/samples/doc-photos/u456.jpg">
          </a>
        </div>
      </div>
      Трекинг номер: 676839292<br>
      Для дополнительной информацией обращайтесь по телефону <nobr>8 800 200-68-40</nobr>
    </p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="return-parcel-modal-1" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление возврата</h4>
      </div>
      <div class="modal-body">
        <p>
          Введите известные данные и нажмите «Добавить».
          Наши сотрудники обработают заявку и свяжутся с вами
          для уточнения деталей и подтверждения отправки посылки обратно в магазин.
        </p>

        <div class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-3 control-label">Оплаченная квитанция</label>
            <div class="col-sm-9">
              <!-- This is where the widget will be. Don't forget the name attribute! -->
              <input type="hidden" role="uploadcare-uploader"
                name="my_file" data-images-only data-clearable
                id="return-uc-input-1"
              >
              <span class="help-block">Если есть</span>
            </div>
          </div>

          <div class="form-group">
            <label for="id-34" class="col-sm-3 control-label">Возвратный номер</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="id-34">
              <span class="help-block">Если есть</span>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="return-parcel-btn-1">Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="return-parcel-modal-1-0" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление квитанции</h4>
      </div>
      <div class="modal-body">

        <div class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-3 control-label">Оплаченная квитанция</label>
            <div class="col-sm-9">
              <!-- This is where the widget will be. Don't forget the name attribute! -->
              <input type="hidden" role="uploadcare-uploader"
                name="my_file" data-images-only data-clearable
                id="return-uc-input-1-0"
              >
              <span class="help-block">Если есть</span>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="return-parcel-btn-1-0" data-dismiss="modal">Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="return-parcel-modal-1-1" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Возврат уже добавлен</h4>
      </div>
      <div class="modal-body">
        <p>
          Вы уже заказали возврат этой посылки.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">

  (function(){

    var paymentNote = 'Стоимость услуги по подготовке посылки к отправке составляет 5 €';

    function getTemplate(name) {
      return $('.js-return-field-template--' + name).first().clone().removeClass('hidden');
    }

    $placeholder = $('#return-widgets-placeholder');

    function createWidget() {
      var $wrap = $('<div></div>').appendTo($placeholder);
      setStateInitial();
      function setStateInitial() {
        $wrap.empty();
        getTemplate('initial')
          .appendTo($wrap)
          .on('click', '.js-no-receipt', setStatePrice)
          .on('click', '.js-receipt', setStatePriceOnly5)
          .on('click', '.js-not-receipt', setStateNotReceipt);
      }
      function setStateCanceled() {
        debugger
        $wrap.empty();
        getTemplate('canceled').appendTo($wrap);
      }
      function setStateSent() {
        $wrap.empty();
        getTemplate('sent').appendTo($wrap);
      }
      function setStateSuccess() {
        $wrap.empty();
        getTemplate('success')
          .appendTo($wrap)
          .on('click', '.btn-xs', setStateSent);
      }
      function setStatePrice() {
        $wrap.empty();
        getTemplate('price')
          .appendTo($wrap)
          .on('click', '.btn-primary', function() {
            showPaymentModal({price: 43, note: paymentNote}, setStateSuccess);
          })
          .on('click', '.btn-default', setStateCanceled);
      }
      function setStatePriceOnly5() {
        $wrap.empty();
        getTemplate('price-only-5')
          .appendTo($wrap)
          .on('click', '.btn-primary', function() {
            showPaymentModal({price: 5, note: paymentNote}, setStateSuccess);
          })
          .on('click', '.btn-default', setStateCanceled);
      }
      function setStateNotReceipt() {
        $wrap.empty();
        getTemplate('not-receipt')
          .appendTo($wrap)
          .on('click', '.js-attach-receipt', showRecipeModal)
          .on('click', '.js-no-receipt', setStateInitial)
          .on('click', '.js-cancel', setStateCanceled);
      }
      function showRecipeModal() {
        $('#return-parcel-modal-1-0').modal('show');
        $('#return-parcel-btn-1-0').off().click(setStateInitial);
      }
    }

    var ucWidget = uploadcare.Widget('#return-uc-input-1');

    $('#start-return-btn-1').click(function() {
      var selector = 'initial success price price-only-5 not-receipt sent'
        .split(' ')
        .map(function(x) {return '.js-return-field-template--' + x})
        .join(', ');
      if ($placeholder.find(selector).length) {
        $('#return-parcel-modal-1-1').modal('show');
      } else {
        ucWidget.value(null);
        $('#return-parcel-modal-1').modal('show');
      }
    });

    $('#return-parcel-btn-1').click(function(){
      createWidget();
      $('#return-parcel-modal-1').modal('hide');
    });



  }());

</script>
