<div class="container">

    <div class="alert alert-info" role="alert"><?php echo $this->__("Заполните перед началом приёмки") ?></div>

    <br>

    <form class="form-horizontal" action="<?php echo $this->getUrl('pochta/parcelreception/postMove') ?>" method="post">

        <div class="form-group">
            <label for="prev_document_id" class="col-sm-3 control-label"><?php echo $this->__("Номер документа") ?> *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="prev_document_id" name="prev_document_id">
            </div>
        </div>

        <div class="form-group">
            <label for="prev_document_typecode" class="col-sm-3 control-label"><?php echo $this->__("Тип документа") ?> *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="prev_document_typecode" name="prev_document_typecode">
            </div>
        </div>

        <br/>

        <div class="form-group">
            <label for="carrier_name_first" class="col-sm-3 control-label"><?php echo $this->__("Перевозчик/Имя экспедитора") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="carrier_name_first" name="carrier_name_first" data-options="DHL Imatra,DHL Lappeenranta,DHL Third">
            </div>
        </div>

        <div class="form-group">
            <label for="carrier_name_last" class="col-sm-3 control-label"><?php echo $this->__("Фамилия экспедитора") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="carrier_name_last" name="carrier_name_last" data-options="Mikka Pekkanen,Kuznetsov Maxim,Nikolaev Denis,Nikolaev Denis,Potapova Ekaterina">
            </div>
        </div>

        <div class="form-group">
            <label for="transport_mode_code" class="col-sm-3 control-label"><?php echo $this->__("Тип машины") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="transport_mode_code" name="transport_mode_code" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>

        <div class="form-group">
            <label for="transport_nationality_code" class="col-sm-3 control-label"><?php echo $this->__("Гос. регистрация") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="transport_nationality_code" name="transport_nationality_code" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>

        <div class="form-group">
            <label for="transport_means_id" class="col-sm-3 control-label"><?php echo $this->__("Номер машины") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="transport_means_id" name="transport_means_id" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>

        <div class="form-group">
            <label for="conveyance_reference_id" class="col-sm-3 control-label"><?php echo $this->__("Номер передачи") ?></label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="conveyance_reference_id" name="conveyance_reference_id" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>

        <div class="form-group">
            <label for="carrier_date_out" class="col-sm-3 control-label"><?php echo $this->__("Дата отправки") ?> *</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="carrier_date_out" name="carrier_date_out" value="<?php echo date('Y-m-d'); ?>">
            </div>
        </div>

        <div class="form-group">
            <label for="carrier_date_in" class="col-sm-3 control-label"><?php echo $this->__("Дата приёмки") ?> *</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="carrier_date_in" name="carrier_date_in" value="<?php echo date('Y-m-d'); ?>">
            </div>
        </div>

        <div class="form-group">
            <label for="comment" class="col-sm-3 control-label"><?php echo $this->__("Комментарии") ?></label>
            <div class="col-sm-6">
                <textarea class="form-control" id="comment" name="comment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-primary"><?php echo $this->__("Продолжить") ?></button>
                <a href="<?php echo $this->getUrl('pochta/index') ?>" class="btn btn-default"><?php echo $this->__("Отмена") ?></a>
            </div>
        </div>

    </form>

</div>