<div class="container">
<!--
    <div class="alert alert-info" role="alert"><?php echo $this->__("Заполните перед началом приёмки") ?></div>
-->
    <br>

    <div class="row">
        <?php $options = Mage::getResourceSingleton('catalog/product')->getAttribute('reception_type')->getSource()->getAllOptions(false);?>
        <?php foreach ($options as $option):?>
            <div class="col-sm-4">
                <a class="thumbnail thumbnail-link"
                   href="<?php echo $this->getUrl("pochta/parcelreception/move", array("reception_type" => $option['value'])) ?>"><?php echo $this->__($option['label']) ?></a>
            </div>
        <?php endforeach;?>
    </div>

</div>