<?php

$fitdec_body = Mage::registry('fitdec_body');

?>


<div class="container">

    <form action="<?php echo $this->getUrl('pochta/issuance/showFITDECPost') ?>" method="post">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="fitdec_body"
                       class="col-sm-2 control-label"><?php echo $this->__("Текст декларации") ?></label>

                <div class="col-sm-10">
                    <textarea style="height: 700px" class="form-control" id="fitdec_body" name="fitdec_body"><?php echo $fitdec_body ?></textarea>
                </div>
            </div>
        </div>


        <hr>
        <div class="bottom-buffer">

            <button type="submit" class="btn btn-primary">
                <?php echo $this->__("Send FITDEC") ?>
            </button>

            <button type="button" class="btn btn-default">
                <?php echo $this->__("Back") ?>
            </button>

            <a href="<?php echo $this->getUrl('pochta/issuance/complete') ?>" class="btn btn-default"><?php echo $this->__("Skip Declaration") ?></a>
        </div>
        <br><br>

    </form>

</div>