<?php
$issuance = Mage::getSingleton('core/session')->getIssuance();
$movementId = $issuance['movementId'];

$movement = Mage::getModel('catalog/product')->load($movementId);
?>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><?php echo $this->__('Получатель: ') ?><?php echo Mage::helper('pochta')->getCarrierName($movement); ?> (<?php echo $movement->getName() ?>)</span>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:history.go(-1)">Назад</a></li>
            </ul>
        </div>

    </div>
</nav>


<div class="container">

    <div class="alert alert-info">
        <?php echo $this->__('Сверьте данные о клиенте и вывозе товара. Внесите исправления при необходимости.') ?>
    </div>
    <br/>
    <br/>

    <form method="post" action="<?php echo $this->getUrl('pochta/issuance/movementPost') ?>" enctype="multipart/form-data">
        <input name="movementId" type="hidden" value="<?php echo $movementId ?>">

        <div class="form-horizontal">

            <div class="form-group">
                <label for="carrier_name_first" class="col-sm-3 control-label"><?php echo $this->__("Имя") ?> *</label>

                <div class="col-sm-6">
                    <input type='text' type="text" class="form-control" id="carrier_name_first" name="carrier_name_first" value="<?php echo $movement->getCarrierNameFirst() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="carrier_name_last" class="col-sm-3 control-label"><?php echo $this->__("Фамилия") ?> *</label>

                <div class="col-sm-6">
                    <input type='text' type="text" class="form-control" id="carrier_name_last" name="carrier_name_last" value="<?php echo $movement->getCarrierNameLast() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_line" class="col-sm-3 control-label"><?php echo $this->__("Line") ?> *</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="consignee_address_line" name="consignee_address_line" value="<?php echo $movement->getConsigneeAddressLine() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_city" class="col-sm-3 control-label"><?php echo $this->__("City") ?> *</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="consignee_address_city" name="consignee_address_city" value="<?php echo $movement->getConsigneeAddressCity() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_country" class="col-sm-3 control-label"><?php echo $this->__("Country") ?> *</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="consignee_address_country" name="consignee_address_country" value="<?php echo $movement->getConsigneeAddressCountry() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_postcode" class="col-sm-3 control-label"><?php echo $this->__("Postal Code") ?> *</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="consignee_address_postcode" name="consignee_address_postcode" value="<?php echo $movement->getConsigneeAddressPostcode() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="passport_scan" class="col-sm-3 control-label"><?php echo $this->__("Passport Scan") ?> *</label>

                <div class="col-sm-6">
                    <input type="file" class="form-control" name="passport_scan" value="" />
                </div>
            </div>

            <div class="form-group">
                <label for="signature_scan" class="col-sm-3 control-label"><?php echo $this->__("Signature Scan") ?> *</label>

                <div class="col-sm-6">
                    <input type="file" class="form-control" name="signature_scan" value="" />
                </div>
            </div>

            <br/>

            <div class="form-group">
                <label for="transport_mode_code" class="col-sm-3 control-label"><?php echo $this->__("Тип машины") ?> *</label>

                <div class="col-sm-6">
                    <select id="transport_mode_code" name="transport_mode_code" title="<?php echo $this->__("Тип машины") ?>" class="form-control validate-select required-entry">
                        <option value="3" <?php echo $movement->getTransportModeCode() == 3 ? 'selected' : '' ?>><?php echo $this->__('Легковая') ?></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="transport_nationality_code" class="col-sm-3 control-label"><?php echo $this->__("Гос. регистрация") ?> *</label>

                <div class="col-sm-6">
                    <input type='hidden' type="text" class="form-control js-select2" id="transport_nationality_code" name="transport_nationality_code" data-options="RU,UA,FI" value="<?php echo $movement->getTransportNationalityCode() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="transport_means_id" class="col-sm-3 control-label"><?php echo $this->__("Номер машины") ?> *</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="transport_means_id" name="transport_means_id" value="<?php echo $movement->getTransportMeansId() ?>">
                </div>
            </div>
            <!--
        <div class="form-group">
            <label for="conveyance_reference_id" class="col-sm-3 control-label"><?php echo $this->__("Номер передачи") ?></label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="conveyance_reference_id" name="conveyance_reference_id" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>
-->
            <div class="form-group">
                <label for="pts_scan" class="col-sm-3 control-label"><?php echo $this->__("Certificat d'Immatriculation") ?> *</label>

                <div class="col-sm-6">
                    <input type="file" class="form-control" name="pts_scan" value="" />
                </div>
            </div>

            <br/>
<!--
            <div class="form-group">
                <label for="carrier_date_out" class="col-sm-3 control-label"><?php echo $this->__("Дата выдачи заказа") ?>
                    *</label>

                <div class="col-sm-6">
                    <input type="date" class="form-control" id="carrier_date_out" name="carrier_date_out" value="<?php echo date('Y-m-d', strtotime($movement->getMvtSrcPlannedDate())); ?>">
                </div>
            </div>
-->
            <div class="form-group">
                <label for="borderline" class="col-sm-3 control-label"><?php echo $this->__("Custom office") ?> *</label>

                <div class="col-sm-6">
                    <input type='hidden' type="text" class="form-control js-select2" id="borderline" name="borderline" data-options="FI556100,FI499300,FI542300" value="<?php echo $movement->getMvtDstWhs() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="carrier_date_in" class="col-sm-3 control-label"><?php echo $this->__("Transit Limit Date") ?> *</label>

                <div class="col-sm-6">
                    <input type="date" class="form-control" id="carrier_date_in" name="carrier_date_in" value="<?php echo date('Y-m-d', strtotime($movement->getMvtDstPlannedDate())); ?>">
                </div>
            </div>

            <br/>

            <div class="form-group">
                <label for="comment" class="col-sm-3 control-label"><?php echo $this->__("Комментарии") ?></label>

                <div class="col-sm-6">
                    <textarea class="form-control" id="comment" name="comment"><?php echo $movement->getComment(); ?></textarea>
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">
            <?php echo $this->__("Оформить декларацию") ?>
        </button>

        <a class="btn btn-default" href="<?php echo $this->getUrl('pochta/issuance/cancel/id/' . $movementId) ?>">
            <?php echo $this->__("Отменить выдачу") ?>
        </a>
    </form>

    <br/>
    <br/>

</div>