<?php
$issuance = Mage::getSingleton('core/session')->getIssuance();
$movementId = $issuance['movementId'];

$movement = Mage::getModel('catalog/product')->load($movementId);
?>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><?php echo $this->__('Получатель: ') ?><?php echo Mage::helper('pochta')->getCarrierName($movement); ?> (<?php echo $movement->getName() ?>)</span>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:history.go(-1)">Назад</a></li>
            </ul>
        </div>

    </div>
</nav>


<div class="container">

    <div class="alert alert-info">
        <?php echo $this->__('Снимите выделение с посылок, которые вы не можете выдать клиенту.') ?>
    </div>
    <br/>
    <br/>

    <form method="post" action="<?php echo $this->getUrl('pochta/issuance/viewPost') ?>">
        <input name="movementId" type="hidden" value="<?php echo $movementId ?>">

        <table class="table table-condensed sorted-table" id="parcels">
            <thead>
            <tr>
                <th><?php echo $this->__("К выдаче") ?></th>
                <th><?php echo $this->__("Наличие") ?></th>
                <th class="sorted-asc"><?php echo $this->__("Номер посылки") ?></th>
                <th><?php echo $this->__("Сьют") ?></th>
                <th><?php echo $this->__("Трекинг") ?></th>
                <th><?php echo $this->__("Original Tracking") ?></th>
                <th><?php echo $this->__("Origin") ?></th>
                <th><?php echo $this->__("Полка") ?></th>
                <th><?php echo $this->__("Владелец сьюта") ?></th>
                <th><?php echo $this->__("Владелец посылки") ?></th>
                <th><?php echo $this->__("Доверенность") ?></th>
            </tr>
            </thead>
            <tbody>

            <?php $productCrossSellLinks = Mage::registry('parcelIds'); ?>
            <?php foreach ($productCrossSellLinks as $link): ?>
                <?php
                $product = Mage::getModel('catalog/product')->load($link->getProductId());

                /** @var $customers Mage_Customer_Model_Resource_Customer_Collection */
                $customers = Mage::getModel('customer/customer')->getCollection();
                $customers
                    ->addAttributeToSelect('suite')
                    ->addFieldToFilter('suite', $product->getBoxSuiteNum());
                /** @var $customer Mage_Customer_Model_Customer */
                $customer = $customers->getFirstItem();
                $customer->load($customer->getId());
                ?>
            <tr id="<?php echo $product->getSku() ?>" >
                <?php $missedProduct = $product->getBoxStore() == Mage::registry('box_store_na'); ?>
                <td><input name="parcelIds[]" value="<?php echo $product->getId() ?>" type="checkbox" <?php echo $missedProduct ? 'disabled' : 'checked'?> /></td>
                <td><input value="" type="checkbox" disabled <?php echo $missedProduct ? '' : 'checked'?> /></td>
                <td>
                    <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $product->getId()) ?>"><?php echo $product->getSku() ?></a>
                </td>
                <td><?php echo $product->getBoxSuiteNum() ?></td>
                <td><?php echo $product->getBoxTrackingNum() ?></td>
                <td><?php echo $product->getBoxOriginalTracking() ?></td>
                <td><?php echo $product->getAttributeText('box_origin') ?></td>
                <td><?php echo $product->getBoxShelf() ?></td>
                <td><?php echo $customer->getName() ?></td>
                <td><?php echo $product->getConsigneeName() ?></td>
                <td><?php echo $product->getAttorneyFullName() . '<br/>' . $product->getAttorneyDocNumber() ?></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary" onclick="return checkAvailableParcels();">
            <?php echo $this->__("Продолжить") ?>
        </button>

        <a class="btn btn-default" href="<?php echo $this->getUrl('pochta/issuance/cancel/id/' . $movementId) ?>">
            <?php echo $this->__("Отменить выдачу") ?>
        </a>
    </form>

</div>

<script>
    function checkAvailableParcels() {
        if ($('input[type="checkbox"]:checked').length == 0) {
            alert('<?php echo $this->__("Nothing to issue. Please cancel the issuance") ?>');
            return false;
        }

        return true;
    }
</script>