.dashboard-row
  position relative
  .container
    z-index 1
    position relative
    clearfix()
    .col-4
      width 49%
  &--header-bg
    position absolute
    background: #fff
    top 0
    left 0
    right 0
    height px2em(124)
    z-index 0
.dashboard-row
  padding-bottom px2em(30)
  &__content
    clearfix()
    // display none
  h2
    setFont(34, 42, 600)
    padding px2em(42,34) 0
    cursor: pointer;
    i
      width px2em(36,34)
      height px2em(36,34)
      display block
      float right
      margin-right px2em(10,34)
      margin-top px2em(6,34)
      transition transform .5s
  .collapsed&
    padding-bottom 0
    i
      transform rotate(180deg)
  &__tab-wrap
    // border-top dashed 1px #504f51
    padding-bottom px2em(30)
    h3
      font-size px2em(25)
      padding px2em(30,25) 0 px2em(10,25)
    // h3
    //   setFont(25, 30, 600, 10)
    //   text-transform uppercase
    //   padding 30px 0
    p
      font-weight 200
      margin-bottom px2em(20)
      min-height px2em(60)
  &__prop
    margin-bottom px2em(4)
    &__name
      setFont(12, 14, 200)
      color #969495
      text-transform uppercase
      margin-top px2em(10,12)
      white-space: nowrap
    &__value
      setFont(17, 30, 600, 25)
      color #464547
      padding-left px2em(40,17)
      position relative
      &__copy
        setFont(14, 16, 400, 12, null, 17)
        color #969495
        border none
        background none
        margin px2em(7,14) 0 0 px2em(9,14)
        padding 0
        // border-bottom solid 1px
        vertical-align top
        // margin-top 5px
        display inline-block
        opacity 0
        transition opacity .5s
        position absolute
        &.copy-address
          margin-top 0
          padding-top px2em(5,14)
          right px2em(21,14)
          top px2em(30,14)
        &.zeroclipboard-is-hover
          opacity 1
      &:hover &__copy
        opacity 1

.storage-select
  padding-bottom px2em(60)
  p
    margin px2em(30) 0 px2em(40)
    font-weight 200
  &-block
    &__container
      clearfix()
      opacity 0.65
      transition opacity .5s
      &.active
        opacity 1
    label
      cursor pointer
      user-select none
      display block
    .radio
      margin-bottom px2em(16)
      margin-left px2em(7)
    &__info
      margin-bottom px2em(22)
      margin-left px2em(7)
      line-height px2em(36)
    &__name
      setFont(30, 36, 600)
    &__address
      setFont(18, 26, 500, 12)
      margin-top px2em(5,18)
      margin-bottom px2em(10,18)
    &__map img
      margin-bottom: px2em(-4);

.customer-account-index
  .parcels-list
    position relative
    margin-bottom 0
    &__head
      margin 0
      background #0000FF
      color #fff
    h2
      font-size px2em(33)

.dash-instructions
  padding px2em(56) 0
  &__intro
    setFont(20, 24, 600)
  &__title
    setFont(14, 17, 600, 12)
    margin-bottom px2em(30,14)
  &__num
    setFont(14, 17, 200, 12)
    big
      setFont(25, 25,null,null,null,14)
      display block
      margin-bottom px2em(15,25)
    a
      border-bottom solid 1px



.dash-big-alert
  background #0000ff
  padding px2em(38) 0
  margin-bottom px2em(26)
  p
    setFont(30, 36, 600)
    color #FFF



.parcels-list
  position relative
  overflow hidden
  margin-bottom px2em(26)
  position relative
  padding-top px2em(142)
  &__in-wrap
    background #FFF
    margin 0 px2em(25)
    min-width px2em(1244)
    transform translateZ(0)
    @media (max-width: 1294px)
      width px2em(1244)
      margin 0 auto
  &__head
    &__wrap
      position absolute
      right 0
      left 0
      top 0
      z-index 1
      .is-above-vp.isnt-in-vp &
        top auto
        bottom 0
      .is-in-vp.is-above-vp &
        position fixed
    &__sub-title
      setFont(12, 14, 600)
      text-transform uppercase
      margin-top px2em(-42,12)
    min-height px2em(145)
    border-bottom solid 1px #f1f1ef
    background #fff
    margin 0 px2em(25)
    @media (max-width: 1294px)
      // width px2em(1244)
      // margin 0 auto
    h2
      setFont(35, 42, 700)
      padding px2em(50,35) 0
      position relative
    .btn
      margin-top px2em(50)

  &__expandable
    overflow hidden
    position relative
    transition all 1s
    &__hidden
      display none
    &__overlay
      position absolute
      bottom 0
      right 0
      left 0
      top 0
      background url(../images/helpers/fade-grad.png) repeat-x 100% 100%
      background linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 85%, #ffffff 100%)
      cursor pointer
      transition all 1s




.dash-storage-select
  background #ffffff
  padding-top px2em(80)
  padding-bottom px2em(60)
  h3
    setFont(35, 42, 200)
    margin-bottom px2em(20,35)
  &__bottom-note
    setFont(14, 16, 200, 12)
    margin-top px2em(45,14)


.dash-storage-item
  position relative
  &__name,
  &__address,
  &__distance,
  &__border-descr,
  &__map-link,
  &__map
    opacity .3
    .is-checked &
      opacity 1
  &__storage-photo
    position absolute
    top 0
    left 100%
    max-width none
    z-index 1
    display none
    &--to-left
      left auto
      right 100%
      margin-right px2em(12)
    .is-hovered &
      display block
  label
    cursor pointer
    user-select none
    display block
  .radio
    margin-bottom px2em(50)
  &__name
    setFont(30, 36, 600)
    margin-bottom px2em(22,30)
  &__address
    setFont(18, 21, 600)
    text-transform uppercase
    margin-bottom px2em(5,18)
  &__distance
    setFont(19, 22)
    height px2em(70,19)
    background url(../images/icons/distance.svg) no-repeat
    padding px2em(15,19) 0 0 px2em(30,19)
    margin-bottom px2em(10,19)
    &__distance,
    &__time
      display block
    &__distance
      font-weight 600
    &__time
      font-weight 200
  &__border-descr
    setFont(12, 14, 200)
    text-transform uppercase
    margin-bottom px2em(47,12)
    strong
      font-weight 600
  &__map-link
    setFont(14, 16, 200)
    a
      display inline-block
      border-bottom solid 1px
