.call-to-act
  height px2em(700)
  background #fff
  padding-top px2em(110)
  background-position 50% 50%
  position relative
  &__form-bg
    background #fff
    position absolute
    height 100%
    width px2em(520)
    margin-left px2em(-60)
    margin-top px2em(-60)
  .col-3
    position relative
    z-index 2
  h2
    setFont(35, 42, 600)
    margin-bottom px2em(30,35)
  &__descr
    setFont(20, 24)
    margin-bottom px2em(30,20)
  &__btn-wrap
    margin-top px2em(80)
  &__btn
    setFont(18, 22, 700)
    display block
    width 100%
    color #ffffff
    background #ff592e
    border-radius px2em(2,18)
    padding px2em(18,18) px2em(25,18)
    border none
    text-align center
    &:hover
      opacity .8
    small
      font-size 100%
      font-weight 200
  p + &__btn
    margin-top 0px


.landing-hello
  background-image url(../images/photo/bg-call-to-act-a.jpg)

.landing-how-it-works
  //preload maps
  background: #ffffff url(../images/illustrations/world-map-uk.png) no-repeat -9999px -9999px;
  padding-top px2em(70)
  padding-bottom px2em(110)
  h3
    setFont(40, 48, 600)
    margin-bottom px2em(50,40)
  .col-2
    width 25%
.landing-step
  &__num
    setFont(35, 42, 400)
    display block
  &__title
    setFont(25, 30, 600, 5)
    margin-bottom px2em(34,25)
  &__img
    width px2em(150)
    height auto
    margin-bottom px2em(46)
  &__descr
    setFont(18, 25)
    padding-right px2em(20)



.landing-friend
  background-image url(../images/photo/bg-call-to-act-b.jpg)


.landing-registration
  background-image url(../images/photo/bg-call-to-act-c.jpg)
  padding-top px2em(60)
  height px2em(900)
  background-repeat none
  background-size cover
  &__email
    setFont(18, 20)
    display block
    width 100%
    background transparent
    border none
    border-bottom 2px solid #464547
    padding px2em(7,18) 0
    box-sizing border-box
    &:focus
      outline none
      border-color #7FA1FC
    &__wrap
      margin-bottom px2em(40)
    &__error
      color #ff3300
      setFont(14,15,null,null,null,18)
      margin-top px2em(10,14)

  &__terms
    setFont(12, 16, 200)
    text-transform uppercase
    margin-bottom px2em(60,12)
    a
      @extend .border-link

  .call-to-act__btn
    margin-bottom px2em(10)



.landing-oauth
  //preload maps
  background: url(../images/illustrations/world-map-usa.png) no-repeat -9999px -9999px;

  p
    margin-bottom px2em(22,20)
  &__btn
    setFont(10, 12, 600)
    border none
    display block
    cursor pointer
    width 100%
    text-align center
    color #ffffff
    padding px2em(11,10) 0 px2em(10,10)
    background-repeat no-repeat
    background-position px2em(10,10) 50%
    background-color #464547
    &:hover
      opacity .8
  &__vk &__btn
    background-image url(../images/icons/vk.svg)
    background-size px2em(10,10) px2em(10,10)
  &__odnoklassniki &__btn
    background-image url(../images/icons/odnoklassniki.svg)
    background-size px2em(10,10) px2em(15,10)
    padding-left px2em(15,10)
  &__facebook &__btn
    background-image url(../images/icons/facebook.svg)
    background-size px2em(6,10) px2em(15,10)

.landing-partner
  margin-top px2em(45)
  &__title
    // font-weight bold
    font-size px2em(16)
    margin-bottom px2em(-20)
  &__subtitle
    font-size px2em(15)
    position absolute
    margin-top px2em(-38)
    right px2em(8)
  &__link
    margin-top: px2em(-12);
    font-size: px2em(16);
    text-align: right;

.landing-features
  background #f2f1f0
  padding px2em(120) 0
  //preload maps
  background: #f2f1f0 url(../images/illustrations/world-map-italy.png) no-repeat -9999px -9999px;

  h2
    setFont(35, 42, 600)
    margin-bottom px2em(86,35)
  h3
    setFont(25, 30, 600)
    margin-bottom px2em(32,25)
    white-space nowrap
  li
    setFont(20, 24, 200)
    margin-bottom px2em(48,20)
    position relative
    &:before
      content ''
      display block
      position absolute
      width px2em(25,20)
      height @width
      background url(../images/icons/filled-correctly.svg)
      top 0
      left px2em(-35,20)
      background-size contain




.landing-prices
  background #ffffff
  padding px2em(80) 0
  //preload maps
  background: #ffffff url(../images/illustrations/world-map-france.png) no-repeat -9999px -9999px;
  h2
    setFont(35, 42, 600)
    margin-bottom px2em(35,35)

.world-prices
  background-repeat no-repeat
  background-size  px2em(830)  px2em(418)
  background-position 100% 0
  position relative
  height px2em(418)
  &.world-prices-0
    background-image url(../images/illustrations/world-map-france.png)
  &.world-prices-2
  &.world-prices-4
    background-image url(../images/illustrations/world-map-usa.png)
  &.world-prices-3
    background-image url(../images/illustrations/world-map-uk.png)
  &.world-prices-5
    background-image url(../images/illustrations/world-map-italy.png)

  &__menu
    world-prices-menu-font = 20
    setFont(world-prices-menu-font, 24, 200)
    text-transform uppercase
    margin-bottom px2em(38,world-prices-menu-font)
    width px2em(300,world-prices-menu-font)
    li
      margin-bottom px2em(14,world-prices-menu-font)
      cursor pointer
      position relative
      padding-left px2em(30,world-prices-menu-font)
      &.active
        cursor default
      &:before
        content ''
        display block
        width px2em(20,world-prices-menu-font)
        height px2em(20,world-prices-menu-font)
        border-radius px2em(100,world-prices-menu-font)
        background #f1f1ef
        position absolute
        left 0
        top 0
      &.active:after
        content ''
        display block
        width px2em(14,world-prices-menu-font)
        height px2em(14,world-prices-menu-font)
        border-radius px2em(100,world-prices-menu-font)
        background #ff592e
        position absolute
        left px2em(3,world-prices-menu-font)
        top px2em(3,world-prices-menu-font)


  &__info
    clearfix()
    position relative
    display none
    &.active
      display block
    img
      float left
      width px2em(133)
      height @width
      background-color #ff592e
      margin-right px2em(44)
    h4
      setFont(25, 30, 700)
      text-transform uppercase
      margin-bottom px2em(10,25)
    &__name
      setFont(14, 17, 700)
      text-transform uppercase
    &__bottom
      setFont(12, 14, 200)
      position absolute
      bottom 0
      left px2em(177,12)
      width px2em(280,12)

  &__price
    position absolute
    display none
    left px2em(760)
    top px2em(81)
    width px2em(300)
    &.active
      display block
    &__item
      position absolute
      left px2em(4)
      top px2em(213)
      &__num
        setFont(21, 50, 600)
        strong
          setFont(50, 50, 600)
          font-size px2em(50,21)
          line-height px2em(50,50)
          font-weight 600
      &__loc
        setFont(27, 27, 200)
        text-transform uppercase
        margin-top -.3em
      &:before
        content ''
        position absolute
        display block
        bottom px2em(6)
        left px2em(-5)
        width 0
        height px2em(253)
        border-left 1px solid #FF592E
      &:after
        content ''
        position absolute
        display block
        width px2em(5)
        height px2em(5)
        background #FF592E
        border-radius px2em(100)
        left px2em(-7)
        bottom px2em(257)
      &--local &
        &__num
          setFont(13, 23, 600)
          strong
            // setFont(23, 23, 600)
            font-size px2em(23,13)
            line-height px2em(23,23)
            font-weight 600
        &__loc
          setFont(13, 13, 200)
      &--local
        left px2em(58)
        top px2em(90)
        &:before
          bottom px2em(3)
          left px2em(-3)
          height px2em(125)
        &:after
          left px2em(-5)
          bottom px2em(126)
      &--rome
        left px2em(23)
        top px2em(210)
        &:before
          height px2em(235)
        &:after
          bottom px2em(239)
      &--new-york
        left px2em(-195)
        top px2em(210)
        &:before
          height px2em(224)
        &:after
          bottom px2em(228)
      &--london
        left px2em(-6)
        top px2em(212)
        &:before
          height px2em(266)
        &:after
          bottom px2em(270)

