/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
.storage-slider
  overflow hidden
  padding-bottom px2em(20)
  height px2em(501)
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    // cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/*
*   Owl Carousel Owl Demo Theme
* v1.3.3
*/

.owl-theme .owl-controls{
  margin-top: px2em(10);
  text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons
  position absolute
  top px2em(-250)
  width 100%
.owl-theme .owl-controls .owl-buttons div {
padding: px2em(5) px2em(9);
}

.owl-theme .owl-buttons i{
margin-top: px2em(2);
}

//To move navigation buttons outside use these settings:

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  color:#fff;
  height:px2em(100);
  width:px2em(32);
  opacity 0
  transition all .2s
}
.owl-theme:hover .owl-controls .owl-buttons div {
  opacity 1
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 2%;
  background: url("../images/icons/slider-arrow-left.svg") no-repeat

}

.owl-theme .owl-controls .owl-buttons .owl-next{
  background: url("../images/icons/slider-arrow-right.svg") no-repeat
  left: 95%;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
.owl-controls.clickable
  margin-top: px2em(-50);
  position relative
.owl-pagination{
}
.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: px2em(20);
  height: px2em(20);
  margin: px2em(5) px2em(7);
  -webkit-border-radius: px2em(20);
  -moz-border-radius: px2em(20);
  border-radius: px2em(20);
  // background: #869791;
  border: 2px solid white
  transition all .2s
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #fff;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  font-size: px2em(12);
  height: auto;
  width: auto;
  color: #FFF;
  padding: px2em(2,12) px2em(10,12);
  -webkit-border-radius: px2em(30,12);
  -moz-border-radius: px2em(30,12);
  border-radius: px2em(30,12);
}

/* preloading images */
.owl-item.loading{
  min-height: px2em(150);
  // background: url(AjaxLoader.gif) no-repeat center center
}