.payment-form-wrap
  background #fff
  padding-top px2em(60)
  padding-bottom px2em(145)
  h2
    setFont(35, 42, 700)
    margin-bottom px2em(55,35)
  &__bottom
    &__note
      setFont(20, 24, 700)
      max-width px2em(550,20)
      margin-bottom px2em(35,20)
      strong
        color #0000ff
  &__error
    setFont(20, 24, 400, 9)
    color #FF0B15
    margin-bottom px2em(25,20)
    margin-top px2em(-45,20)


.in-local-currency
  setFont(12, 14, 400, 23)
  text-transform uppercase
  color #969495
  text-align center
  margin-top px2em(12,12)

.payment-form
  position relative
  height px2em(333)
  width px2em(672)
  margin-bottom px2em(50)
  .form-control
    background transparent
    border none
    border-bottom solid 2px #464547
    padding 0
    border-radius 0
    outline 0
    -webkit-appearance none
    -moz-appearance none
    appearance none
  .form-control:focus,
  .has-error .form-control:focus
      border-color #0000ff
      outline none
  .has-error .form-control
      border-color #ff0b15

  &__code-wrap,
  &__main-wrap
    position absolute
    height 100%
    width px2em(523)
    border-radius px2em(23)
    top 0
  &__code-wrap
    right 0
    background #cac9ca
    padding-top px2em(35)
    padding-left px2em(374)
    &:before
      content ''
      display block
      height px2em(75)
      background #464547
      margin-bottom px2em(37)
  &__main-wrap
    left 0
    background #f1f0ef
    padding px2em(30) 0 0 px2em(34)
    z-index 1
  label
    setFont(13, 15, 400, 12)
    color #969495
    text-transform uppercase
    display block
  .form-control
    setFont(23, 25, 700)
    padding px2em(2,23) 0
    margin-bottom px2em(10,23)
    display inline-block
  &__code
    background #ffffff
    padding px2em(16) px2em(26) px2em(17)
    display inline-block
    input
      width px2em(60)
  &__title
    setFont(40, 48, 600)
    text-transform uppercase
    margin-bottom px2em(17,40)
  &__number
    margin-bottom px2em(18)
    input
      width px2em(300)
  &__date
    margin-bottom px2em(18)
    input
      width px2em(35)
    &__delimetr
      setFont(26, 26, 200)
      color #969495
      vertical-align top
      display inline-block
      margin px2em(4,26) px2em(10,26) 0 px2em(15,26)
  &__ovner
    input
      width px2em(450)









.payment-error-page
  padding px2em(60) 0 1px2em(20)
  &__icon
    padding-bottom px2em(40)
  h2
    setFont(35, 42, 700)
    padding-bottom px2em(50)
  p
    setFont(25, 30, 200)
    padding-bottom px2em(50)




.payment-success
  background #fff
  h2
    setFont(35, 42, 600)
    padding px2em(60) 0 px2em(40)
  &__block
    border-top solid 1px #f1f1ef
    border-bottom solid 1px #f1f1ef
    & + &
      border-top none
    &__head
      padding px2em(30) 0
      h3
        setFont(35, 42, 600)
      a
        setFont(14, 20, 200, 12)
        display inline-block
        border-bottom 1px solid
        margin-top px2em(15)
        &:hover
          border-bottom none
          margin-bottom 1px

  &__bottom
    padding px2em(55) 0 px2em(65)

