.storage-slider-col
  padding-right 0

.storage-full-info
  background #ffffff
  h1
    setFont(45, 54, 600)
    padding px2em(60,45) 0 px2em(20,45)
  &__address
    setFont(25, 30, 600)
    text-transform uppercase
    margin-top px2em(5,25)
    margin-bottom px2em(40,25)
  &__distance
    height px2em(164)
    position relative
    margin-bottom px2em(30)
    background url("../images/icons/distance.svg") no-repeat
    background-position 0 47%
    &__item
      position absolute
      top 0
      &:last-child
        top auto
        bottom 0
      strong
        setFont(17, 20, 600)
        text-transform uppercase
        display block
      small
        setFont(10, 12, 200)
        text-transform uppercase
        display block
  &__distance2
    margin-top px2em(14)
    margin-bottom px2em(43)
    &__item
      setFont(14, 17, 600)
      text-transform uppercase
      display inline-block
      margin-right px2em(12,14)
      img
        margin-right px2em(3,14)
      strong
        font-size px2em(22,14)
        line-height px2em(24,22)
        font-weight 600
  &__photo
    display block
  &__bottom
    p
      setFont(20, 24)
      padding-top px2em(105,20)
  &__map-wrap
    overflow hidden
    height px2em(360)
    img
      display block
      margin-top px2em(-210)

.storage-google-map
  iframe
    display block
    width 100%
    height px2em(560)
    border 0

