.text-page
  padding-top px2em(40)
  padding-bottom px2em(80)

  a
    @extend .border-link

  p
    margin-bottom 1em
    setFont(20, 25)

  h1, h2
    margin-top 2em
    margin-bottom 1em
    &:first-child
      margin-top 0

  h1
    setFont(40, 45, 600, -10)

  h2
    setFont(35, 40, 600, -10)


  img
    display block
    margin-bottom 1em
    width 100%

  .btn
    margin-bottom 1em


  ul, ol
    setFont(20, 25)
    margin 2em 0 2em px2em(34,20)
    li
      margin-bottom px2em(20,20)

  ul
    li
      position relative
      &:before
        content ''
        display block
        position absolute
        width px2em(25,20)
        height @width
        background url(../images/icons/filled-correctly.svg)
        top 0
        left px2em(-35,20)

  ol
    margin-left 0
    li
      list-style decimal outside
      display list-item

.text-page .faq-toc
  // position relative
  transition transform .2s .1s ease-in-out
  ul
    margin 0
    max-width 100%
    li
      margin-bottom px2em(8)
      &:before
        background none