<% var INTRO_OPT = {bodyClass: 'alt-bg-1'} %><% include _inc/layout/intro %>

<% include _inc/headers/main %>


<% include _inc/parcel-header %>


<!-- По идее это такая же форма как в suite.html в ней только чекбоксы посылок.
     Наверное можно один обработчик использовать. -->
<form class="js-parcels-sel">

  <!-- Чекбокс главной посылки -->
  <input
    type="checkbox"
    name="%todo"
    class="js-parcels-sel__item"
    data-deposite="0"
    data-service="0"
    checked
    disabled
    style="display:none"
  >

  <div class="parcel-list">
    <div class="parcel-list__head">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <img src="<%- staticUrl('images/icons/arr-down.svg') %>" width="39" height="47">
          </div>
          <div class="col-7">
            <h3><%- trans('Посылки, которые вы также можете забрать') %></h3>
          </div>
        </div>
      </div>
    </div>
    <ul class="parcel-list__list">
      <li>
        <% include _inc/parcel-list/item-5 %>
      </li>
      <li>
        <% include _inc/parcel-list/item-3 %>
      </li>
      <li>
        <% include _inc/parcel-list/item-4 %>
      </li>
    </ul>
  </div>


  <% include _inc/footer %>


</form>



<% include _inc/layout/outro %>
