<% var INTRO_OPT = {bodyClass: 'alt-bg-1'} %><% include _inc/layout/intro %>

<% include _inc/headers/main %>


<form class="form js-payment-form" autocomplete="off">

  <div class="payment-header">
    <div class="container">
      <h2><%- trans('Для оплаты пошлин и услуг, введите данные карты') %></h2>
    </div>
  </div>

  <div class="container">
    <div class="payment-form">
      <div class="payment-form__main-wrap">
        <h3 class="payment-form__title js-payment-form__cart-type">&nbsp;</h3>
        <div class="payment-form__number">
          <input
            type="text"
            name="%todo"
            class="form-control js-payment-form__number"
            id="payment-number"
          >
          <label for="payment-number"><%- trans('Номер карты') %></label>
        </div>
        <div class="payment-form__date">
          <input
            type="text"
            name="%todo"
            class="form-control js-payment-form__month"
            id="payment-month"
            pattern="\d*"
            novalidate
            maxlength="2"
          >
          <span class="payment-form__date__delimetr">/</span>
          <input
            type="text"
            name="%todo"
            class="form-control js-payment-form__year"
            pattern="\d*"
            novalidate
            maxlength="2"
          >
          <label for="payment-month"><%- trans('Срок действия') %></label>
        </div>
        <div class="payment-form__ovner">
          <input
            type="text"
            name="%todo"
            class="form-control"
            id="payment-name"
          >
          <label for="payment-name"><%- trans('Владелец карты (как на карте)') %></label>
        </div>
      </div>
      <div class="payment-form__code-wrap">
        <div class="payment-form__code">
          <input
            type="password"
            name="%todo"
            class="form-control js-payment-form__code"
            id="payment-code"
            pattern="\d*"
            novalidate
          >
          <label for="payment-code"><%- trans('CVC код') %></label>
        </div>
      </div>
    </div>
  </div>

  <div class="payment-bottom">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <button type="submit" class="btn btn-block btn-orange js-payment-form__submit">
            <%- trans('Оплатить') %> € 135
          </button>
          <p class="in-local-currency">
            7000 <%- trans('руб. по курсу ЦБРФ') %>
          </p>
        </div>
        <div class="col-4 payment-bottom__note">
          <p>
            <%- trans('Мы вернем вам депозит размером в') %>
            <strong>€ 120</strong>
            <%- trans('после того, как вы пройдете границу') %>
          </p>
        </div>
      </div>
    </div>
  </div>

</form>


<% include _inc/layout/outro %>
