<% include _inc/layout/intro %>

<% include _inc/headers/main %>



<div class="form-title">
  <div class="container">
    <h1><%- trans('Введите номер сьюта, загранпаспорта или номер трекинга посылки') %></h1>
  </div>
</div>

<form class="form form-large">
  <div class="container">
    <div class="form-group form-group--extra-space has-error">
      <input type="text" name="%todo" class="form-control" autofocus>
      <p class="form-error">
        <%- trans('Ничего не найдено.<br>Проверьте правильность номера<br>или обратитесь к менеджеру') %>
      </p>
    </div>
    <div class="form-submit">
      <div class="row">
        <div class="col-4">
          <button type="submit" class="btn btn-block btn-blue"><%- trans('Искать') %></button>
        </div>
      </div>
    </div>
  </div>
</form>



<% include _inc/layout/outro %>
