<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%- (function(){try{return SUITE_ISSUES_TITLE}catch(e){return trans('Другие проблемы по этому сьюту')}}()) %>
    </h3>
  </div>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Продавец') %></th>
        <th><%- trans('Доверенность') %></th>
        <th><%- trans('Тип проблемы') %></th>
        <th><%- trans('Время') %></th>
      </tr>
    </thead>
    <tbody>

      <tr data-tr-link="<%- pageUrl('issues--item--damaged-1') %>">
        <td>P4050917</td>
        <td>Google</td>
        <td>—</td>
        <td><%- trans('Клиент хочет вскрыть посылку') %></td>
        <td>21.01.2014</td>
      </tr>

      <tr data-tr-link="<%- pageUrl('issues--item--extra-photos') %>">
        <td>P8166866</td>
        <td>Ebay</td>
        <td>Eroshina Elena</td>
        <td><%- trans('Клиент запросил дополнительные фотографии') %></td>
        <td>07.01.2013</td>
      </tr>

    </tbody>
  </table>

</div>
