
@font-face
  font-family 'gp'
  src url('../fonts/GothaProMed.woff') format('woff'), url(../fonts/GothaProMed.otf) format('opentype')
  font-style normal
  font-weight 600

@font-face
  font-family 'gp'
  src url('../fonts/GothaProBol.woff') format('woff'), url(../fonts/GothaProBol.otf) format('opentype')
  font-style normal
  font-weight 700



// Mixins

font-awesome(letter)
  font normal normal normal 14px/1 FontAwesome
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  content letter



// Utils

.bottom-buffer
  margin-bottom 20px

.xs-bottom-buffer
  margin-bottom 5px




// Navbar

.navbar-brand--auto-height
  height auto

.navbar .navbar-brand:not(a):hover
  color #777

.navbar-static-top + .navbar-static-top
  margin-top -20px

.navbar-ztop
  z-index 1001

.lang-select
  a
    color inherit
  & + .navbar-nav.navbar-right
    margin-right 1em

.navbar-nav > .navbar-nav-btn > a
  padding-top 8px
  padding-bottom 8px





// Form elements and buttons

.icon-btn
  cursor pointer
  opacity .3
  &:hover
    opacity .7

.btn-link--narrow
  padding-right 0
  padding-left 0

.input-group-addon:not(:last-child):not(:first-child)
  border-left 0
  border-right 0

.btn-with-note
  display inline-block
  small
    display inline-block
    vertical-align middle
    margin-left .5em
  & + .btn,
  & + .btn-with-note
    margin-left 2em

.btn-with-left-note
  display inline-block
  strong
    display inline-block
    vertical-align middle
    line-height 1.2
  .btn
    margin-left 1em

.checkbox-toggle
  label
    font-weight 400
    cursor pointer
  input
    display none
  &__ui
    display inline-block
    vertical-align middle
    cursor pointer
    border 1px solid
    border-radius 4px
    height 34px
    padding 1px
    width 50px
    margin-right .5em
    position relative
    color #333
    background-color #e6e6e6
    border-color #adadad
    box-shadow inset 0 3px 5px rgba(0,0,0,.125)
    font-size 14px
    font-weight 400
    line-height 1.42857143
    user-select none
    &:before
      content 'Off'
      padding 4px 0
      display block
      text-align center
      margin-left 15px
      opacity .7
    &:after
      content ''
      position absolute
      height 30px
      width 15px
      border-radius 4px
      background #FFF
      border solid 1px #cccccc
      top 1px
      left 1px
    input:checked + &
      color #fff
      background-color #449d44
      border-color #398439
      &:before
        content 'On'
        margin-left 0
        margin-right 15px
      &:after
        border-color #4B8A4B
        right 1px
        left auto




// Tables

.table > thead > tr > th
  line-height 1.2
  vertical-align top

.sorted-table
  thead th
    cursor pointer
    &:after
      font-awesome("\f0dc") // fa-sort
      margin-left .5em
      opacity .5
    &.no-sorting
      cursor text
      &:after
        content none
    &.sorted-asc, &.sorted-desc
      &:after
        opacity 1
    &.sorted-asc:after
      content '\f0de' // fa-sort-asc
    &.sorted-desc:after
      content '\f0dd' // fa-sort-desc

.table > tbody > .continue-tr > td
  border-top none

[data-tr-link]
  cursor pointer
  color #366d9c
  &:hover
    background #f0f6fa

.table-form
  td, th
    border none !important
    padding-top 7px !important
    padding-bottom 7px !important
  .form-control-static
    padding-left 12px

.declaration-form
  &__ammount, &__cost
    width 100px
  &__controls
    width 1px
  &__total-cost-cell
    .form-control-static,
    .form-control
      display inline
      width auto






// Other blocks

.panel-heading[data-toggle=collapse]
  cursor pointer
  &:before
    font-awesome('\f13a')
    font-size 1.2em
    float right
  &.collapsed:before
    content '\f138'

.thumbnail-link
  text-align center
  padding-top 3em
  padding-bottom 3em
  font-size 2em
  &:hover
    text-decoration none

.issuance-issue
  &-item-row
    color red
  &-form-row > td
    display none
  &-item-row + &-form-row > td
    display table-cell
    border-top none

// .sticker
//   width 200px
//   border solid 1px #666
//   &__img
//     width 90%
//     margin 20px auto
//     display block
//   &__bottom
//     margin 20px
//     margin-bottom 0
//     font-weight bold
//     font-size 1.5em

.sticker
  background: #fff
  width 200px
  border-radius 20px
  color #464547
  overflow hidden
  border solid 1px #464547
  font-family gp
  font-weight 700
  &__header
    background #464547
    height 60px
    padding 8px 20px
    font-size 30px
    color #fff
    // position relative
    // margin-bottom -5px
  &__img
    width 90%
    margin 0 auto
    display block
  &__main
    margin 20px
    margin-top 15px
    font-weight bold
    // font-size 1.5em
      &__country
        background #464547
        color #fff
        font-size 25px
        padding 0 5px
        display inline-block
        margin-bottom 5px
      &__code
        font-size 40px
        margin-left -3px
        .code__digits
          margin-left -12px
      &__name
        // font-weight 600
        margin-top -5px
        font-size 13px




.fixed-footer
  background #f1f1f1
  position fixed
  left 0
  right 0
  bottom 0
  z-index 10
  &, &__placeholder
    padding-top 20px
    height 70px
  h3
    margin 0

.inventory-help-icon
  font-size 1.2em
  padding 10px
