.fake-camera
  position relative
  max-width 600px
  cursor pointer
  margin-bottom 20px
  display block
  &, &:hover
    text-decoration none
    color black
  img
    width 100%
    height auto
    display block
  &__note
    position absolute
    background #ffffcc
    padding 1em
    top 1em
    left 1em
    max-width 200px
  &:after
    content ''
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background url(../images/camera.png) center center no-repeat
    opacity .5


.inventory-scaner
  position relative
  max-width 600px
  &__alerts
    position absolute
    top 20px
    left 20px
    right 20px
  .fake-camera__note
    top auto
    bottom 0


.inventory-wrap
  &__top, &__bottom
    position relative
  &__top
    z-index 10




.photo-camera-popup
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 10000
  display none
  .fake-camera
    width 100%
    height 100%
    max-width 100%
    margin 0
    background-position center center
    background-size contain
    background-repeat no-repeat
    background-color black
.photo-confirm-popup
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 10000
  display none
  &__head
    height 50px
    width 100%
    border-bottom solid 1px #E7E7E7
    background #f8f8f8
    color #777
    padding 15px 30px
    font-size 18px
    line-height 20px
  &__photo
    position absolute
    right 0
    left 0
    top 50px
    bottom 50px
    background-color #f7f7f7
    background-position center center
    background-size contain
    background-repeat no-repeat
  &__btns
    position absolute
    bottom 0
    left 0
    right 0
    height 50px
    background #ffffff
    text-align center
    padding-top 8px
.remove-photo-btn
  display block
  position absolute
  top 1px
  right 16px
  cursor pointer
  padding 10px
  opacity .7
  background white
  border-top-right-radius 4px
  border-bottom-left-radius 4px
  font-size 1.5em
  &:hover
    opacity 1

