<div class="form-horizontal">
  <div class="form-group">
    <label for="input-tmp-id-1" class="col-sm-2 control-label"><%- trans('Отправитель') %></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="input-tmp-id-1" value="Amazon">
    </div>
  </div>
  <div class="form-group">
    <label for="input-tmp-id-2" class="col-sm-2 control-label"><%- trans('Откуда') %></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="input-tmp-id-2" value="23 Mission st, SF, USA">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="input-tmp-id-3" class="col-sm-2 control-label"><%- trans('Кому') %></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="input-tmp-id-3" value="Petrov Oleg">
    </div>
  </div>
  <div class="form-group">
    <label for="input-tmp-id-4" class="col-sm-2 control-label"><%- trans('Куда') %></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="input-tmp-id-4" value="456356, Kuoma, 543">
    </div>
  </div>
  <div class="form-group">
    <label for="input-tmp-id-5" class="col-sm-2 control-label"><%- trans('Телефон') %></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="input-tmp-id-5" value="+7 927 047-65-59">
    </div>
  </div>
  <div class="form-group">
    <label for="input-tmp-id-6" class="col-sm-2 control-label"><%- trans('Электронная почта') %></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="input-tmp-id-6" value="p.oleg@gmail.com">
    </div>
  </div>
</div>
