<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="hard-to-undentify-1"><%- trans('Тяжело опознаваемая посылка') %></label>
    <div class="col-sm-10">
      <div class="checkbox-toggle">
        <label>
          <input type="checkbox" id="hard-to-undentify-1">
          <div class="checkbox-toggle__ui"></div>
        </label>
      </div>
    </div>
  </div>
</div>
