<div class="form-horizontal">
  <div class="form-group">
    <label for="input-type-1" class="col-sm-2 control-label"><%- trans('Тип') %></label>
    <div class="col-sm-4">
      <select class="form-control" id="input-type-1">
        <option><%- trans('Коммерческий образец') %></option>
        <option><%- trans('Подарок') %></option>
        <option><%- trans('Документ') %></option>
        <option><%- trans('Возврат товара') %></option>
        <option><%- trans('Прочее') %></option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="input-status-1" class="col-sm-2 control-label"><%- trans('Статус посылки') %></label>
    <div class="col-sm-4">
      <select class="form-control" id="input-status-1">
        <option><%- trans('Ценная') %></option>
        <option><%- trans('Прочее') %></option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="input-date-1" class="col-sm-2 control-label"><%- trans('Дата отправления') %></label>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="input-date-1" value="2014-06-12">
    </div>
  </div>
</div>
