<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-nav-btn">
          <a href="<%- pageUrl('acceptance--start') %>">
            <span class="btn btn-default"><%- trans('Принять посылку') %></span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%- trans('Транзит') %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%- pageUrl('transit--start-out') %>"><%- trans('Отдать') %></a></li>
            <li><a href="<%- pageUrl('transit--start-in') %>"><%- trans('Принять') %></a></li>
          </ul>
        </li>
        <li><a href="<%- pageUrl('inventory--start') %>"><%- trans('Провести инвентаризацию') %></a></li>
        <li><a href="<%- pageUrl('storage-suites') %>"><%- trans('Сьюты') %></a></li>
        <li><a href="<%- pageUrl('inventory--acts') %>"><%- trans('Акты') %></a></li>
        <li><a href="<%- pageUrl('log') %>"><%- trans('История') %></a></li>
      </ul>
    </div>

  </div>
</nav>
