<div class="fixed-footer">
  <div class="container clearfix">
    <h3 class="pull-left"><%- trans('Фото документов') %></h3>
    <div class="pull-right">
      <a href="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>"
        data-lightbox="parcel-bottom-doc-photos" class="btn btn-primary"><%- trans('Показать') %></a>
      <a href="<%- staticUrl('images/samples/doc-photos/u448.jpg') %>"
        data-lightbox="parcel-bottom-doc-photos" class="hidden"></a>
      <a href="<%- staticUrl('images/samples/doc-photos/u456.jpg') %>"
        data-lightbox="parcel-bottom-doc-photos" class="hidden"></a>
    </div>
  </div>
</div>
<div class="fixed-footer__placeholder"></div>
