<div class="form-title">
    <div class="container">
        <h1><?php echo $this->__("Выберите пограничный пункт, через который вы будете пересекать границу.") ?></h1>
    </div>
</div>

<form class="form form-large" method="post" action="<?php echo $this->getUrl('pochta/kiosk/borderlinePost') ?>">

    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <div class="storage-select-item">
                        <label>
                            <div class="radio">
                                <input type="radio" name="borderline" value="FI542300" checked/>

                                <div class="radio__ui"></div>
                            </div>
                            <div class="storage-select-item__name">
                                <?php echo $this->__('Брусничное') ?>
                                <small><?php echo $this->__('Nuijamaa') ?></small>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="storage-select-item">
                        <label>
                            <div class="radio">
                                <input type="radio" name="borderline" value="FI499300" checked/>

                                <div class="radio__ui"></div>
                            </div>
                            <div class="storage-select-item__name">
                                <?php echo $this->__('Торфяновка') ?>
                                <small><?php echo $this->__('Vaalimaa') ?></small>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="storage-select-item">
                        <label>
                            <div class="radio">
                                <input type="radio" name="borderline" value="FI556100"/>

                                <div class="radio__ui"></div>
                            </div>
                            <div class="storage-select-item__name">
                                <?php echo $this->__('Светогорск') ?>
                                <small><?php echo $this->__('Imatra') ?></small>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="carrier_date_in" value="<?php echo date('Y-m-d') ?>" />
        </div>

        <div class="form-submit">
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-block btn-blue"><?php echo $this->__("Далее") ?></button>
                </div>
            </div>
        </div>
    </div>

</form>