<?php
$kiosk = Mage::getSingleton('core/session')->getKiosk();
$parcels = $kiosk['parcels'];

/** @var $helper Iwings_Pochta_Helper_Data */
$helper = Mage::helper('pochta');
?>

<div class="suite-header">
    <div class="container">
        <div class="suite-header__suite">
            <small><?php echo $this->__("Сьют") ?></small>
            <?php echo $kiosk['search']; ?>
        </div>
    </div>
</div>

<form class="js-parcels-sel alt-bg-1" method="post" action="<?php echo $this->getUrl('pochta/kiosk/parcelsPost') ?>">

    <div class="parcel-list">
        <div class="parcel-list__head">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <img src="<?php echo $this->getSkinUrl("images/icons/arr-down.svg") ?>" width="39" height="47">
                    </div>
                    <div class="col-7">
                        <h3><?php echo $this->__("Посылки, которые вы можете забрать") ?></h3>
                    </div>
                </div>
            </div>
        </div>
        <ul class="parcel-list__list">
            <?php
            foreach ($parcels as $parcelId) : ?>
                <?php
                $parcel = Mage::getModel('catalog/product')->load($parcelId);
                $nonRefundableAmount = $helper->isPaid($parcel) ? 0 : $helper->getNonRefundableAmount($parcel);
                $refundableAmount = $helper->isPaid($parcel) ? 0 : $helper->getRefundableAmount($parcel);
                $total = $nonRefundableAmount + $refundableAmount;
                ?>
                <li>
                    <label class="parcel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <div class="checkbox">
                                        <input type="checkbox" name="parcel_id[]"
                                               checked
                                               data-service="<?php echo $nonRefundableAmount ?>"
                                               data-deposite="<?php echo $refundableAmount ?>"
                                               class="js-parcels-sel__item"
                                               style="display:none" value="<?php echo $parcel->getId() ?>"/>

                                        <div class="checkbox__ui"></div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <span class="parcel-item__name"><?php echo $parcel->getName() ?></span>

                                    <div class="row-sub-7 parcel-item__meta">
                                        <div class="col-3">
                                            <span
                                                class="parcel-item__meta__label"><?php echo $this->__("Откуда") ?></span>
                                            <span
                                                class="parcel-item__meta__value"><?php echo $parcel->getConsignorName() ?></span>
                                        </div>
                                        <div class="col-4">
                                            <?php if ($helper->isPaid($parcel)): ?>
                                                <span class="parcel-item__meta__label">&nbsp;</span>
                                                <span class="parcel-item__meta__value"><strong>Оплачено</strong></span>
                                            <?php else: ?>
                                                <span
                                                    class="parcel-item__meta__label"><?php echo $this->__("К оплате") ?></span>
                                                <span class="parcel-item__meta__value">
                                                    <?php if ($total > 0): ?>
                                                        <?php if ($refundableAmount > 0): ?>
                                                            30% (€ <?php echo $helper->getRefundableAmount($parcel) ?>)
                                                        <?php endif; ?>
                                                        <?php if ($refundableAmount > 0 && $nonRefundableAmount > 0): ?>
                                                            +
                                                        <?php endif; ?>
                                                        <?php if ($nonRefundableAmount > 0): ?>
                                                            € <?php echo $helper->getNonRefundableAmount($parcel) ?>
                                                        <?php endif; ?>
                                                    <?php else: ?>
                                                        <?php echo $this->__("Бесплатно") ?>
                                                    <?php endif; ?>
                                                </span>
                                            <?php endif ?>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>

    <div class="suite-footer__placeholder"></div>
    <div class="suite-footer">
        <div class="container">
            <ul class="suite-footer__parts">
                <li class="kiosk-total-deposit">
                    <?php echo $this->__("Депозит"); ?>
                    <strong>€ <span class="js-parcels-sel__deposite">0</span></strong>
                </li>
                <li class="kiosk-total-service">
                    <?php echo $this->__("Услуги"); ?>
                    <strong>€ <span class="js-parcels-sel__service">0</span></strong>
                </li>
                <li class="kiosk-total">
                    <?php echo $this->__("Всего"); ?>
                    <strong>€ <span class="js-parcels-sel__total">0</span></strong>
                </li>
            </ul>
            <?php
            $baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
            $currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
            $currency = Mage::helper('directory')->currencyConvert(1, $baseCurrencyCode, 'RUB');
            ?>
            <p class="in-local-currency">
                <?php echo $this->__('Ориентировочно ') ?>
                <span class="js-parcels-sel__local-cur" data-ex-rate="<?php echo $currency; ?>">0</span>
                <?php echo $this->__('руб. по курсу ЦБ РФ') ?>
            </p>
            <br/>
            <button type="submit" class="btn btn-block btn-orange suite-next-btn">
                <?php echo $this->__("Продолжить"); ?>
            </button>
            <button type="button" disabled class="btn btn-block btn-orange btn-disabled suite-disabled-btn">
                <?php echo $this->__("Продолжить"); ?>
            </button>
        </div>
    </div>


</form>