<div class="success-title">
    <div class="container">
        <img src="<?php echo $this->getSkinUrl("images/icons/success.svg") ?>" width="30" height="30">

        <h2><?php echo $this->__("Оплата прошла успешно!") ?></h2>
    </div>
</div>

<div class="success-btn">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form method="post" action="<?php echo $this->getUrl('pochta/kiosk/paymentDonePost') ?>">
                    <button type="submit" class="btn btn-block btn-blue"><?php echo $this->__("Далее") ?></button>
                </form>
            </div>
        </div>
    </div>
</div>