<div class="form-title">
  <div class="container">
    <h1><?php echo $this->__("Введите номер сьюта")?></h1>
  </div>
</div>

<form class="form form-large" method="post" action="<?php echo $this->getUrl('pochta/kiosk/searchPost')?>">
  <div class="container">
    <div class="form-group form-group--extra-space">
      <input type="text" name="search" class="form-control" autofocus>
	  <?php if(Mage::app()->getRequest()->getParam('error')):?>
	  <p class="form-error">
        <?php echo $this->__("Ничего не найдено.<br>Проверьте правильность номера<br>или обратитесь к менеджеру")?>
      </p>
	  <?php endif;?>
    </div>
    <div class="form-submit">
      <div class="row">
        <div class="col-4">
          <button type="submit" class="btn btn-block btn-blue"><?php echo $this->__("Искать")?></button>
        </div>
      </div>
    </div>
  </div>
</form>