<table class="table table-condensed sorted-table">
  <thead>
    <tr>
      <th class="sorted-asc"><%- trans('Номер посылки') %></th>
      <th><%- trans('Сьют') %></th>
      <th><%- trans('Фамилия и имя') %></th>
      <th><%- trans('Продавец') %></th>
      <th><%- trans('Доверенность') %></th>
      <th><%- trans('Предыдущий склад и дата регистрации') %></th>
      <th><%- trans('Дата списания на предыдущем складе') %></th><!-- (если посылка была списана на том складе) -->
      <th><%- trans('На складе с') %></th><!-- (найдена) -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="<%- pageUrl('storage-parcel') %>">A3910629</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">31337</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">Petrov Oleg</a></td>
      <td>Google</td>
      <td>Alekseev Vladislav</td>
      <td>Иматра<br>12.06.2014 13:05</td>
      <td>13.06.2014 13:05</td>
      <td>22.06.2014 10:19</td>
    </tr>
    <tr>
      <td><a href="<%- pageUrl('storage-parcel') %>">E3950625</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">31338</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">Eroshina Elena</a></td>
      <td>Google</td>
      <td>—</td>
      <td>Лаппеенранта<br>12.06.2014 13:05</td>
      <td>—</td>
      <td>22.06.2014 10:19</td>
    </tr>
    <tr>
      <td><a href="<%- pageUrl('storage-parcel') %>">P3950201</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">31339</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">Puskin Maxim</a></td>
      <td>Google</td>
      <td>—</td>
      <td>Третий<br>12.06.2014 13:05</td>
      <td>10.06.2014 13:15</td>
      <td>22.06.2014 10:19</td>
    </tr>
  </tbody>
</table>
