<table class="table table-condensed sorted-table">
  <thead>
    <tr>
      <th class="sorted-asc"><%- trans('Номер посылки') %></th>
      <th><%- trans('Сьют') %></th>
      <th><%- trans('Фамилия и имя') %></th>
      <th><%- trans('Совпадение с') %></th>
      <th><%- trans('Продавец') %></th>
      <th><%- trans('Доверенность') %></th>
      <th><%- trans('На складе с') %></th><!-- (дата инвентаризации) -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="<%- pageUrl('storage-parcel') %>">A3910629</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">31337</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">Petrov Oleg</a></td>
      <td>A3913992</td>
      <td>Google</td>
      <td>Alekseev Vladislav</td>
      <td>22.06.2014 10:19</td>
    </tr>
    <tr>
      <td><a href="<%- pageUrl('storage-parcel') %>">E950625</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">31338</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">Eroshina Elena</a></td>
      <td>—</td>
      <td>Google</td>
      <td>—</td>
      <td>22.06.2014 10:19</td>
    </tr>
    <tr>
      <td><a href="<%- pageUrl('storage-parcel') %>">P3950201</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">31339</a></td>
      <td><a href="<%- pageUrl('storage-suite') %>">Puskin Maxim</a></td>
      <td>—</td>
      <td>Google</td>
      <td>—</td>
      <td>22.06.2014 10:19</td>
    </tr>
  </tbody>
</table>
