<table class="table table-condensed table-form">
  <thead>
    <tr>
      <th>Декларируемые товары</th>
      <th class="declaration-form__ammount">Кол-во</th>
      <th class="declaration-form__cost">Стоимость</th>
      <th class="declaration-form__controls"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input disabled type="text" class="form-control" value="Book"></td>
      <td><input disabled type="text" class="form-control" value="1"></td>
      <td><input disabled type="text" class="form-control" value="77"></td>
      <td><button disabled type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
    </tr>
    <tr>
      <td><input disabled type="text" class="form-control" value="Pen"></td>
      <td><input disabled type="text" class="form-control" value="2"></td>
      <td><input disabled type="text" class="form-control" value="20"></td>
      <td><button disabled type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
    </tr>
    <tr>
      <td>
        <button disabled type="button" class="btn btn-primary">
          <i class="fa fa-plus"></i> Добавить
        </button>
      </td>
      <th>Общая<br>стоимость</th>
      <td class="declaration-form__total-cost-cell">
        <p class="form-control-static">97</p>
        <select disabled class="form-control">
          <option>€</option>
          <option>$</option>
          <option>£</option>
        </select>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
