<!-- Modal -->
<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Оплата</h4>
      </div>
      <div class="modal-body">
        <div id="payment-modal-note-top">
          <p></p>
          <hr>
        </div>
        <div>
          <div class="form-group">
            <label for="tmp-id-1">Номер карты</label>
            <input type="text" class="form-control" id="tmp-id-1">
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="form-group">
                <label for="tmp-id-2">Срок действия</label>
                <div>
                  <input type="text" class="form-control" id="tmp-id-2" style="width: 30%; display: inline"> /
                  <input type="text" class="form-control" id="tmp-id-3" style="width: 30%; display: inline">
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="tmp-id-4">CVC код</label>
                <input type="text" class="form-control" id="tmp-id-4">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="tmp-id-5">Владелец карты (как на карте)</label>
            <input type="text" class="form-control" id="tmp-id-5">
          </div>
          <div>
            <input type="button" value="Оплатить" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#payment-modal-bank">&nbsp;&nbsp;
            <strong id="payment-modal-price">43 €</strong>
          </div>
        </div>
        <div id="payment-modal-note">
          <br><p></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="payment-modal-bank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Окно банка</h4>
      </div>
      <div class="modal-body">
        <p>Это окно со страницей банка для ввода пароля.</p>
        <button id="payment-modal-bank-success-btn" class="btn btn-primary">Готово</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  (function(global){
    var onSuccess = function() {};
    $('#payment-modal-bank-success-btn').click(function(){
      $('#payment-modal-bank').modal('hide');
      $('#payment-modal').modal('hide');
      onSuccess();
    });
    global.showPaymentModal = function (options, _onSuccess) {
      $('#payment-modal-price').text((options.price || 43) + ' €');
      $('#payment-modal-note').toggle(!!options.note).find('p').html(options.note);
      $('#payment-modal-note-top').toggle(!!options.noteTop).find('p').html(options.noteTop);
      onSuccess = _onSuccess;
      $('#payment-modal').modal('show');
    }
  }(this));
</script>
