<?php
$begin = $this->getRequest()->getParam('begin');
$end = $this->getRequest()->getParam('end');
$reception_type = Mage::registry('reception_type');
$collection_parcels = Mage::registry('collection_parcels');
?>

<div class="container">
    <form action="<?php echo $this->getUrl('pochta/reports/filterPost') ?>" method="post">
        <style>
            .column_left {
                float: left;
                width: 50%;
            }

            .column_right {
                float: right;
                width: 50%;
            }
        </style>

        <div class="form-horizontal column_left">
            <div class="form-group">
                <label for="organization" class="col-sm-3 control-label"><?php echo $this->__('Организация') ?></label>

                <div class="col-sm-6">
                    <p class="form-control-static"><?php echo __('PochtaFi') ?></p>
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="col-sm-3 control-label"><?php echo $this->__('Местоположение') ?></label>

                <div class="col-sm-6">
                    <p class="form-control-static">
                        <?php echo Mage::helper("pochta")->getAttributeValue('reception_type', $reception_type) . Mage::registry('store_id') ?>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="total" class="col-sm-3 control-label"><?php echo $this->__('Всего посылок') ?></label>

                <div class="col-sm-6">
                    <p class="form-control-static"><?php echo count($collection_parcels) ?></p>
                </div>
            </div>

            <div class="form-group">
                <label for="report_date" class="col-sm-3 control-label"><?php echo $this->__('Дата отчёта') ?></label>

                <div class="col-sm-6">
                    <p class="form-control-static"><?php echo date('d-m-Y') ?></p>
                </div>
            </div>

            <div class="form-group">
                <label for="begin" class="col-sm-3 control-label"><?php echo $this->__('Начало периода') ?></label>

                <div class="col-sm-6">
                    <input type="date" class="form-control-static" name="begin" value="<?php echo $begin ?>"/>
                </div>
            </div>

            <div class="form-group">
                <label for="end" class="col-sm-3 control-label"><?php echo $this->__('Конец периода') ?></label>

                <div class="col-sm-6">
                    <input type="date" class="form-control-static" name="end" value="<?php echo $end ?>"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <button class="btn btn-primary submit"><?php echo $this->__('Продолжить') ?></button>
                </div>
            </div>
        </div>

        <div class="form-horizontal column_right">
            <br>

            <div class="form-group">
                <div class="custom-style">
                    <img width="80%" height="80%" src="<?php echo $this->getSkinUrl('images/logo_big.png') ?>"/>
                </div>
            </div>
        </div>

        <input type="hidden" name="reception_type" value="<?php echo $reception_type ?>"/>
    </form>
</div>

<div class="container">
    <br>
    <table class="table table-condensed table-striped">

        <thead>
        <tr>
            <th>
                <nobr><?php echo $this->__('ИД') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Номер для слежения') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Статус') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Тип упаковки') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Брутто КГ') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Входящий документ') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Исходящий документ') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Дата прибытия') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Дата отправления') ?></nobr>
            </th>
        </tr>
        </thead>

        <tbody>
        <?php foreach ($collection_parcels as $set): ?>
            <?php
            $parcel = $set['parcel'];
            $type = ($parcel->getBoxOrigin() == Mage::registry('box_origin_overseas')) ? 'PV' : 'PE';
            $in_year = ($set['in_date'] != '') ? date('Y', $set['in_date']->getTimestamp()) : '';
            ?>

            <tr>
            <td>
                <nobr>
                    <?php echo($type . '/') ?>
                    <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $parcel->getId()) ?>"><?php echo $parcel->getSku() ?></a>
                    <?php echo('/' . $in_year) ?>
                </nobr>
            </td>
            <td>
                <nobr><?php echo $parcel->getBoxOriginalTracking() ?></nobr>
            </td>
            <td>
                <nobr><?php echo ($set['out_date'] == '') ? __('В наличии') : __('Отсутствует') ?></nobr>
            </td>
            <td>
                <nobr><?php echo __('CS') ?></nobr>
            </td>
            <td>
                <nobr><?php echo ($parcel->getWeight() != '') ? round($parcel->getWeight(), 2) : '' ?></nobr>
            </td>
            <td>
                <nobr><?php echo $set['in_doc'] ?></nobr>
            </td>
            <td>
                <nobr><?php echo $set['out_doc'] ?></nobr>
            </td>
            <td>
                <nobr><?php echo ($set['in_date'] != '') ? date('d-m-Y', $set['in_date']->getTimestamp()) : '' ?></nobr>
            </td>
            <td>
                <nobr><?php echo ($set['out_date'] != '') ? date('d-m-Y', $set['out_date']->getTimestamp()) : '' ?></nobr>
            </td>

            <?php $bundle_items = Iwings_Pochta_BaseController::getBundledData($parcel) ?>
            <?php if (count($bundle_items) > 0): ?>

                <tr>
                    <td><br></td>
                    <td colspan="6">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <td>
                                    <nobr><?php echo '№' ?></nobr>
                                </td>
                                <td>
                                    <nobr><?php echo __('Наименование') ?></nobr>
                                </td>
                                <td>
                                    <nobr><?php echo __('Код товара') ?></nobr>
                                </td>
                                <td>
                                    <nobr><?php echo __('Брутто КГ') ?></nobr>
                                </td>
                            </tr>
                            <?php $count_product = 0 ?>
                            <?php foreach ($bundle_items as $item): ?>

                                <tr>
                                    <td><?php echo ++$count_product ?></td>
                                    <td><?php echo $item->getName() ?></td>
                                    <td><?php echo $item->getTariffClassification() ?></nobr></td>
                                    <td><?php echo ($item->getWeight() != '') ? round($item->getWeight(), 2) : '' ?></td>
                                </tr>
                            <?php endforeach ?>
                            </tbody>
                        </table>
                    </td>
                    <td colspan="6"><br></td>
                </tr>

            <?php endif ?>
        <?php endforeach ?>
        </tr>
        </tbody>
    </table>
</div>