<% var TITLE = trans('Приемка #432') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/acceptance/header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Сверьте данные ниже с данными в сопровождающих документах. Проверьте габариты и вес посылки. Если данные, габариты или вес не совпадают введите те значения, которые вы получили после измерений. Или заполните пустые поля.') %>
  </div>
  <br><br>

  <form>

    <% include includes/parcel-form/dimensions %>
    <br><br>

    <div class="form-horizontal">
      <div class="form-group">
        <label for="input-tmp-id-3" class="col-sm-2 control-label"><%- trans('Кому') %></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="input-tmp-id-3" value="Petrov Oleg">
        </div>
      </div>
    </div>
    <br><br>

    <hr>
    <div class="bottom-buffer">
      <a href="<%- pageUrl('acceptance-step-4') %>" class="btn btn-primary"><%- trans('Продолжить') %></a>
    </div>

    <br>
    <br>

  </form>

</div>




<% include includes/layout/outro %>
