<% include includes/layout/intro %>

<a href="<%- pageUrl('acceptance-step-2') %>">
  <img src="<%- staticUrl('images/native-screens/Scan-Acceptance-Manually.jpg') %>">
</a>

<% include includes/layout/outro %>
