<% var TITLE = trans('Приемка') + ' #432' %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/acceptance/header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Убедитесь, что вся информация на фотографиях хорошо читаема.') %><br>
    <strong><%- trans('Фотография посылки обязательна') %></strong>
  </div>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"><%- trans('Фотографии посылки') %></label>
      <div class="col-sm-10">
        <div data-photos-widget="<%- staticUrl('images/samples/u366.jpg') %>" data-count="0" id="parcel-photos"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><%- trans('Фотографии документов') %></label>
      <div class="col-sm-10">
        <div data-photos-widget="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>,<%- staticUrl('images/samples/doc-photos/u448.jpg') %>,<%- staticUrl('images/samples/doc-photos/u456.jpg') %>" data-count="0"></div>
      </div>
    </div>
  </div>

  <br>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="checkbox">
        <label>
          <input type="checkbox"> <%- trans('Упаковка посылки повреждена') %>
        </label>
      </div>
      <div class="form-group">
        <label for="tmp-id-123"><%- trans('Комментарий') %></label>
        <textarea class="form-control" rows="3" id="tmp-id-123"></textarea>
      </div>
    </div>
  </div>

  <form action="<%- pageUrl('acceptance-step-3') %>">
    <input type="submit" class="btn btn-primary" disabled value="<%- trans('Продолжить') %>" id="submit-btn-1">
  </form>

  <br>
  <br>
  <br>

</div>

<script type="text/javascript">
  $('#parcel-photos').on('change', function(e, count) {
    $('#submit-btn-1').prop('disabled', count == 0);
  });
</script>



<% include includes/layout/outro %>
