<% var TITLE = trans('Приемка') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<div class="container">

  <div class="alert alert-info" role="alert"><%- trans('Заполните перед началом приёмки') %></div>

  <br>

  <form class="form-horizontal" action="<%- pageUrl('acceptance-step-1') %>">


    <div class="form-group">
      <label class="col-sm-3 control-label"><%- trans('Тип посылок') %> *</label>
      <div class="col-sm-6">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options-123" id="option1" checked> <%- trans('Европейская') %>
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options-123" id="option2"> <%- trans('Транзитная') %>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-1" class="col-sm-3 control-label"><%- trans('MRN') %> *</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="tmp-id-1">
        <span class="help-block"><%- trans('Movement reference number, 18 знаков') %></span>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-2" class="col-sm-3 control-label"><%- trans('Перевозчик') %> *</label>
      <div class="col-sm-6">
        <input type='hidden' type="text" class="form-control js-select2" id="tmp-id-2"
          data-options="DHL Imatra,DHL Lappeenranta,DHL Third"
        >
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-3" class="col-sm-3 control-label"><%- trans('ФИО экспедитора') %> *</label>
      <div class="col-sm-6">
        <input type='hidden' type="text" class="form-control js-select2" id="tmp-id-3"
          data-options="Mikka Pekkanen,Kuznetsov Maxim,Nikolaev Denis,Nikolaev Denis,Potapova Ekaterina"
        >
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-4" class="col-sm-3 control-label"><%- trans('Номер машины') %> *</label>
      <div class="col-sm-6">
        <input type='hidden' type="text" class="form-control js-select2" id="tmp-id-4"
          data-options="DN6754,DN8321,DN2394"
        >
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Дата') %> *</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" id="tmp-id-5" value="2014-09-16">
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-6" class="col-sm-3 control-label"><%- trans('Комментарии') %></label>
      <div class="col-sm-6">
        <textarea class="form-control" id="tmp-id-6"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button class="btn btn-primary"><%- trans('Продолжить') %></button>
        <a href="<%- pageUrl('storage-list') %>" class="btn btn-default"><%- trans('Отмена') %></a>
      </div>
    </div>

  </form>

</div>


<% include includes/layout/outro %>
