<% var TITLE = trans('Акты') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% var ACT_NAME = trans('О приемке  #138') %>
<% include includes/inventory/act-header %>


<div class="container">
  <% include includes/inventory/act-info %>
  <br>
  <% include includes/storage/parcel-list %>
  <% include includes/pagination %>
</div>

<% include includes/layout/outro %>
