<% include includes/layout/intro %>

<a href="<%- pageUrl('inventory-process') %>">
  <img src="<%- staticUrl('images/native-screens/Inventory-Scan-Comment-Plate.jpg') %>">
</a>

<% include includes/layout/outro %>
