<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <%- trans('Результаты за') %> 22.06.2014
      </span>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%- pageUrl('log') %>"><%- trans('История действий') %></a></li>
      </ul>
    </div>

  </div>
</nav>




<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a role="tab" data-toggle="tab" href="#tab-parcels"><%- trans('Посылки на месте') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-transit"><%- trans('Найденные с другого склада') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-new"><%- trans('Незарегистрированные') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-unidentified"><%- trans('Неопознаваемые') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-found"><%- trans('Ранее списанные') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-written-off"><%- trans('Потерянные') %></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="tab-parcels">
      <br>
      <h4 class="js-act-name hidden"><%- trans('Акт об инвентаризации') %></h4>
      <div class="alert alert-info js-act-descr-msg">
        <%- trans('Для этих посылок можно сформировать') %> <strong><%- trans('акт об инвентаризации') %></strong>.
      </div>
      <br>
      <% include includes/search %>
      <% include includes/inventory/act--parcels %>
      <% include includes/pagination %>
      <br>
      <button class="btn btn-primary js-create-act"><%- trans('Сформировать акт') %></button>
      <div class="alert alert-success js-act-created-msg hidden">
        <%- trans('Все посылки, зафиксированные в акте, были сверены с текущим состоянием посылок на складе.') %>
        <a href="<%- pageUrl('inventory--act--parcels') %>" class="alert-link"><%- trans('Перейти к акту.') %></a>
      </div>
    </div>

    <div class="tab-pane" id="tab-transit">
      <br>
      <h4 class="js-act-name hidden"><%- trans('Акт о перемещении') %></h4>
      <div class="alert alert-info js-act-descr-msg">
        <%- trans('Тут показаны посылки, которые находятся у нас, но должны быть на других складах.') %><br>
        <%- trans('Для этих посылок можно сформировать <strong>акт о перемещении</strong>.') %>
      </div>
      <br>
      <% include includes/search %>
      <% include includes/inventory/act--transit %>
      <% include includes/pagination %>
      <br>
      <button class="btn btn-primary js-create-act"><%- trans('Сформировать акт') %></button>
      <div class="alert alert-success js-act-created-msg hidden">
        <%- trans('Все посылки, зафиксированные в акте, были перемещены и зарегистрированы на текущем складе. Каждый клиент был оповещен о перемещении его посылки (посылок).') %>
        <a href="<%- pageUrl('inventory--act--transit') %>" class="alert-link"><%- trans('Перейти к акту.') %></a>
      </div>
    </div>

    <div class="tab-pane" id="tab-new">
      <br>
      <h4 class="js-act-name hidden"><%- trans('Акт о регистрации опознаваемых посылок') %></h4>
      <div class="alert alert-info js-act-descr-msg">
        <%- trans('Тут отображенны посылки которые не были зарегистрированны раньше.') %><br>
        <%- trans('Для этих посылок можно сформировать <strong>акт о регистрации опознаваемых посылок</strong>.') %>
      </div>
      <br>
      <% include includes/search %>
      <% include includes/inventory/act--new %>
      <% include includes/pagination %>
      <br>
      <button class="btn btn-primary js-create-act"><%- trans('Сформировать акт') %></button>
      <div class="alert alert-success js-act-created-msg hidden">
        <%- trans('Все посылки, зафиксированные в акте, были зарегистрированы на текущем складе. Каждый клиент оповещен об изменениях.') %>
        <a href="<%- pageUrl('inventory--act--new') %>" class="alert-link"><%- trans('Перейти к акту.') %></a>
      </div>
    </div>

    <div class="tab-pane" id="tab-unidentified">
      <br>
      <h4 class="js-act-name hidden"><%- trans('Акт о регистрации неопознаваемых посылок') %></h4>
      <div class="alert alert-info js-act-descr-msg">
        <%- trans('Тут показаны посылки, на которых не было штрихкода, или он был не читаем.') %><br>
        <%- trans('Для этих посылок можно сформировать <strong>акт о регистрации неопознаваемых посылок</strong>.') %>
      </div>
      <br>
      <% include includes/search %>
      <% include includes/inventory/act--unidentified %>
      <% include includes/pagination %>
      <br>
      <button class="btn btn-primary js-create-act"><%- trans('Сформировать акт') %></button>
      <div class="alert alert-success js-act-created-msg hidden">
        <%- trans('Все посылки, зафиксированные в акте, получили персональный номер и были зарегистрированы на текущем складе.') %>
        <a href="<%- pageUrl('inventory--act--unidentified') %>" class="alert-link"><%- trans('Перейти к акту.') %></a>
      </div>
    </div>

    <div class="tab-pane" id="tab-found">
      <br>
      <h4 class="js-act-name hidden"><%- trans('Акт о найденных посылках') %></h4>
      <div class="alert alert-info js-act-descr-msg">
        <%- trans('Тут показаны посылки, которые были списаны после предыдущих инвентаризаций.') %><br>
        <%- trans('Для этих посылок можно сформировать <strong>акт о найденных посылках</strong>.') %>
      </div>
      <br>
      <% include includes/search %>
      <% include includes/inventory/act--found %>
      <% include includes/pagination %>
      <br>
      <button class="btn btn-primary js-create-act"><%- trans('Сформировать акт') %></button>
      <div class="alert alert-success js-act-created-msg hidden">
        <%- trans('Все посылки, зафиксированные в акте, были зарегистрированы на текущем складе. Каждый клиент был оповещен о найденных посылках.') %>
        <a href="<%- pageUrl('inventory--act--found') %>" class="alert-link"><%- trans('Перейти к акту.') %></a>
      </div>
    </div>

    <div class="tab-pane" id="tab-written-off">
      <br>
      <h4 class="js-act-name hidden"><%- trans('Акт о списании') %></h4>
      <div class="alert alert-info js-act-descr-msg">
        <%- trans('Тут показаны посылки, которые не были найдены в процессе инвентаризации.') %><br>
        <%- trans('Для этих посылок можно сформировать <strong>акт о списании</strong>.') %>
      </div>
      <br>
      <% include includes/search %>
      <% include includes/inventory/act--written-off %>
      <% include includes/pagination %>
      <br>
      <button class="btn btn-primary js-create-act"><%- trans('Сформировать акт') %></button>
      <div class="alert alert-success js-act-created-msg hidden">
        <%- trans('Все посылки, зафиксированные в акте, были списаны. Каждый клиент был оповещен о возмещении компенсации.') %>
        <a href="<%- pageUrl('inventory--act--written-off') %>" class="alert-link"><%- trans('Перейти к акту.') %></a>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $('.js-create-act').click(function(){
    $(this)
      .hide()
      .siblings('.js-act-descr-msg').hide().end()
      .siblings('.js-act-name, .js-act-created-msg').removeClass('hidden');
  });
</script>


<% include includes/layout/outro %>
