<% var TITLE = trans('Акты') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% var ACT_NAME = trans('О перемещении  #132') %>
<% include includes/inventory/act-header %>

<div class="container">
  <% include includes/inventory/act-info %>
  <br>
  <% include includes/inventory/act--transit %>
  <% include includes/pagination %>
</div>

<% include includes/layout/outro %>

