<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/inventory/unregistered-header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Сверьте данные ниже с данными в сопровождающих документах. Проверьте габариты и вес посылки. Если данные, габариты или вес не совпадают введите те значения, которые вы получили после измерений. Или заполните пустые поля.') %>
  </div>

  <form>

    <% include includes/parcel-form/type %>
    <br><br>

    <% include includes/parcel-form/dimensions %>
    <br><br>

    <% include includes/parcel-form/some %>
    <br><br>

    <% include includes/parcel-form/from-to %>
    <br><br>

    <% include includes/declaration-form %>
    <br><br>

    <hr>
    <div class="bottom-buffer">
      <a href="<%- pageUrl('inventory--unregistered-4') %>" class="btn btn-primary"><%- trans('Продолжить') %></a>
    </div>

    <br>
    <br>

  </form>

</div>




<% include includes/layout/outro %>
