<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/inventory/unidentified-header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Распечатайте наклейку и наклейте её на посылку.') %>
  </div>

  <div class="media">
    <div class="pull-left">
      <div class="sticker media-object">
        <img class="sticker__img" src="<%- staticUrl('images/samples/u420.jpg') %>">
      </div>
    </div>
    <div class="media-body">
      <button type="button" class="btn btn-primary" onclick="$('.js-bottom-btn').removeAttr('disabled')">
        <i class="fa fa-print"></i> <%- trans('Распечатать наклейку') %>
      </button>
    </div>
  </div>

  <hr>
  <a href="<%- pageUrl('inventory-unidentified-1') %>" class="btn btn-primary js-bottom-btn" disabled><%- trans('Следующая неопозананя посылка') %></a>
  <a href="<%- pageUrl('inventory-process') %>" class="btn btn-default js-bottom-btn" disabled><%- trans('Продолжить инвентаризацию') %></a>

</div>






<% include includes/layout/outro %>
