<% var TITLE = trans('Инвентаризация') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<div class="container">

  <div class="alert alert-info" role="alert"><%- trans('Заполните перед началом инвентаризации') %></div>

  <br>

  <form class="form-horizontal" action="<%- pageUrl('inventory-process') %>">

    <div class="form-group">
      <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Порядковый номер<br>инвентаризации') %></label>
      <div class="col-sm-6">
        <p class="form-control-static">13</p>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Дата') %></label>
      <div class="col-sm-6">
        <p class="form-control-static">16.09.2014</p>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Склад') %></label>
      <div class="col-sm-6">
        <p class="form-control-static"><%- trans('Лаппеенранта') %></p>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Сотрудник') %></label>
      <div class="col-sm-6">
        <p class="form-control-static">Kuznetsov Maxim</p>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-7" class="col-sm-3 control-label"><%- trans('Причина инвентаризации') %></label>
      <div class="col-sm-6">
        <select class="form-control" id="tmp-id-7">
          <option><%- trans('Плановая') %></option>
          <option><%- trans('Внеплановая') %></option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="tmp-id-6" class="col-sm-3 control-label"><%- trans('Комментарии') %></label>
      <div class="col-sm-6">
        <textarea class="form-control" id="tmp-id-6"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button class="btn btn-primary js-submit-btn"><%- trans('Продолжить') %></button>
        <a href="<%- pageUrl('storage-list') %>" class="btn btn-default"><%- trans('Отмена') %></a>
      </div>
    </div>

  </form>

</div>




<% include includes/layout/outro %>
