<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/inventory/unidentified-header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Заполните всю доступную информацию. Измерьте габариты и вес посылки. Если к посылке прилагаются сопроводительные документы возьмите из них всю необходимую информацию.') %>
  </div>

  <form>

    <% include includes/parcel-form/type %>
    <br><br>

    <% include includes/parcel-form/dimensions %>
    <br><br>

    <hr>
    <div class="bottom-buffer">
      <a href="<%- pageUrl('inventory-unidentified-3') %>" class="btn btn-primary"><%- trans('Продолжить') %></a>
    </div>

    <br>
    <br>

  </form>

</div>






<% include includes/layout/outro %>
