<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/inventory/unregistered-header %>


<div class="container">

  <h3>
    <div class="btn-group pull-right">
      <div type="button" class="btn btn-primary active"><%- trans('Да') %></div>
      <a href="<%- pageUrl('inventory-unidentified-1') %>" type="button" class="btn btn-primary"><%- trans('Нет') %></a>
    </div>
    <%- trans('На посылке присутствует штрихкод почтовой службы') %>
  </h3>
  <hr>
  <br>

  <div class="alert alert-info">
    <%- trans('Отсканируйте штрихкод на посылке. Если устройство не может распознать код введите его вручную.') %>

  </div>

  <a href="<%- pageUrl('inventory--unregistered-1-1') %>" class="btn btn-primary"><%- trans('Сканировать') %></a>

</div>

<% include includes/layout/outro %>
