<% var TITLE = trans('Выдача #638') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/issuance-be/issuance-header %>

<div class="container">

  <div class="alert alert-info">
    <%- trans('Передайте посылки клиенту. Удостоверьтесь, что клиент осмотрел посылки. Если он высказывает претензии отметьте проблемные посылки, завершите выдачу и позовите менеджера.') %>
  </div>

  <div class="alert alert-info" role="alert"><%- trans('Отметьте проблемные посылки') %></div>

  <table class="table">
    <thead>
      <tr>
        <th width="1%"><input type="checkbox" data-toggle-all=".js-toggle-issuance-issue-status"></th>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Магазин') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox" class="js-toggle-issuance-issue-status">
        </td>
        <td>K0658163</td>
        <td>Amazon</td>
      </tr>
      <tr class="issuance-issue-form-row">
        <td colspan="3">
          <div class="form-group">
            <select class="form-control">
              <option></option>
              <option><%- trans('Не найдена на складе') %></option>
              <option><%- trans('Повреждена упаковка') %></option>
              <option><%- trans('Отсутствуют документы') %></option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="<%- trans('Комментарий (описание проблемы)') %>"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="js-toggle-issuance-issue-status">
        </td>
        <td>K0658164</td>
        <td>Amazon</td>
      </tr>
      <tr class="issuance-issue-form-row">
        <td colspan="3">
          <div class="form-group">
            <select class="form-control">
              <option></option>
              <option><%- trans('Не найдена на складе') %></option>
              <option><%- trans('Повреждена упаковка') %></option>
              <option><%- trans('Отсутствуют документы') %></option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="<%- trans('Комментарий (описание проблемы)') %>"></textarea>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <a href="<%- pageUrl('issuance--queue') %>" class="btn btn-primary"><%- trans('Завершить выдачу') %></a>
  <%- trans('Позовите менеджера для решения проблемы с посылкой.') %>

</div>

<script type="text/javascript">
  $('.js-toggle-issuance-issue-status').change(function(){
    $(this).parent().parent().toggleClass('issuance-issue-item-row', $(this).prop('checked'));
  });
</script>

<% include includes/layout/outro %>
