<% var TITLE = trans('Выдача #638') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/issuance-be/issuance-header %>

<div class="container">

  <div class="alert alert-info">
    <%- trans('Сформируйте заказ для клиента. Отметьте посылки если их нет на складе.') %>
  </div>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Магазин') %></th>
        <th width="1%"><%- trans('Пошлина&nbsp;(€)') %></th>
        <th width="1%"><%- trans('Услуга&nbsp;(€)') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          K0658163
          <div class="checkbox"><label>
            <input type="checkbox"> <%- trans('Посылки нет на складе') %>
          </label></div>
        </td>
        <td>Amazon</td>
        <td>
          14<br>
          <span class="label label-success"><%- trans('Оплачено') %></span>
        </td>
        <td>
          65<br>
          <span class="label label-success"><%- trans('Оплачено') %></span>
        </td>
      </tr>
      <tr>
        <td>
          K0658164
          <div class="checkbox"><label>
            <input type="checkbox"> <%- trans('Посылки нет на складе') %>
          </label></div>
        </td>
        <td>Amazon</td>
        <td>
          14<br>
          <span class="label label-success"><%- trans('Оплачено') %></span>
        </td>
        <td>
          65<br>
          <span class="label label-success"><%- trans('Оплачено') %></span>
        </td>
      </tr>
      <tr>
        <td>
          K0658165
          <div class="checkbox"><label>
            <input type="checkbox"> <%- trans('Посылки нет на складе') %>
          </label></div>
        </td>
        <td>Amazon</td>
        <td>
          14<br>
          <span class="label label-success"><%- trans('Оплачено') %></span>
        </td>
        <td>
          65<br>
          <span class="label label-success"><%- trans('Оплачено') %></span>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <a href="<%- pageUrl('issuance--issuance-2') %>" class="btn btn-primary"><%- trans('Продолжить') %></a>

</div>

<% include includes/layout/outro %>
