<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Абстрактная проблема') %></h3>
    </div>
    <div class="panel-body">
      <p><%- trans('В прототипе сюда ведут ссылки если еще нет страницы конкретной проблемы') %></p>
    </div>
  </div>

  <% include includes/issues/item-bottom %>


</div>



<% include includes/layout/outro %>
