<% var TITLE = trans('Выдача #638') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/issuance-be/issuance-header %>

<div class="container">

  <div class="alert alert-info">
    <%- trans('Уточните у клиента государственный номер ТС на котором он будет вывозить посылки.') %>
  </div>

  <form class="form-horizontal" role="form" action="<%- pageUrl('issuance--issuance-5') %>">
    <div class="form-group">
      <label for="tmp-id-1" class="col-sm-2 control-label"><%- trans('Номер') %></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="tmp-id-1"
          onkeyup="$('#submit-1').prop('disabled', !$(this).val().length)"
          placeholder="c065mk 78 rus"
          value="c201ka 76 rus"
        >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" id="submit-1"><%- trans('Продолжить') %></button>
      </div>
    </div>
  </form>


</div>

<% include includes/layout/outro %>
