<% var TITLE = trans('Проблемы') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <%- trans('Проблемы') %>
      </span>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>


<div class="container">

  <div class="form-horizontal">

    <div class="form-group">
      <label for="tmp-id-3" class="col-sm-2 control-label"><%- trans('Тип') %></label>
      <div class="col-sm-6">
        <select class="form-control" id="tmp-id-3">
          <option><%- trans('Любой') %></option>
          <option><%- trans('Посылку необходимо вернуть') %></option>
          <option><%- trans('Посылка не соответствует фото') %></option>
          <option><%- trans('Посылка повреждена') %></option>
          <option><%- trans('Посылка не найдена при выдаче') %></option>
          <option><%- trans('Посылка не найдена при транзите') %></option>
          <option><%- trans('Посылка списана') %></option>
          <option><%- trans('Проблемы с заблокированными средствами') %></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="tmp-id-3" class="col-sm-2 control-label"><%- trans('Статус') %></label>
      <div class="col-sm-6">
        <select class="form-control" id="tmp-id-3">
          <option><%- trans('Любой') %></option>
          <option><%- trans('Входящая') %></option>
          <option><%- trans('В процессе') %></option>
          <option><%- trans('Завершенная') %></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="tmp-id-4" class="col-sm-2 control-label"><%- trans('Поиск') %></label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="tmp-id-4" value="18339">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary"><%- trans('Применить') %></button>
      </div>
    </div>
  </div>

  <br>

  <%
    function randD(from, to) {
      var r = Math.floor(Math.random() * (to - from + 1)) + from
      return r < 10 ? '0' + r : r;
    }
    function randN(n) {
      return Math.round(Math.pow(10, n) - Math.random() * Math.pow(10, n - 1) - Math.pow(10, n - 1) * 8);
    }
    function randI(arr) {
      return arr[Math.floor(Math.random() * arr.length)];
    }

    function randomRow() {
      var suite = 18339;
      var client = 'Petrov Oleg';
      var tracking = client[0] + randN(7);
      var time = randD(1, 30) + '.' + randD(1, 12) + '.' + randD(2013, 2014) + ' ' + randD(8, 21) + ':' + randD(1, 59);
      var issueType = randI([
        trans('Посылку необходимо вернуть'),
        trans('Посылка не соответствует фото'),
        trans('Посылка повреждена'),
        trans('Посылка не найдена при выдаче'),
        trans('Посылка не найдена при транзите'),
        trans('Посылка списана'),
        trans('Проблемы с заблокированными средствами')
      ]);
      var storage = randI([trans('Лаппеенранта'), trans('Иматра'), trans('Третий')]);
      var status = randI([trans('Входящая'), trans('В процессе'), trans('Завершенная')]);

      %>
        <tr  data-tr-link="<%- pageUrl('issues--item') %>">
          <td><%= tracking %></td>
          <td><%= suite %></td>
          <td><%= client %></td>
          <td><%= storage %></td>
          <td><%= status %></td>
          <td><%= issueType %></td>
          <td><%= time %></td>
        </tr>
      <%

    }
  %>

  <table class="table table-condensed sorted-table">
    <thead>
      <tr>
        <th class="sorted-asc"><%- trans('Номер посылки') %></th>
        <th><%- trans('Cьют') %></th>
        <th><%- trans('Клиент') %></th>
        <th><%- trans('Склад') %></th>
        <th><%- trans('Статус') %></th>
        <th><%- trans('Тип проблемы') %></th>
        <th><%- trans('Последнее обновление') %></th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 1; i >= 0; i--) { randomRow() } %>
    </tbody>
  </table>

  <% include includes/pagination %>

</div>


<% include includes/layout/outro %>
