<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Клиент просит подготовить к выдаче вскрытую посылку') %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%- trans('Упакуйте посылку и подготовьте ее к выдаче.') %>
      </p>

      <a href="<%- pageUrl('storage-parcel') %>" class="btn btn-primary"><%- trans('Посылка готова') %></a>


    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>



<% include includes/layout/outro %>
