<% var TITLE = trans('Платеж #3462') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/payments/payment-header %>

<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Необходимо вернуть пошлину') %></h3>
    </div>
    <div class="panel-body">

      <h4><%- trans('Загруженная клиентом квитанция') %></h4>

      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/doc-photos/u456.jpg') %>" data-lightbox="123" class="thumbnail">
            <img src="<%- staticUrl('images/samples/doc-photos/u456.jpg') %>">
          </a>
        </div>
      </div>

      <p>
        <%- trans('Проверьте состояние заблокированных средств и проведите необходимые мероприятия для возврата пошлины клиенту.') %>
      </p>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Имя') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">Oleg</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Фамилия') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">Petrov</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Телефон') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">+71234567890</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Почта') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">oleg-petrov@example.com</p>
          </div>
        </div>
      </div>

      <a href="<%- pageUrl('payments--item') %>" class="btn btn-primary"><%- trans('Закрыть проблему') %></a>

    </div>
  </div>

  <% include includes/payments/payment-bottom %>

</div>



<% include includes/layout/outro %>
