<% var TITLE = trans('Выдача #638') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/issuance-be/issuance-header %>

<div class="container">

  <div class="alert alert-info">
    <%- trans('Сверьте имя и фамилию с данными в паспорте.') %>
  </div>

  <p class="lead">
    Petrov Oleg
  </p>

  <button type="button" class="btn btn-primary"
    data-single-photo="<%- staticUrl('images/samples/u126.jpg') %>"
    data-on-success="<%- pageUrl('issuance--issuance-4') %>"
  ><%- trans('Совпадают') %></button>
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#not-match-modal-1"><%- trans('Не совпадают') %></button>

  <br>
  <br>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%- trans('Сообщите клиенту о том, что ему ещё доступны посылки готовые к подбору') %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><%- trans('Номер посылки') %></th>
          <th><%- trans('Магазин') %></th>
          <th width="1%"><%- trans('Пошлина&nbsp;(€)') %></th>
          <th width="1%"><%- trans('Услуга&nbsp;(€)') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>K0658163</td>
          <td>Amazon</td>
          <td>
            14
          </td>
          <td>
            65
          </td>
        </tr>
        <tr>
          <td>K0658164</td>
          <td>Amazon</td>
          <td>
            14
          </td>
          <td>
            65
          </td>
        </tr>
        <tr>
          <th colspan="2"><%- trans('Итог:') %></th>
          <td>
            28
          </td>
          <td>
            130
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <%- trans('Сообщите клиенту о том, что эти посылки не найдены и их стоимость будет компенсирована') %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><%- trans('Номер посылки') %></th>
          <th><%- trans('Магазин') %></th>
          <th width="1%"><%- trans('Пошлина&nbsp;(€)') %></th>
          <th width="1%"><%- trans('Услуга&nbsp;(€)') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>K0658163</td>
          <td>Amazon</td>
          <td>
            14
          </td>
          <td>
            65
          </td>
        </tr>
        <tr>
          <td>K0658164</td>
          <td>Amazon</td>
          <td>
            14
          </td>
          <td>
            65
          </td>
        </tr>
        <tr>
          <th colspan="2"><%- trans('Итог') %>:</th>
          <td>
            28
          </td>
          <td>
            130
          </td>
        </tr>
      </tbody>
    </table>
  </div>




</div>



<!-- Modal -->
<div class="modal fade" id="not-match-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%- trans('Имя и/или фамилия не совпадают с данными в паспорте') %></h4>
      </div>
      <div class="modal-body">
        <h3>
          <%- trans('Одна или две ошибки') %><br>
          <small><%- trans('Введите правильные имя и фамилию и нажмите «Продолжить»') %></small>
        </h3>
        <form action="<%- pageUrl('issuance--issuance-3') %>" class="form-horizontal">
          <div class="form-group">
            <label for="tmp-id-1001" class="col-sm-2 control-label"><%- trans('Имя') %></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tmp-id-1001">
            </div>
          </div>
          <div class="form-group">
            <label for="tmp-id-1002" class="col-sm-2 control-label"><%- trans('Фамилия') %></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tmp-id-1002">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary"><%- trans('Продолжить') %></button>
            </div>
          </div>
        </form>
        <h3>
          <%- trans('Более двух ошибок') %><br>
          <small><%- trans('Необходимо прервать выдачу и передать клиенту инструкции для исправления ошибок.') %></small>
        </h3>
        <p>
          <a href="<%- pageUrl('issuance--issuance-2-1') %>" class="btn btn-default"><%- trans('Прервать выдачу') %></a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%- trans('Отмена') %></button>
      </div>
    </div>
  </div>
</div>

<% include includes/layout/outro %>
