<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Посылку необходимо вернуть') %></h3>
    </div>
    <div class="panel-body">

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 col-xs-4 control-label"><%- trans('Квитанция') %></label>
          <div class="col-sm-2 col-xs-4">
            <a href="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>" data-lightbox="parcel-photos" class="thumbnail">
              <img src="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>">
            </a>
          </div>
          <div class="col-xs-8">
            <p><%- trans('Проверьте приложенный файл. Отметьте если был прикреплен другой документ.') %></p>
            <a href="<%- pageUrl('issues--item--return--prepaid-1-1') %>" class="btn btn-default"><%- trans('Прикреплен другой документ') %></a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Возвратный номер') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">45766</p>
          </div>
        </div>
      </div>

      <hr>


      <p><%- trans('Подтвердите получение квитанции и отправьте счет для оплаты услуги по подготовке посылки к отправке (5 €)') %></p>

      <a href="<%- pageUrl('issues--item--return--prepaid-2') %>" class="btn btn-primary"><%- trans('Отправить') %></a>

    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>



<% include includes/layout/outro %>
