<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Посылку необходимо вернуть') %></h3>
    </div>
    <div class="panel-body">

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 col-xs-4 control-label"><%- trans('Квитанция') %></label>
          <div class="col-sm-2 col-xs-4">
            <a href="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>" data-lightbox="parcel-photos" class="thumbnail">
              <img src="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>">
            </a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Возвратный номер') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">45766</p>
          </div>
        </div>
      </div>

      <hr>


      <p><%- trans('Клиент оплатил все необходимые расходы (5 €)') %></p>

      <hr>

      <p><%- trans('Отправьте посылку. После отправки посылки введите трекинг номер и закройте проблему.') %></p>

      <form class="form-horizontal" action="<%- pageUrl('storage-parcel') %>">
        <div class="form-group">
          <label for="tmp-id-31" class="col-sm-2 control-label"><%- trans('Трекинг номер') %></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="tmp-id-31"
              onkeyup="$('#return-form-submit-1').prop('disabled', !$(this).val())"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" disabled id="return-form-submit-1"><%- trans('Закрыть проблему') %></button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>



<% include includes/layout/outro %>
