<% var TITLE = trans('Платеж #3462') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/payments/payment-header %>

<div class="container">

  <% include includes/payments/payment-bottom %>

</div>



<% include includes/layout/outro %>
