<% var TITLE = '31337' %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        Petrov Oleg
      </span>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>



<div class="container">

  <% var SUITE_ISSUES_TITLE = trans('Проблемы сьюта') %>
  <% include includes/issues/suite-issues %>
  <br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active">
      <a role="tab" data-toggle="tab" href="#tab-main">
        <strong><%- trans('На складе') %></strong> <span class="badge">2</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-incomplete">
        <strong><%- trans('Недооформленные') %></strong> <span class="badge">3</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-unidentified">
        <strong><%- trans('Неопознанные') %></strong> <span class="badge">2</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-lost">
        <%- trans('Потерянные') %> <span class="badge">1</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-in-other-storage">
        <%- trans('Наши, но на других складах') %> <span class="badge">2</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-should-be-in-other">
        <%- trans('Должны быть на других складах') %> <span class="badge">5</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-written-off">
        <%- trans('Списанные') %> <span class="badge">2</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-send-back">
        <%- trans('Надо отправить обратно') %> <span class="badge">1</span>
      </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="#tab-delivered">
        <%- trans('Выданные посылки') %> <span class="badge">3</span>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="tab-main">
      <br>
      <% include includes/search %>
      <% include includes/storage/parcel-list--suite %>
    </div>
    <div class="tab-pane" id="tab-incomplete">
      <br>
      <% include includes/search %>

      <ul class="nav nav-tabs">
        <li class="active">
          <a role="tab" data-toggle="tab" href="#tab-incomplete__tab-a">
            <%- trans('Недооформленные') %> <span class="badge">3</span>
          </a>
        </li>
        <li>
          <a role="tab" data-toggle="tab" href="#tab-incomplete__tab-b">
            <%- trans('Данные запрошенны у пользователя') %> <span class="badge">3</span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-incomplete__tab-a">
        <br>
        <% include includes/storage/parcel-list-incomplete--suite %>
        </div>
        <div class="tab-pane" id="tab-incomplete__tab-b">
        <br>
        <% include includes/storage/parcel-list-incomplete--suite %>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="tab-unidentified">
      <br>
      <div class="alert alert-info">
        <%- trans('Тут показаны посылки, на которых не было штрихкода, или он был не читаем.') %>
      </div>
      <% include includes/search %>
      <% include includes/storage/parcel-list-unidentified--suite %>
    </div>
    <div class="tab-pane" id="tab-lost">
      <br>
      <div class="alert alert-info">
        <%- trans('Тут показаны посылки, которые не были найдены в процессе инвентаризации.') %>
      </div>
      <% include includes/search %>
      <% include includes/storage/parcel-list--suite %>
    </div>
    <div class="tab-pane" id="tab-in-other-storage">
      <br>
      <div class="alert alert-info">
        <%- trans('Тут показаны посылки, которые находятся на других складах, но  должны быть у нас.') %>
      </div>
      <% include includes/search %>
      <% include includes/storage/parcel-list--suite %>
    </div>
    <div class="tab-pane" id="tab-should-be-in-other">
      <br>
      <div class="alert alert-info">
        <%- trans('Тут показаны посылки, которые находятся у нас, но должны быть на других складах.') %>
      </div>
      <% include includes/search %>
      <% include includes/storage/parcel-list--suite %>
    </div>
    <div class="tab-pane" id="tab-written-off">
      <br>
      <div class="alert alert-info">
        <%- trans('Тут показаны посылки, которые были зарегистрированы в системе, но, в результате проведенной инвентаризации, не найдены на складе.') %>
      </div>
      <% include includes/search %>
      <% include includes/storage/parcel-list--suite %>
    </div>
    <div class="tab-pane" id="tab-send-back">
      <br>
      <% include includes/search %>

      <ul class="nav nav-tabs">
        <li class="active">
          <a role="tab" data-toggle="tab" href="#tab-send-back__tab-a">
            <%- trans('Оценить стоимость отправки') %> <span class="badge">3</span>
          </a>
        </li>
        <li>
          <a role="tab" data-toggle="tab" href="#tab-send-back__tab-b">
            <%- trans('Ожидает оплаты') %> <span class="badge">4</span>
          </a>
        </li>
        <li class="disabled">
          <a role="tab" href="#">
            <%- trans('Отправить') %> <span class="badge">0</span>
          </a>
        </li>
        <li>
          <a role="tab" data-toggle="tab" href="#tab-send-back__tab-d">
            <%- trans('Отправлено') %> <span class="badge">5</span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-send-back__tab-a">
        <br>
        <% include includes/storage/parcel-list--suite %>
        </div>
        <div class="tab-pane" id="tab-send-back__tab-b">
        <br>
        <% include includes/storage/parcel-list--suite %>
        </div>
        <div class="tab-pane" id="tab-send-back__tab-d">
        <br>
        <% include includes/storage/parcel-list--suite %>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="tab-delivered">
      <br>
      <% include includes/search %>
      <% include includes/storage/parcel-list--suite %>
    </div>
  </div>

  <% include includes/pagination %>

</div>


<% include includes/layout/outro %>
