<% var TITLE = trans('Транзит #73') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/transit/header %>


<div class="container">

  <h1><%- trans('Просканируйте QR коды посылок, чтобы принять их на склад') %></h1>
  <br>

  <a href="<%- pageUrl('transit-in-scan') %>" class="btn btn-primary"><%- trans('Сканировать') %></a>

  <br><br><br>

  <h4><%- trans('Принятые') %></h4>

  <table class="table" id="log-table-1">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Клиент') %></th>
        <th><%- trans('Продавец') %></th>
        <th><%- trans('Склад') %></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <br>

</div>




<% include includes/layout/outro %>
