<% var TITLE = trans('Транзит') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<div class="container">

  <div class="alert alert-info" role="alert"><%- trans('Заполните перед началом транзита') %></div>

  <br>

  <form action="<%- pageUrl('transit-out-1') %>">
    <button class="btn btn-primary"><%- trans('Продолжить') %></button>
    <a href="<%- pageUrl('storage-list') %>" class="btn btn-default"><%- trans('Отмена') %></a>
  </form>

</div>


<% include includes/layout/outro %>
