<% var TITLE = trans('Транзит #73') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/transit/header %>


<div class="container">

  <h1><%- trans('Просканируйте QR коды посылок, чтобы принять их на склад') %></h1>
  <br>

  <a href="<%- pageUrl('transit-in-scan') %>" class="btn btn-primary"><%- trans('Сканировать') %></a>

  <br><br><br>

  <h4><%- trans('Принятые') %></h4>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Клиент') %></th>
        <th><%- trans('Продавец') %></th>
        <th><%- trans('Склад') %></th>
        <th><%- trans('Время приемки') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>P4017888</td>
        <td>Petrov Oleg</td>
        <td>Google</td>
        <td><%- trans('Третий') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
      <tr>
        <td>P6211309</td>
        <td>Petrov Oleg</td>
        <td>Microsoft</td>
        <td><%- trans('Лаппеенранта') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
      <tr>
        <td>P4171930</td>
        <td>Petrov Oleg</td>
        <td>Microsoft</td>
        <td><%- trans('Третий') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
      <tr>
        <td>P1942254</td>
        <td>Pushkin Dmitriy</td>
        <td>Google</td>
        <td><%- trans('Лаппеенранта') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
    </tbody>
  </table>
  <br>

  <div class="btn-with-note">
    <a href="<%- pageUrl('transit-in-result') %>" class="btn btn-primary"><%- trans('Сформировать акт и завершить') %></a>
    <small><%- trans('Будет сформирован<br>акт о приемке') %></small>
  </div>
  <a href="<%- pageUrl('transit-in') %>" class="btn btn-default"><%- trans('Отмена') %></a>
  <br>
  <br>

</div>


<% include includes/layout/outro %>
