<div class="header">
  <div class="container">
    <div class="header__left">
      <a href="index.html" class="header__logo">
        <img src="<%- staticUrl('images/illustrations/logo.svg') %>">
      </a>
      <p class="header__slogan">
        <%- trans('Ваше почтовое отделение<br>в Финляндии') %>
      </p>
    </div>
  </div>
</div>
