*, *:before, *:after
  box-sizing border-box

ul, li
  list-style none
  display block

ul, li, p, h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

a
  text-decoration none
  color inherit

body
  font-family gp, sans-serif
  background #f1f0ef
  min-width 800px
  color #464547

html, body
  height 100%
