<?php

$custom_id = Mage::registry('custom_id');

/** @var $_product Mage_Catalog_Model_Product */
$custom = Mage::getModel('catalog/product');
if ($custom_id != null) {
    $custom->load($custom_id);
}

?>


<div class="container">

<div class="form-horizontal">
    <div class="form-group">
        <label for="cs_response_code" class="col-sm-2 control-label"><?php echo $this->__("Response Code") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="cs_response_code" name="cs_response_code" value="<?php echo $custom->getCsResponseCode() ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="cs_response_text" class="col-sm-2 control-label"><?php echo $this->__("Response Text") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="cs_response_text" name="cs_response_text" value="<?php echo $custom->getCsResponseText() ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="cs_control_reference_id" class="col-sm-2 control-label"><?php echo $this->__("Control Reference ID") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="cs_control_reference_id" name="cs_control_reference_id" value="<?php echo $custom->getCsControlReferenceId() ?>">
        </div>
    </div>

</div>



</div>