.container
  width 672px
  margin 0 auto

.row
  +cache('grid-row')
    clearfix()
    margin 0 -4px

for num in (1..8)
  .col-{num}
    +cache('grid-col')
      padding 0 4px
      display block
      float left
      min-height 1px
    width (num/8*100)%

for subi in (2..7)
  .row-sub-{subi}
    +cache('grid-row')
      clearfix()
      margin 0 -4px
    for coli in (1..subi)
      .col-{coli}
        width (coli/subi*100)%
