<form role="form" class="bottom-buffer">
  <div class="row">
    <div class="col-xs-12">
      <input type="search" class="form-control" placeholder="<%- trans('Поиск') %>">
    </div>
  </div>
</form>
