<% var NO_STORAGE_HEADER = true %>
<% include ../layout/intro %>

<% var settingsMode = (function(){try{return CLIENT_UI__INTRO__SETTINGS}catch(e){return false}}()) %>


<% include ../payment-modal %>


<nav class="navbar navbar-inverse navbar-static-top navbar-ztop" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <% include ../layout/lang-select %>
      <ul class="nav navbar-nav navbar-right">
        <% if (!settingsMode) { %><li><a href="settings.html">Настройки</a></li><% } %>
        <li><a href="#">Выход</a></li>
      </ul>
      <p class="navbar-text navbar-right">
        <strong>Задолженность</strong><br>
        за услуги 14€<br>
        за пошлины 15€<br>
        <a href="payment--all.html" class="btn btn-success btn-xs">Оплатить</a>
      </p>
    </div>

  </div>
</nav>




<% if (!settingsMode) { %>
  <%/* include default-store-bar */%>
<% } else { %>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <p class="navbar-text">
        <a href="dashboard.html">&larr;&nbsp; К посылкам</a>
      </p>
    </div>
  </nav>
<% } %>


