<!-- Modal -->
<div class="modal fade" id="move-parcel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Переместить посылки с других складов на новый склад по умолчанию?</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><input type="checkbox" data-toggle-all=".js-move-parcel-checkbox" checked></th>
              <th>Трекинг</th>
              <th>Продавец</th>
              <th>На складе</th>
              <th>Стоимость перевода</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" class="js-move-parcel-checkbox" checked></td>
              <td>1Z6R646E0319744877</td>
              <td>Google</td>
              <td>Иматра</td>
              <td>5 €</td>
            </tr>
            <tr>
              <td><input type="checkbox" class="js-move-parcel-checkbox" checked></td>
              <td>1Z6R646E0319744871</td>
              <td>Apple</td>
              <td>Иматра</td>
              <td>5 €</td>
            </tr>
            <tr>
              <td><input type="checkbox" class="js-move-parcel-checkbox" checked></td>
              <td>1Z6R646E0319744872</td>
              <td>Microsoft</td>
              <td>Иматра</td>
              <td>5 €</td>
            </tr>
            <tr>
              <th colspan="4">Итого</th>
              <td><span class="js-move-parcel-sum">15</span> €</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Переместить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Не перемещать</button>
      </div>
    </div>
  </div>
</div>
