<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-5">
        <h3>Завершение регистрации</h3>
        <p class="single-form-page__text">
          Напишите свою электронную почту, чтобы мы могли вас зарегистрировать.
        </p>
		<?php if($exists):?>
			<p class="error-msg">
			  Этот e-mail адрес уже зарегитрирован.
			</p>
		<?php endif;?>
		<?php if($wrong):?>
			<p class="error-msg">
				E-mail не корректный.
			</p>
		<?php endif;?>
        <form class="default-form" action="<?php echo $current_url ?>">
          <div class="form-group">
            <input class="text-input js-fix-ph" placeholder="Введите вашу электронную почту" type="text" name="email" value="<?php echo $email ?>"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-orange">Перейти в личный кабинет</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>