<div class="oauth">
	<p><?php echo $this->__('или войдите через') ?></p>
	<ul>
        <li class="oauth__vk">
			<a href="<?php echo $current_url?>?login=Vkontakte" class="oauth__btn"><?php echo $this->__('Вконтакте') ?></a>
		</li>
        <li class="oauth__odnoklassniki">
			<a href="<?php echo $current_url?>?login=Odnoklassniki" class="oauth__btn"><?php echo $this->__('Одноклассники') ?></a>
		</li>
        <li class="oauth__facebook">
			<a href="<?php echo $current_url?>?login=Facebook" class="oauth__btn"><?php echo $this->__('Facebook') ?></a>
		</li>
	</ul>
</div>