  <!-- Требует оплаты -->
  <div class="parcel-info js-parcel-info" data-parcel-id="3">
    <script type="text/javascript">
      PARCEL_INFO = window.PARCEL_INFO || {};

      // Этот JSON формируется на сервере
      PARCEL_INFO["3"] = { // здесь id из data-parcel-id
        proxyPersons: [
          {name: 'Алексей Скакалкин', passport: '021234567'}
        ]
      }
    </script>

    <div class="container">
      <h4>9A7B699N3319566761</h4>
      <div class="row">
        <div class="col-3">
          <span class="parcel-info__label"><%- trans('Откуда') %></span>
          <span class="parcel-info__value">apple.com</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Пункт выдачи') %></span>
          <span class="parcel-info__value">Imatra<br>Светогорск</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Довереность') %></span>
          <div
            class="parcel-info__value js-parcel-info__proxy"
            data-on-empty="<%- trans('Заберу сам') %>"
          ></div>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('К оплате') %></span>
          <span class="parcel-info__value">
            30% (€ 50)
            <span class="icon icon-help popover__target js-popover-target">
              <div class="popover popover--for-round-icon js-popover">
                <div class="popover__content">
                  <%- trans('%TODO Застываение лавы сбрасывает батолит.skip-until-by') %>
                </div>
              </div>
            </span>
            + € 5
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <a href="#TODO" class="btn btn-block btn-link"><span><%- trans('Подробнее о посылке') %></span></a>
        </div>
        <div class="col-2">
          <a href="#TODO" class="btn btn-block btn-link"><span><%- trans('Изменить пункт выдачи') %></span></a>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-block btn-link js-parcel-info__set-proxy"
          >
            <span
              class="js-parcel-info__set-proxy__text"
              data-on-empty="<%- trans('Оформить доверенность') %>"
              data-on-full="<%- trans('Переоформить доверенность') %>"
            ></span>
          </button>
        </div>
        <div class="col-2">
          <a href="#TODO" class="btn btn-block btn-orange"><%- trans('Оплатить ') %>€ 55</a>
        </div>
      </div>
    </div>
  </div>
