  <!-- Ожидание возврата пошлины -->
  <div class="parcel-info parcel-list--picked-up-pending">
    <div class="container">
      <h4>3F6Y646G4819799328</h4>
      <div class="row">
        <div class="col-3">
          <span class="parcel-info__label"><%- trans('Выдана') %></span>
          <span class="parcel-info__value">18:00<br>22 октября 2015</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Пункт выдачи') %></span>
          <span class="parcel-info__value">Nuijamaa<br>Брусничное</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Довереность') %></span>
          <span class="parcel-info__value">Алексей Скакалкин</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Возврат пошлины') %></span>
          <span class="parcel-info__value">
            <strong>€ 250</strong>
            <span class="icon icon-help popover__target js-popover-target">
              <div class="popover popover--for-round-icon js-popover">
                <div class="popover__content">
                  <%- trans('Эту сумму мы вернем вам в течение суток после того, как вы заберете посылку и пересечете границу.') %>
                </div>
              </div>
            </span>
            <br>
            <span class="parcel-info__info-note">
              <%- trans('Сообщите нам, если деньги не вернулись') %>
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <a href="#TODO" class="btn btn-block btn-link"><span><%- trans('Подробнее о посылке') %></span></a>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
          <a href="#TODO" class="btn btn-block btn-blue"><%- trans('Сообщить') %></a>
        </div>
      </div>
    </div>
  </div>
