

<!-- Оплаченная и заблокированная посылка -->
<label class="parcel-item">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <div class="checkbox">
          <input
            type="checkbox"
            name="%todo"
            class="js-parcels-sel__item"
            data-deposite="0"
            data-service="0"
            checked
            disabled
          >
          <div class="checkbox__ui"></div>
        </div>
      </div>
      <div class="col-7">
        <span class="parcel-item__name">Подарки на новый год друзьям</span>
        <div class="row-sub-7 parcel-item__meta">
          <div class="col-3">
            <span class="parcel-item__meta__label"><%- trans('Откуда') %></span>
            <span class="parcel-item__meta__value">apple.com</span>
          </div>
          <div class="col-4">
            <span class="parcel-item__meta__label">&nbsp;</span>
            <span class="parcel-item__meta__value"><strong><%- trans('Оплачено') %></strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</label>


