<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>


<div class="action-requred-block">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <span class="action-requred-block__message">
          <%- trans('Пожалуйста, заполните недостающую<br>информацию о посылке') %>
        </span>
        <div class="action-requred-block__secondary-text">
          <p><%- trans('Это необходимо для оформления транзитных документов, чтобы мы как ваш таможенный агент могли забрать ваши посылки с финской таможни. Телефон для справок 8 800 200 56 97.') %></p>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <a href="#declaration" class="btn btn-block btn-trans-white js-go-to-decl-btn"><%- trans('Заполнить') %></a>
      </div>
    </div>
  </div>
</div>


<% var EDITABLE_TITLE_OPT = {
  classSuffix: 'action-requred'
} %>
<% include _inc/parcel-page/editable-title %>


<% var PARCEL_INFO_OPT = {
  paymentBtnContent: function(buf) { %>
    <span class="parcel-info__controls-spacing"></span>
    <div class="popover__target js-popover-target">
      <span class="btn btn-block btn-orange btn-disabled"><%- trans('Оплатить ') %>€ 55</span>
      <div class="popover popover--target-width js-popover">
        <div class="popover__content">
          <%- trans('Вы не можете оплатить пошлину и наш сбор пока не заполите перечень товаров в вашей посылке') %>
        </div>
      </div>
    </div>
  <% }
} %>
<% include _inc/parcel-page/parcel-info %>

<% var DECLARATION_OPT = {
  declarationData: function(buf) { %>
    // Этот JSON должен фомироваться на стороне сервера
    var DECLARATION_INITIAL_DATA = {

      defaultCurrency: {
        sign: '€',
        total: 3000
      },

      // Если используется евро, то в этом поле должен быть null (notDefaultCurrency: null)
      notDefaultCurrency: null,

      items: []

    };
  <% }
} %>
<% include _inc/parcel-page/declaration %>


<% include _inc/parcel-page/full-info %>




<% include _inc/footer %>

<% var LAYOUT_JS = function(buf) { %>
  <link rel="stylesheet" type="text/css" href="<%- staticUrl('vendor-packages/lightbox/css/lightbox.css') %>">
  <script type="text/javascript" src="<%- staticUrl('vendor-packages/lightbox/js/lightbox.min.js') %>"></script>
<% } %>

<% include _inc/layout/outro %>
