<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>




<% include _inc/parcel-page/editable-title %>
<% include _inc/parcel-page/parcel-info %>
<% include _inc/parcel-page/declaration %>
<% include _inc/parcel-page/full-info %>



<% include _inc/proxy-person-modal %>



<% include _inc/footer %>

<% var LAYOUT_JS = function(buf) { %>
  <link rel="stylesheet" type="text/css" href="<%- staticUrl('vendor-packages/lightbox/css/lightbox.css') %>">
  <script type="text/javascript" src="<%- staticUrl('vendor-packages/lightbox/js/lightbox.min.js') %>"></script>
<% } %>

<% include _inc/layout/outro %>
