<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>


<form class="payment-form-wrap js-payment-form" autocomplete="off">
  <div class="container">

    <h2><%- trans('Для оплаты пошлин и услуг<br>введите данные карты') %></h2>

    <ul class="form-global-errors">
      <li><%- trans('Пожалуйста, проверьте правильность вводимых данных.') %></li>
    </ul>

    <div class="payment-form">
      <div class="payment-form__main-wrap">
        <h3 class="payment-form__title js-payment-form__cart-type">&nbsp;</h3>
        <div class="payment-form__number has-error">
          <input
            type="text"
            name="%todo"
            class="form-control js-payment-form__number"
            id="payment-number"
          >
          <label for="payment-number"><%- trans('Номер карты') %></label>
        </div>
        <div class="payment-form__date has-error">
          <input
            type="text"
            name="%todo"
            class="form-control js-payment-form__month"
            id="payment-month"
            pattern="\d*"
            novalidate
            maxlength="2"
          >
          <span class="payment-form__date__delimetr">/</span>
          <input
            type="text"
            name="%todo"
            class="form-control js-payment-form__year"
            pattern="\d*"
            novalidate
            maxlength="2"
          >
          <label for="payment-month"><%- trans('Срок действия') %></label>
        </div>
        <div class="payment-form__ovner has-error">
          <input
            type="text"
            name="%todo"
            class="form-control"
            id="payment-name"
          >
          <label for="payment-name"><%- trans('Владелец карты (как на карте)') %></label>
        </div>
      </div>
      <div class="payment-form__code-wrap">
        <div class="payment-form__code has-error">
          <input
            type="password"
            name="%todo"
            class="form-control js-payment-form__code"
            id="payment-code"
            pattern="\d*"
            novalidate
          >
          <label for="payment-code"><%- trans('CVC код') %></label>
        </div>
      </div>
    </div>

    <div class="payment-form-wrap__bottom">
      <p class="payment-form-wrap__bottom__note">
        <%- trans('Внесенный депозит') %>
        <strong>€ 15</strong>
        <%- trans('будет возвращен на карту после прохождения вами границы') %>
      </p>
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange js-payment-form__submit">
            <%- trans('Оплатить') %> € 65
          </button>
          <p class="in-local-currency">
            7000 <%- trans('руб. по курсу ЦБРФ') %>
          </p>
        </div>
        <div class="col-2">
          <a href="#TODO" class="btn btn-block btn-black">
            <%- trans('Оплачу потом') %>
          </a>
        </div>
      </div>
    </div>

  </div>
</form>



<% include _inc/footer %>
<% include _inc/layout/outro %>
