<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>


<div class="payment-error-page">
  <div class="container">
    <img class="payment-error-page__icon" src="<%- staticUrl('images/icons/error-time.svg') %>">
    <h2><%- trans('Что-то пошло не так. Попробуйте<br>еще раз.') %></h2>
    <p>
      <%- trans('Ваши деньги не списались, возможен временный сбой.<br>Приносим свои извинения за неудобства.<br>Телефон для справок 8 800 200 56 97') %>
    </p>
    <div class="row">
      <div class="col-2">
        <a href="#TODO" class="btn btn-block btn-orange">
          <%- trans('Попробовать еще раз') %>
        </a>
      </div>
      <div class="col-2">
        <a href="#TODO" class="btn btn-block btn-black">
          <%- trans('Оплачу потом') %>
        </a>
      </div>
    </div>
  </div>
</div>



<% include _inc/footer %>
<% include _inc/layout/outro %>
