<% include _inc/layout/intro %>

<% include _inc/headers/empty %>

<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-6">
        <div class="succes-message">
          <img src="<%- staticUrl('images/illustrations/success-letter.svg') %>">
          <h3><%- trans('Готово!') %></h3>
          <p class="single-form-page__text">
            <%- trans('Наше письмо придет на вашу<br>электронную почту.') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _inc/footer %>

<% include _inc/layout/outro %>
