<% include _inc/layout/intro %>

<% include _inc/headers/settings %>


<!-- %TODO AJAX -->
<form class="settings-block">
  <div class="container">
    <h3><%- trans('Выберите наиболее удобный для вас пункт подбора ваших посылок') %></h3>
    <p class="settings-block__sub-title">
      <%- trans('Адрес от этого не меняется. Мы будем по-умолчанию доставлять ваши посылки на этот пункт, а вы всегда сможете сменить его') %>
    </p>
    <div class="row">
      <div class="col-4">
        <div class="storage-select-item">
          <label>
            <div class="radio">
              <input type="radio" name="tmp1" checked>
              <div class="radio__ui"></div>
            </div>
            <div class="storage-select-item__name">
              <%- trans('Иматра') %>
              <small><%- trans('Светогорск МАПП') %></small>
            </div>
          </label>
          <a class="storage-select-item__map" href="#TODO">
            <%- trans('Подробная карта проезда') %>
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="storage-select-item">
          <label>
            <div class="radio">
              <input type="radio" name="tmp1">
              <div class="radio__ui"></div>
            </div>
            <div class="storage-select-item__name">
              <%- trans('Лаппеенранта') %>
              <small><%- trans('Брусничное МАПП') %></small>
            </div>
          </label>
          <a class="storage-select-item__map" href="#TODO">
            <%- trans('Подробная карта проезда') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</form>




<!-- %TODO AJAX -->
<form class="settings-block">
  <div class="container">
    <h3><%- trans('Уведомления') %></h3>
    <p class="settings-block__sub-title">
      <%- trans('Выберете способы оповещения о новых посылках и других изменения статусов ваших посылок') %>
    </p>
    <div class="row">
      <div class="col-4">
        <div class="alert-select-item">
          <label>
            <div class="checkbox">
              <input type="checkbox" checked>
              <div class="checkbox__ui"></div>
            </div>
            <div class="alert-select-item__name">
              <%- trans('на почту') %>
            </div>
            <div class="alert-select-item__value">
              oleg-petrov@example.com
            </div>
          </label>
        </div>
      </div>
      <div class="col-4">
        <div class="alert-select-item">
          <label class="is-disabled">
            <div class="checkbox">
              <input type="checkbox" disabled>
              <div class="checkbox__ui"></div>
            </div>
            <div class="alert-select-item__name">
              <%- trans('по СМС') %>
            </div>
            <!-- <div class="alert-select-item__value">
              +7 (903) 385-57-54
            </div> -->
          </label>
          <a class="alert-select-item__setup" href="#setup-phone">
            <%- trans('укажите ваш номер телефона') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</form>



<div class="settings-block settings-block--alt-bg" id="setup-email">
  <div class="container">
    <h3><%- trans('Сменить почту') %></h3>

    <!-- %TODO AJAX -->
    <form class="settings-contacts-form">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" class="text-input js-fix-ph" placeholder="Введите новый адрес эл. почты">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Сохранить') %></button>
        </div>
      </div>
    </form>

    <!-- %TODO AJAX -->
    <form class="settings-contacts-form">
      <p class="settings-contacts-form__descr">
        <%- trans('На почту') %>
        olegpetrov@mail.ru
        <%- trans('высланно подтверждение изменения адреса эл.&nbsp;почты') %>
      </p>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" class="text-input">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Подтвердить') %></button>
        </div>
      </div>
    </form>

  </div>
</div>



<div class="settings-block settings-block--alt-bg" id="setup-phone">
  <div class="container">
    <h3><%- trans('Указать телефон') %></h3>

    <!-- %TODO AJAX -->
    <form class="settings-contacts-form">
      <div class="row">
        <div class="col-3">
          <div class="form-group has-error">
            <p class="form-field-error">
              <%- trans('Неверный телефон') %>
            </p>
            <div class="input-group phone-input js-phone-field">
              <span class="input-group__addon">+&nbsp;7&nbsp;(</span>
              <input type="text" class="text-input phone-input__short" maxlength="3">
              <span class="input-group__addon">)</span>
              <input type="text" class="text-input phone-input__long" maxlength="7">
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Сохранить') %></button>
        </div>
      </div>
    </form>

    <!-- %TODO AJAX -->
    <form class="settings-contacts-form">
      <p class="settings-contacts-form__descr">
        <%- trans('На номер') %>
        +7 921 666 77 79
        <%- trans('выслано смс с&nbsp;кодом подтверждения') %>
      </p>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" class="text-input">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Подтвердить') %></button>
        </div>
      </div>
      <p class="settings-contacts-form__resend">
        <button type="button"><%- trans('выслать повторно') %></button> через 30 сек.
      </p>
    </form>

  </div>
</div>




<div class="settings-block settings-block--alt-bg">
  <div class="container">
    <h3><%- trans('Паспортные данные') %></h3>

    <!-- %TODO AJAX, может быть -->
    <form class="settings-pass-form">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" class="text-input js-fix-ph" placeholder="<%- trans('Имя, как в заграничном паспорте') %>">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" class="text-input js-fix-ph" placeholder="<%- trans('Фамилия, как в заграничном паспорте') %>">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" class="text-input js-fix-ph" data-mask="99 9999999" placeholder="<%- trans('Номер заграничного паспорта') %>">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Сохранить') %></button>
        </div>
      </div>
    </form>

  </div>
</div>




<div class="settings-block settings-block--alt-bg">
  <div class="container">
    <h3><%- trans('Смена пароля') %></h3>

    <!-- %TODO AJAX, может быть -->
    <form class="settings-pass-form">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="password" class="text-input js-fix-ph" placeholder="Введите текущий пароль">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="password" class="text-input js-fix-ph" placeholder="Введите новый пароль">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="password" class="text-input js-fix-ph" placeholder="Повторите новый пароль">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Сменить') %></button>
        </div>
      </div>
    </form>

  </div>
</div>





<% include _inc/footer %>

<% include _inc/layout/outro %>
