<% include _inc/layout/intro %>

<% include _inc/headers/landing %>


<div class="text-page">

  <div class="container">

    <h1>FAQ</h1>

    <h2>Как работает pochta.fi?</h2>

    <p>
      pochta.fi - это Ваше почтовое отделение в Финляндии. Заказывайте посылки на адреса, которые мы Вам предоставили, и забирайте их в наших приграничных отделениях.
    </p>

    <h2>Из каких стран я могу заказывать товары, пользуясь pochta.fi?</h2>

    <p>
      Вы можете заказывать товары из абсолютно любых стран.
    </p>

    <h2>Зачем мне почтовый адрес и в США, если я получаю все в Финляндии?</h2>

    <p>
      Мы даем Вам адрес в США, чтобы Вы могли делать покупки в тех интернет-магазинах на территории США, которые не осуществляют доставку своих товаров за рубеж.
      Кроме того личный почтовый адрес в США позволяет заметно снизить стоимость доставки Вашего заказа из любого американского интернет-магазина. Заказанные таким образом посылки Вы также забираете в нашем отделении в Финляндии за те же 15 евро, не переплачивая за доставку.
    </p>

    <h2>Сколько стоят услуги pochta.fi?</h2>

    <p>
      Стоимость обработки одной посылки - 15 евро. Также мы бронируем на Вашей карте таможенный депозит в размере 30% от стоимости товара. Депозит возвращается Вам после того, как Вы забираете посылку и пересекаете границу. Чаще всего это занимает несколько минут. В отдельных случаях, связанных с банком-эмитентом карты, снятие блокировки депозита может занимать до нескольких дней.
    </p>

    <h2>Что такое таможенный депозит как его вернуть?</h2>

    <p>
      Таможенный депозит это пошлина, установленная Правительством Финляндии в размере 30% от стоимости товара. При ввозе товара на территорию Финляндии мы, как Ваш таможенный агент, бронируем депозит на Вашей карте. Как только Вы покидаете Финляндию (пересекаете границу с ЕС) вместе с посылкой, мы получаем отметку о прохождении груза через границу, и возвращаем Вам депозит. Чаще всего депозит возвращается в течение нескольких минут. В отдельных случаях, связанных с банком-эмитентом карты, на снятие блокировки депозита может потребоваться до нескольких дней. Если Вы не покидаете страну и груз не покидает Финляндию (пределы ЕС), таможенный депозит перечисляется в пользу Финской таможни.
    </p>

    <h2>Как и где я могу оплатить услуги pochta.fi?</h2>

    <p>
      Ответ: Оплатить доставку и таможенный депозит Вы можете онлайн как на сайте pochta.fi, так и непосредственно в самих приграничных пунктах. Вы можете произвести оплату при помощи банковской карты + Braintree. Наличные средства к расчету не принимаются.
    </p>

    <h2>В чем моя экономия?</h2>

    <p>
      Товары в зарубежных магазинах часто бывают дешевле, чем в российских. Однако, интернет-продавец не всегда отправляет свои товары на территорию РФ, поэтому покупателю зачастую приходится пользоваться сложной схемой доставки, оплачивая дополнительные сборы и пошлины, что значительно повышает стоимость покупки. Кроме того, при неоднократных сменах экспедиторских компаний существенно увеличивается время ожидания доставки, возможна потеря как в качестве доставленного товара, так и самого груза. Pochta.fi избавит Вас от всех этих трудностей – мы гарантируем Вам надежную доставку без дополнительных сборов.
    </p>

    <h2>Получить посылку могу только я?</h2>

    <p>
       Получить Вашу посылку может любой человек по Вашей просьбе. Все, что нужно сделать, это оформить доверенность на нашем сайте.
    </p>

    <h2>Почему я должен указывать, что внутри посылки?</h2>

    <p>
      Это связано с правилами транзитного перемещения грузов. Для того, чтобы мы могли забрать Вашу посылку с таможенных терминалов в Финляндии, мы должны составить корректные транзитные документы, в которых мы обязаны указать в том числе содержание посылки. При предоставлении некорректных данных таможенные органы имеют право задержать посылку.
    </p>

    <h2>Зачем мне указывать стоимость?</h2>

    <p>
      Это связано с правилами транзитного перемещения грузов. Для того, чтобы мы могли забрать Вашу посылку с таможенных терминалов в Финляндии, мы должны составить корректные транзитные документы, в которых мы обязаны указать в том числе содержание посылки. При предоставлении некорректных данных таможенные органы имеют право задержать посылку.
    </p>

    <h2>Какой у вас режим работы?</h2>

    <p>
      Наши отделения работают каждый день с 9:00 до 22:00 часов, без перерывов и выходных.
    </p>

    <h2>Могу ли я поменять пункт выдачи посылки?</h2>

    <p>
      Да. Вы можете поменять пункт выдачи на тот, который Вам сейчас удобнее, в любой момент. Сделать это можно в личном кабинете, изменение пункта выдачи бесплатно.
    </p>

    <h2>Какого размера посылки Вы принимаете?</h2>

    <p>
      Мы принимаем посылки любых размеров от мобильного телефона до велосипеда.
    </p>










    <h1>Заголовок первого уровня</h1>

    <p>
      Легитимность власти неоднозначна. Политический процесс в современной России обретает институциональный феномен толпы. Институциализация категорически ограничивает институциональный доиндустриальный тип политической культуры. Социальная парадигма верифицирует гносеологический механизм власти, хотя на первый взгляд, российские власти тут ни при чем. Технология коммуникации фактически вызывает теоретический англо-американский тип политической культуры. Конечно, харизматическое лидерство <a href="#">доказывает гносеологический</a> субъект политического процесса.
    </p>

    <h2>Заголовок второго уровня</h2>

    <p>
      Марксизм неравномерен. Очевидно, что элемент политического процесса категорически приводит тоталитарный тип политической культуры. Авторитаризм символизирует постиндустриализм.
    </p>

    <p>
      Теологическая парадигма наблюдаема. По сути, феномен толпы практически формирует гуманизм. В постмодернистской перспективе многопартийная система категорически определяет теоретический политический процесс в современной России. Надо сказать, что глобализация отражает идеологический постиндустриализм, отмечает автор, цитируя К.Маркса и Ф.Энгельса. Христианско-демократический национализм, особенно в условиях политической нестабильности, определяет либерализм. Социальная парадигма, согласно традиционным представлениям, приводит референдум.
    </p>

    <ul>
      <li>Не каждый продавец отправляет <a href="#">в Россию</a>, в Финляндию — все</li>
      <li>Организуем за вас возврат товара продавцу</li>
      <li>Любые размеры от айфона до велосипеда</li>
    </ul>

    <p>
      Марксизм неравномерен. Очевидно, что элемент политического процесса категорически приводит тоталитарный тип политической культуры. Авторитаризм символизирует постиндустриализм.
    </p>

    <ol>
      <li>Не каждый продавец отправляет <a href="#">в Россию</a>, в Финляндию — все</li>
      <li>Организуем за вас возврат товара продавцу</li>
      <li>Любые размеры от айфона до велосипеда</li>
    </ol>

    <p>
      Теологическая парадигма наблюдаема. По сути, феномен толпы практически формирует гуманизм. В постмодернистской перспективе многопартийная система категорически определяет теоретический политический процесс в современной России. Надо сказать, что глобализация отражает идеологический постиндустриализм, отмечает автор, цитируя К.Маркса и Ф.Энгельса. Христианско-демократический национализм, особенно в условиях политической нестабильности, определяет либерализм. Социальная парадигма, согласно традиционным представлениям, приводит референдум.
    </p>

    <img class="text-page__full-img" src="images/photo/bg-call-to-act-b.jpg">

    <p>
      Марксизм неравномерен. Очевидно, что элемент политического процесса категорически приводит тоталитарный тип политической культуры. Авторитаризм символизирует постиндустриализм.
    </p>

    <p>
      Теологическая парадигма наблюдаема. По сути, феномен толпы практически формирует гуманизм. В постмодернистской перспективе многопартийная система категорически определяет теоретический политический процесс в современной России. Надо сказать, что глобализация отражает идеологический постиндустриализм, отмечает автор, цитируя К.Маркса и Ф.Энгельса. Христианско-демократический национализм, особенно в условиях политической нестабильности, определяет либерализм. Социальная парадигма, согласно традиционным представлениям, приводит референдум.
    </p>

  </div>

</div>



<% include _inc/footer %>

<% include _inc/layout/outro %>
