<% var OPT = (function(){try{return EDITABLE_TITLE_OPT}catch(e){return {}}}()) %>



<% if (OPT.editable !== false) { %>
<!-- %TODO AJAX: Здесь нужно будет сделать сохранение названия посылки через AJAX -->
<div class="parcel-name-block <% if (OPT.classSuffix) { %>parcel-name-block--<%- OPT.classSuffix %><% } %>">
  <div class="container">
    <div class="editable-header js-transform-field">
      <h2 class="js-transform-field__text js-transform-field__text__wrap">9A7B699N3319566761</h2>
      <input
        class="js-transform-field__input text-input"
        name="parcel-name"
        type="text"
        value="9A7B699N3319566761"
      />
    </div>
  </div>
</div>
<% } else { %>
<div class="parcel-name-block <% if (OPT.classSuffix) { %>parcel-name-block--<%- OPT.classSuffix %><% } %>">
  <div class="container">
    <div class="editable-header editable-header--disabled">
      <h2>9A7B699N3319566761</h2>
    </div>
  </div>
</div>
<% } %>



