.fake-camera {
  position: relative;
  max-width: 600px;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}
.fake-camera,
.fake-camera:hover {
  text-decoration: none;
  color: #000;
}
.fake-camera img {
  width: 100%;
  height: auto;
  display: block;
}
.fake-camera__note {
  position: absolute;
  background: #ffc;
  padding: 1em;
  top: 1em;
  left: 1em;
  max-width: 200px;
}
.fake-camera:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/camera.png") center center no-repeat;
  opacity: 0.5;
}
.inventory-scaner {
  position: relative;
  max-width: 600px;
}
.inventory-scaner__alerts {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}
.inventory-scaner .fake-camera__note {
  top: auto;
  bottom: 0;
}
.inventory-wrap__top,
.inventory-wrap__bottom {
  position: relative;
}
.inventory-wrap__top {
  z-index: 10;
}
.photo-camera-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
}
.photo-camera-popup .fake-camera {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-position: center center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
}
.photo-confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
}
.photo-confirm-popup__head {
  height: 50px;
  width: 100%;
  border-bottom: solid 1px #e7e7e7;
  background: #f8f8f8;
  color: #777;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 20px;
}
.photo-confirm-popup__photo {
  position: absolute;
  right: 0;
  left: 0;
  top: 50px;
  bottom: 50px;
  background-color: #f7f7f7;
  background-position: center center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
.photo-confirm-popup__btns {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #fff;
  text-align: center;
  padding-top: 8px;
}
.remove-photo-btn {
  display: block;
  position: absolute;
  top: 1px;
  right: 16px;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 1.5em;
}
.remove-photo-btn:hover {
  opacity: 1;
}
