html, body
  height 100%
.page-wrap
  position relative
  padding-bottom px2em(554)
  min-height 100%
  @media (max-width: 1294px)
    padding-bottom px2em(545)
.footer__wrap
  position absolute
  bottom 0
  right 0
  left 0



.footer
  background #ff592e
  color #ffffff
  position relative
  padding px2em(45) 0 px2em(60)
  a
    display inline-block
    @extend .border-link
    &:hover
      opacity .8
  &:before
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    width px2em(25)
    background #0000ff
  &__menu
    setFont(18, 24, 400, 9)
    margin-bottom px2em(85,18)
  &__social
    li
      display inline-block
      margin-right px2em(5)
    a
      border none
  &__contacts, &__storages
    h4
      setFont(14, 17, 200)
      text-transform uppercase
      margin-bottom px2em(15,14)
  &__contacts
    &__email, &__phone
      setFont(18, 22, 400, 9)
    &__email
      margin-bottom px2em(38,18)
    &__phone
      margin-bottom px2em(20,18)
      small
        font-size px2em(14,18)
        line-height px2em(17,14)
        font-weight 400
        text-transform uppercase
        display block
      a
        border none
   &__storages
    a
      setFont(18, 22, 400, 9)
    li
      margin-bottom px2em(20)
    &__name
      setFont(14, 17, 200)
      text-transform uppercase
      display block
  &__bottom
    setFont(14, 17, 600, 13)
    margin-top px2em(120,14)
    a
      border none
      margin-bottom px2em(1,14);
