.popover
  position absolute
  box-sizing border-box
  right 50%
  bottom 50%
  width px2em(240)
  cursor default
  opacity 0
  visibility hidden
  transition all .2s
  transform-origin 100% 50%
  &.is-visible
    opacity 1
    visibility visible
  &__target
    position relative
    cursor pointer
  &__content
    popover-font-size = 12
    setFont(popover-font-size, 14, 200)
    color #969495
    text-transform none
    position absolute
    box-sizing border-box
    bottom px2em(38,popover-font-size)
    right -50%
    width 100%
    padding px2em(20,popover-font-size) px2em(28,popover-font-size)
    background #fff
    border solid 1px
    &:before, &:after
      content ''
      display block
      position absolute
    &:before
      width 0
      height px2em(38,popover-font-size)
      top 100%
      left 50%
      border-right 1px solid #969495
    &:after
      width px2em(7,popover-font-size)
      height px2em(7,popover-font-size)
      bottom px2em(-42,popover-font-size)
      left 50%
      margin-left px2em(-3)
      background #969495
      border-radius px2em(100,popover-font-size)
  &--for-round-icon &__content
    &:after
      display none
    &:before
      height px2em(33)
  &--target-width
    width 100%
