<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-6">
        <div class="succes-message">
          <img src="<?php echo $this->getSkinUrl('images/illustrations/success-letter.svg') ?>">
          <h3><?php echo $this->__('Все почти готово!') ?></h3>
          <p class="single-form-page__text">
            <?php echo $this->__('Мы отправили Вам письмо с просьбой подтвердить email адрес.') ?><br/>
			<?php echo $this->__('Пожалуйста, проверьте Ваш почтовый ящик и подтвердите свою регистрацию.') ?>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Google Code for &#1056;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1103; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 956684402;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "HhbLCMTAp1kQ8rCXyAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/956684402/?label=HhbLCMTAp1kQ8rCXyAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>