<div class="call-to-act landing-hello">
    <div class="container">
        <div class="call-to-act__content">
            <h2><?php echo $this->__('Экономьте с каждой покупкой<br/>вместе с Pochta.fi') ?></h2>
            <p class="call-to-act__descr">
                <?php echo $this->__('Покупайте в интернет-магазинах всего мира<br/>и забирайте покупки в наших приграничных пунктах выдачи<br/>в Финляндии.') ?>
            </p>
            <div class="row call-to-act__btn-wrap">
                <div class="col-3">
                    <a href="#registration" class="call-to-act__btn">
                        <?php echo $this->__('Начать пользоваться сервисом') ?><br/>
                        <small><?php echo $this->__('%s € за посылку, первая - бесплатно', Mage::getModel('core/variable')->setStoreId(Mage::app()->getStore()->getId())->loadByCode('default_cost')->getValue('text')) ?></small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing-how-it-works">
    <div class="container">
        <h3><?php echo $this->__('Как это работает?') ?></h3>
        <ul class="row">
            <li class="col-2">
                <span class="landing-step__num"><?php echo $this->__('1') ?></span>

                <p class="landing-step__title"><?php echo $this->__('Получите адрес<br/>для покупок по всему миру') ?></p>
                <img src="<?php echo $this->getSkinUrl('images/illustrations/step-1.svg') ?>" class="landing-step__img" />

                <p class="landing-step__descr">
                    <?php echo $this->__('Зарегистрируйтесь на&nbsp;сайте и&nbsp;получите личный почтовый адрес для оформления покупок в&nbsp;зарубежных интернет-магазинах.') ?>
                </p>
            </li>
            <li class="col-2">
                <span class="landing-step__num"><?php echo $this->__('2') ?></span>

                <p class="landing-step__title"><?php echo $this->__('Совершайте<br/>покупки<br/><br/>') ?></p>
                <img src="<?php echo $this->getSkinUrl('images/illustrations/step-2.svg') ?>" class="landing-step__img" />

                <p class="landing-step__descr">
                    <?php echo $this->__('Заказывайте посылку на&nbsp;ваш адрес для покупок из-за границы.') ?>
                </p>
            </li>
            <li class="col-2">
                <span class="landing-step__num"><?php echo $this->__('3') ?></span>

                <p class="landing-step__title"><?php echo $this->__('Забирайте<br/>посылки<br/><br/>') ?></p>
                <img src="<?php echo $this->getSkinUrl('images/illustrations/step-3.svg') ?>" class="landing-step__img" />
                <div class="landing-step__descr">
                    <?php echo $this->__('Забирайте посылки, оплатив %s евро за обработку и', Mage::getModel('core/variable')->setStoreId(Mage::app()->getStore()->getId())->loadByCode('default_cost')->getValue('text')) ?>
                    <span class="dashed-text popover__target js-popover-target">
                        <?php echo $this->__('30% депозит') ?>
                        <div class="popover js-popover">
                            <div class="popover__content">
                                <?php echo $this->__('Как ваш таможенный агент, мы обязаны вносить 30% от стоимости каждой посылки в&nbsp;качестве депозита финской таможне. Как только посылка покидает Финляндию — мы&nbsp;возвращаем депозит вам.') ?>
                            </div>
                        </div>
                    </span>
                    <?php echo $this->__(', который вернется вам после пересечения границы.') ?>
                </div>
            </li>
            <li class="col-2">
                <span class="landing-step__num"><?php echo $this->__('4') ?></span>

                <p class="landing-step__title"><?php echo $this->__('Получайте<br/>возврат депозита<br/><br/>') ?></p>
                <img src="<?php echo $this->getSkinUrl('images/illustrations/step-4.svg') ?>" class="landing-step__img" />

                <p class="landing-step__descr">
                    <?php echo $this->__('Пройдите финскую границу, проставьте отметку экспортного контроля и&nbsp;получите возврат депозита в&nbsp;течение суток.') ?>
                </p>
            </li>
        </ul>
    </div>
</div>


<div class="call-to-act landing-friend">
    <div class="container">
        <div class="call-to-act__content">
            <h2><?php echo $this->__('Вашу посылку<br/>может забрать друг') ?></h2>
            <p class="call-to-act__descr">
                <?php echo $this->__('Ваши друзья собираются в Финляндию?<br/>Укажите на сайте, кто заберет посылку за вас.') ?>
            </p>
            <div class="row call-to-act__btn-wrap">
                <div class="col-3">
                    <a href="#registration" class="call-to-act__btn">
                        <?php echo $this->__('Начать пользоваться сервисом') ?><br/>
                        <small><?php echo $this->__('%s € за посылку, первая - бесплатно', Mage::getModel('core/variable')->setStoreId(Mage::app()->getStore()->getId())->loadByCode('default_cost')->getValue('text')) ?></small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing-prices">
    <div class="container">
        <h2>Покупайте любимые бренды со всего мира<br/>по лучшим ценам вместе с Pochta.fi</h2>
        <div class="world-prices js-tabs">

            <ul class="world-prices__menu">
                <li data-tab-btn="0" class="active">Туфли</li>
<!--            
				<li data-tab-btn="1">Cумка</li> 
-->
                <li data-tab-btn="2">Джинсы</li>
                <li data-tab-btn="3">Тренч</li>
                <li data-tab-btn="4">Ботинки</li>
                <li data-tab-btn="5">Очки</li>
            </ul>

            <div class="world-prices__info" data-tab="0">
                <img src="<?php echo $this->getSkinUrl('images/logos/brand-louboutin@2x.png') ?>">
                <h4>Туфли</h4>
                <p class="world-prices__info__name">
                    CHRISTIAN<br/>LOUBOUTIN
                </p>
                <p class="world-prices__info__bottom">
                    Указаны средние цены интернет-магазинов на 6.11.14
                </p>
            </div>

            <div class="world-prices__info" data-tab="1">
                <img src="<?php echo $this->getSkinUrl('images/logos/brand-hermes@2x.png') ?>">
                <h4>Cумка</h4>
                <p class="world-prices__info__name">
                    Birkin bag by<br/>Hermès
                </p>
                <p class="world-prices__info__bottom">
                    Указаны средние цены интернет-магазинов на 6.11.14
                </p>
            </div>

            <div class="world-prices__info" data-tab="2">
                <img src="<?php echo $this->getSkinUrl('images/logos/brand-levis@2x.png') ?>">
                <h4>Джинсы</h4>
                <p class="world-prices__info__name">
                    Levi Strauss & Co
                </p>
                <p class="world-prices__info__bottom">
                    Указаны средние цены интернет-магазинов на 6.11.14
                </p>
            </div>

            <div class="world-prices__info" data-tab="3">
                <img src="<?php echo $this->getSkinUrl('images/logos/brand-burberry@2x.png') ?>">
                <h4>Тренч</h4>
                <p class="world-prices__info__name">
                    Burberry
                </p>
                <p class="world-prices__info__bottom">
                    Указаны средние цены интернет-магазинов на 6.11.14
                </p>
            </div>

            <div class="world-prices__info" data-tab="4">
                <img src="<?php echo $this->getSkinUrl('images/logos/brand-timberland@2x.png') ?>">
                <h4>Ботинки</h4>
                <p class="world-prices__info__name">
                    Timberland
                </p>
                <p class="world-prices__info__bottom">
                    Указаны средние цены интернет-магазинов на 6.11.14
                </p>
            </div>

            <div class="world-prices__info" data-tab="5">
                <img src="<?php echo $this->getSkinUrl('images/logos/brand-rayban@2x.png') ?>">
                <h4>Очки</h4>
                <p class="world-prices__info__name">
                    Ray Ban
                </p>
                <p class="world-prices__info__bottom">
                    Указаны средние цены интернет-магазинов на 6.11.14
                </p>
            </div>

            <div class="world-prices__price" data-tab="0">
                <div class="world-prices__price__item world-prices__price__item--paris">
                    <div class="world-prices__price__item__num"><strong>25 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Париж</div>
                </div>
                <div class="world-prices__price__item world-prices__price__item--local">
                    <div class="world-prices__price__item__num"><strong>45 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Петербург</div>
                </div>
            </div>

            <div class="world-prices__price" data-tab="1">
                <div class="world-prices__price__item world-prices__price__item--rome">
                    <div class="world-prices__price__item__num"><strong>75 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Рим</div>
                </div>
                <div class="world-prices__price__item world-prices__price__item--local">
                    <div class="world-prices__price__item__num"><strong>75 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Петербург</div>
                </div>
            </div>

            <div class="world-prices__price" data-tab="2">
                <div class="world-prices__price__item world-prices__price__item--new-york">
                    <div class="world-prices__price__item__num"><strong>1 500</strong> р.</div>
                    <div class="world-prices__price__item__loc">Нью-йорк</div>
                </div>
                <div class="world-prices__price__item world-prices__price__item--local">
                    <div class="world-prices__price__item__num"><strong>4 500</strong> р.</div>
                    <div class="world-prices__price__item__loc">Петербург</div>
                </div>
            </div>

            <div class="world-prices__price" data-tab="3">
                <div class="world-prices__price__item world-prices__price__item--london">
                    <div class="world-prices__price__item__num"><strong>65 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Лондон</div>
                </div>
                <div class="world-prices__price__item world-prices__price__item--local">
                    <div class="world-prices__price__item__num"><strong>85 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Петербург</div>
                </div>
            </div>

            <div class="world-prices__price" data-tab="4">
                <div class="world-prices__price__item world-prices__price__item--new-york">
                    <div class="world-prices__price__item__num"><strong>4 500</strong> р.</div>
                    <div class="world-prices__price__item__loc">Нью-йорк</div>
                </div>
                <div class="world-prices__price__item world-prices__price__item--local">
                    <div class="world-prices__price__item__num"><strong>9 500</strong> р.</div>
                    <div class="world-prices__price__item__loc">Петербург</div>
                </div>
            </div>

            <div class="world-prices__price" data-tab="5">
                <div class="world-prices__price__item world-prices__price__item--rome">
                    <div class="world-prices__price__item__num"><strong>3 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Рим</div>
                </div>
                <div class="world-prices__price__item world-prices__price__item--local">
                    <div class="world-prices__price__item__num"><strong>7 000</strong> р.</div>
                    <div class="world-prices__price__item__loc">Петербург</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="landing-features">
    <div class="container">
        <h2><?php echo $this->__('Наши преимущества') ?></h2>
        <div class="row">
            <div class="col-3">
                <h3><?php echo $this->__('Это выгодно') ?></h3>
                <ul>
                    <li><?php echo $this->__('Всего %s евро<br/>за посылку', Mage::getModel('core/variable')->setStoreId(Mage::app()->getStore()->getId())->loadByCode('default_cost')->getValue('text')) ?></li>
                    <li><?php echo $this->__('Никакой абонентской<br/>платы') ?></li>
                    <li><?php echo $this->__('Никаких таможенных<br/>платежей') ?></li>
                </ul>
            </div>
            <div class="col-3">
                <h3><?php echo $this->__('Это удобно') ?></h3>
                <ul>
                    <li><?php echo $this->__('Не все продавцы отправляют<br/>в Россию, на наши адреса — все') ?></li>
                    <li><?php echo $this->__('Отделения находятся прямо<br/>у пограничных пунктов') ?></li>

                    <li><?php echo $this->__('Удобный график работы:<br/>ежедневно с 9:00 до 22:00') ?></li>
                </ul>
            </div>
            <div class="col-3">
                <h3><?php echo $this->__('Дополнительные возможности') ?></h3>
                <ul>
                    <li><?php echo $this->__('Посылку может забрать<br/>ваш друг') ?></li>
                    <li><?php echo $this->__('Вернем товар продавцу<br/>за вас') ?></li>
                    <li><?php echo $this->__('Любые габариты от<br/>айфона до велосипеда') ?></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<?php require_once __DIR__ . "/register.phtml" ?>