<div class="modal-dialog">
    <div class="modal-content">
        <div class="auth-modal">

            <h3><?php echo $this->__('Войти в личный кабинет') ?></h3>

            <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

            <form action="<?php echo $this->getUrl('customer/account/loginPost') ?>" method="post">
                <?php echo $this->getBlockHtml('formkey'); ?>
                <input type="hidden" name="error_url" value="<?php echo $this->getUrl('customer/account/login') ?>" />

                <!-- Пример поля с ошибкой -->
                <div class="form-group<?php echo false ? ' has-error' : '' ?>">
<!--
                    <p class="form-field-error">
                        <?php echo $this->__('Неверный адрес электронной почты') ?>
                    </p>
-->
                    <input type="text" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Электронная почта') ?>" name="login[username]" />
                </div>

                <div class="form-group">
<!--
                    <p class="form-field-error">
                        <?php echo $this->__('Неверный пароль') ?>
                    </p>
-->
                    <input type="password" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Пароль') ?>" name="login[password]" />
                </div>
                <div class="auth-modal__save">
                    <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__('Войти') ?></button>
                </div>
            </form>
            <p class="auth-modal__alt-action">
                <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>"><?php echo $this->__('Восстановить забытый пароль') ?></a>
            </p>

            <?php
            $filter = new Mage_Widget_Model_Template_Filter();
            $_widget = $filter->filter('{{widget type="hybridauth/login" template="cms/widget/link/link_block.phtml" template="hybridauth/HybridAuth/hybridauth_form_login.phtml"}}');
            echo $_widget;
            ?>
<!--
            <div class="oauth">
                <p><?php echo $this->__('или войдите через') ?></p>
                <ul>
                    <li class="oauth__vk">
                        <button class="oauth__btn" type="button"><?php echo $this->__('Вконтакте') ?></button>
                    </li>
                    <li class="oauth__odnoklassniki">
                        <button class="oauth__btn" type="button"><?php echo $this->__('Одноклассники') ?></button>
                    </li>
                    <li class="oauth__facebook">
                        <button class="oauth__btn" type="button"><?php echo $this->__('Facebook') ?></button>
                    </li>
                </ul>
            </div>
-->
            <p class="auth-modal__alt-action">
                <a href="<?php echo $this->getUrl('customer/account/create') ?>"><?php echo $this->__('Нет аккаунта? Зарегистрируйтесь') ?></a>
            </p>

        </div>
    </div>
</div>