<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-5">
        <h3><?php echo $this->__('Изменение пароля') ?></h3>
        <p class="single-form-page__text">
          <?php echo $this->__('Укажите свою электронную почту, и мы вышлем вам инструкции для смены пароля.') ?>
        </p>

          <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <form class="large-form" action="<?php echo $this->getUrl('customer/account/forgotpasswordpost') ?>" method="post" id="form-validate">
          <div class="form-group">
            <input type="text" class="form-control js-fix-ph" placeholder="<?php echo $this->__('Введите вашу электронную почту') ?>" name="email" value="<?php echo $this->escapeHtml($this->getEmailValue()) ?>" />
          </div>
          <div class="form-group">
            <button type="submit" class="large-form__btn"><?php echo $this->__('Отправить') ?></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>