<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-5">
        <h3><?php echo $this->__('Ваш новый пароль') ?></h3>

          <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <form class="large-form" action="<?php echo $this->getUrl('*/*/resetpasswordpost', array('_query' => array('id' => $this->getCustomerId(), 'token' => $this->getResetPasswordLinkToken()))); ?>" method="post" id="form-validate">
          <div class="form-group">
              <input type="password" class="form-control js-fix-ph input-text required-entry validate-password" placeholder="<?php echo $this->__('Введите ваш пароль') ?>" name="password" id="password" />
          </div>
          <div class="form-group has-error">
              <input type="password" class="form-control js-fix-ph input-text required-entry validate-cpassword" placeholder="<?php echo $this->__('Введите пароль повторно') ?>" name="confirmation" id="confirmation" />
<!--            <p class="form-error">Пароли не совпадают</p> -->
          </div>
          <div class="form-group">
            <button type="submit" class="large-form__btn"><?php echo $this->__('Отправить') ?></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>